In [1]:
import pandas as pd
import numpy as np

In [636]:
TEST_DATASET_PATH = 'market_logs.csv'

In [637]:
df = pd.read_csv(TEST_DATASET_PATH)
df

,Date,Price,Desc
0,mLog: market trd at 1622505601191796236 with s...,price 1108.9,traded volume 36 then book became 6@1108.7x11...
1,mLog: market trd at 1622505601222248272 with s...,price 1108.7,traded volume 17 then book became 10@1108.5x1...
2,mLog: market trd at 1622505601364445668 with s...,price 1108.5,traded volume 20 then book became 16@1108.3x1...
3,mLog: market trd at 1622505601405325968 with s...,price 1108.6,traded volume 1 then book became 16@1108.3x11...
4,mLog: market trd at 1622505601406994624 with s...,price 1108.3,traded volume 16 then book became 18@1108.2x1...
...,...,...,...
397797,mLog: market trd at 1627626542759155628 with s...,price 1150.5,traded volume 1 then book became 217@1150.4x1...
397798,mLog: market trd at 1627626543983252140 with s...,price 1150.5,traded volume 1 then book became 187@1150.4x1...
397799,mLog: market trd at 1627626549091604988 with s...,price 1150.5,traded volume 94 then book became 6@1150.5x11...
397800,mLog: market trd at 1627626549092524892 with s...,price 1150.5,traded volume 6 then book became 177@1150.4x1...
397801,mLog: market trd at 1627626549492660420 with s...,price 1150.5,traded volume 2 then book became 197@1150.4x1...

In [638]:
Train_DATASET_PATH = 'exec_logs.csv'

In [639]:
exec_df = pd.read_csv(Train_DATASET_PATH)
exec_df.head()

,Date,Side,Price,traded volume,volume_left,delta_execsend
0,eLog: order exec at 1622505601222248272 with i...,side 1,price 1108.6,traded volume 1,volume left on level 10,delta_execsend 30451968
1,eLog: order exec at 1622505601424113404 with i...,side -1,price 1108.4,traded volume 1,volume left on level 22,delta_execsend 17118720
2,eLog: order exec at 1622505601604667896 with i...,side 1,price 1108.3,traded volume 1,volume left on level 2,delta_execsend 153866496
3,eLog: order exec at 1622505602982200992 with i...,side -1,price 1108.4,traded volume 1,volume left on level 1,delta_execsend 153371136
4,eLog: order exec at 1622505603600579508 with i...,side 1,price 1108.3,traded volume 1,volume left on level 6,delta_execsend 618378496

In [640]:
df

,Date,Price,Desc
0,mLog: market trd at 1622505601191796236 with s...,price 1108.9,traded volume 36 then book became 6@1108.7x11...
1,mLog: market trd at 1622505601222248272 with s...,price 1108.7,traded volume 17 then book became 10@1108.5x1...
2,mLog: market trd at 1622505601364445668 with s...,price 1108.5,traded volume 20 then book became 16@1108.3x1...
3,mLog: market trd at 1622505601405325968 with s...,price 1108.6,traded volume 1 then book became 16@1108.3x11...
4,mLog: market trd at 1622505601406994624 with s...,price 1108.3,traded volume 16 then book became 18@1108.2x1...
...,...,...,...
397797,mLog: market trd at 1627626542759155628 with s...,price 1150.5,traded volume 1 then book became 217@1150.4x1...
397798,mLog: market trd at 1627626543983252140 with s...,price 1150.5,traded volume 1 then book became 187@1150.4x1...
397799,mLog: market trd at 1627626549091604988 with s...,price 1150.5,traded volume 94 then book became 6@1150.5x11...
397800,mLog: market trd at 1627626549092524892 with s...,price 1150.5,traded volume 6 then book became 177@1150.4x1...
397801,mLog: market trd at 1627626549492660420 with s...,price 1150.5,traded volume 2 then book became 197@1150.4x1...

In [641]:
exec_df

,Date,Side,Price,traded volume,volume_left,delta_execsend
0,eLog: order exec at 1622505601222248272 with i...,side 1,price 1108.6,traded volume 1,volume left on level 10,delta_execsend 30451968
1,eLog: order exec at 1622505601424113404 with i...,side -1,price 1108.4,traded volume 1,volume left on level 22,delta_execsend 17118720
2,eLog: order exec at 1622505601604667896 with i...,side 1,price 1108.3,traded volume 1,volume left on level 2,delta_execsend 153866496
3,eLog: order exec at 1622505602982200992 with i...,side -1,price 1108.4,traded volume 1,volume left on level 1,delta_execsend 153371136
4,eLog: order exec at 1622505603600579508 with i...,side 1,price 1108.3,traded volume 1,volume left on level 6,delta_execsend 618378496
...,...,...,...,...,...,...
8677,eLog: order exec at 1627626326117581668 with i...,side 1,price 1149.9,traded volume 1,volume left on level 564,delta_execsend 2381312
8678,eLog: order exec at 1627626397873668620 with i...,side -1,price 1150.2,traded volume 1,volume left on level 331,delta_execsend 1296281088
8679,eLog: order exec at 1627626412584847188 with i...,side 1,price 1150.1,traded volume 1,volume left on level 97,delta_execsend 14703859968
8680,eLog: order exec at 1627626473991536064 with i...,side -1,price 1150.4,traded volume 1,volume left on level 10,delta_execsend 12134184704
8681,eLog: order exec at 1627626512859773452 with i...,side 1,price 1150.6,traded volume 1,volume left on level 15,delta_execsend 14734981632

In [642]:
Date_market_list = df['Date'].tolist()
Date_market_list

['mLog: market trd at 1622505601191796236 with side -1',
 'mLog: market trd at 1622505601222248272 with side -1',
 'mLog: market trd at 1622505601364445668 with side -1',
 'mLog: market trd at 1622505601405325968 with side 1',
 'mLog: market trd at 1622505601406994624 with side -1',
 'mLog: market trd at 1622505601420017016 with side 1',
 'mLog: market trd at 1622505601420842080 with side 1',
 'mLog: market trd at 1622505601424113404 with side 1',
 'mLog: market trd at 1622505601450801320 with side -1',
 'mLog: market trd at 1622505601597089816 with side 1',
 'mLog: market trd at 1622505601604667896 with side -1',
 'mLog: market trd at 1622505601762434524 with side 1',
 'mLog: market trd at 1622505602059617688 with side -1',
 'mLog: market trd at 1622505602401105564 with side -1',
 'mLog: market trd at 1622505602479992348 with side 1',
 'mLog: market trd at 1622505602480450308 with side 1',
 'mLog: market trd at 1622505602486089000 with side -1',
 'mLog: market trd at 1622505602487592956 with side 1',
 'mLog: market trd at 1622505602665717348 with side 1',
 'mLog: market trd at 1622505602667738408 with side -1',
 'mLog: market trd at 1622505602669309372 with side 1',
 'mLog: market trd at 1622505602828830044 with side -1',
 'mLog: market trd at 1622505602829843488 with side 1',
 'mLog: market trd at 1622505602982200992 with side 1',
 'mLog: market trd at 1622505602984793460 with side -1',
 'mLog: market trd at 1622505603345734956 with side 1',
 'mLog: market trd at 1622505603400614668 with side 1',
 'mLog: market trd at 1622505603600579508 with side -1',
 'mLog: market trd at 1622505603604841132 with side 1',
 'mLog: market trd at 1622505603609332132 with side -1',
 'mLog: market trd at 1622505603695851872 with side 1',
 'mLog: market trd at 1622505603701109584 with side -1',
 'mLog: market trd at 1622505603873486340 with side 1',
 'mLog: market trd at 1622505603886882572 with side 1',
 'mLog: market trd at 1622505603887894820 with side 1',
 'mLog: market trd at 1622505603889377992 with side 1',
 'mLog: market trd at 1622505604093977632 with side 1',
 'mLog: market trd at 1622505604094928676 with side 1',
 'mLog: market trd at 1622505604115206180 with side -1',
 'mLog: market trd at 1622505604199083192 with side -1',
 'mLog: market trd at 1622505604314196284 with side 1',
 'mLog: market trd at 1622505604390983964 with side -1',
 'mLog: market trd at 1622505604420777420 with side -1',
 'mLog: market trd at 1622505604672821284 with side 1',
 'mLog: market trd at 1622505604678581252 with side -1',
 'mLog: market trd at 1622505604679022672 with side 1',
 'mLog: market trd at 1622505604682992032 with side 1',
 'mLog: market trd at 1622505604683461744 with side 1',
 'mLog: market trd at 1622505604684470924 with side 1',
 'mLog: market trd at 1622505604749149828 with side 1',
 'mLog: market trd at 1622505604749724696 with side 1',
 'mLog: market trd at 1622505604842915988 with side 1',
 'mLog: market trd at 1622505604845586444 with side -1',
 'mLog: market trd at 1622505604864209208 with side 1',
 'mLog: market trd at 1622505604864770860 with side 1',
 'mLog: market trd at 1622505604865862232 with side -1',
 'mLog: market trd at 1622505604877105732 with side -1',
 'mLog: market trd at 1622505604923085456 with side 1',
 'mLog: market trd at 1622505604971944220 with side -1',
 'mLog: market trd at 1622505605036488336 with side -1',
 'mLog: market trd at 1622505605093746208 with side -1',
 'mLog: market trd at 1622505605094704672 with side -1',
 'mLog: market trd at 1622505605339054592 with side 1',
 'mLog: market trd at 1622505605897538852 with side -1',
 'mLog: market trd at 1622505606366905152 with side -1',
 'mLog: market trd at 1622505606417009048 with side 1',
 'mLog: market trd at 1622505606673089976 with side -1',
 'mLog: market trd at 1622505606674564508 with side 1',
 'mLog: market trd at 1622505606675829808 with side 1',
 'mLog: market trd at 1622505606698822060 with side 1',
 'mLog: market trd at 1622505606754170580 with side -1',
 'mLog: market trd at 1622505606755235380 with side 1',
 'mLog: market trd at 1622505606796245128 with side -1',
 'mLog: market trd at 1622505607274962072 with side -1',
 'mLog: market trd at 1622505607465416772 with side -1',
 'mLog: market trd at 1622505607667809388 with side 1',
 'mLog: market trd at 1622505607671337828 with side -1',
 'mLog: market trd at 1622505607713429184 with side -1',
 'mLog: market trd at 1622505607748013428 with side 1',
 'mLog: market trd at 1622505607938699236 with side -1',
 'mLog: market trd at 1622505608138958112 with side -1',
 'mLog: market trd at 1622505608206651700 with side -1',
 'mLog: market trd at 1622505608289598456 with side -1',
 'mLog: market trd at 1622505608364204504 with side -1',
 'mLog: market trd at 1622505608426427148 with side -1',
 'mLog: market trd at 1622505608664219320 with side 1',
 'mLog: market trd at 1622505608744541816 with side 1',
 'mLog: market trd at 1622505608824095356 with side 1',
 'mLog: market trd at 1622505609361315840 with side -1',
 'mLog: market trd at 1622505609942768296 with side 1',
 'mLog: market trd at 1622505610032858684 with side 1',
 'mLog: market trd at 1622505610600408240 with side -1',
 'mLog: market trd at 1622505610945827292 with side -1',
 'mLog: market trd at 1622505611469886656 with side -1',
 'mLog: market trd at 1622505611496794180 with side 1',
 'mLog: market trd at 1622505611544889688 with side 1',
 'mLog: market trd at 1622505611604289924 with side 1',
 'mLog: market trd at 1622505611710241244 with side 1',
 'mLog: market trd at 1622505611925196996 with side -1',
 'mLog: market trd at 1622505612071192028 with side 1',
 'mLog: market trd at 1622505612096971656 with side 1',
 'mLog: market trd at 1622505612098544956 with side -1',
 'mLog: market trd at 1622505612712323784 with side -1',
 'mLog: market trd at 1622505612807502976 with side -1',
 'mLog: market trd at 1622505613192545312 with side 1',
 'mLog: market trd at 1622505614091121576 with side -1',
 'mLog: market trd at 1622505614560885928 with side -1',
 'mLog: market trd at 1622505615168713204 with side 1',
 'mLog: market trd at 1622505616051943760 with side 1',
 'mLog: market trd at 1622505616187079072 with side 1',
 'mLog: market trd at 1622505616499198208 with side -1',
 'mLog: market trd at 1622505616499791028 with side -1',
 'mLog: market trd at 1622505616500522448 with side 1',
 'mLog: market trd at 1622505616501568800 with side -1',
 'mLog: market trd at 1622505616504878104 with side -1',
 'mLog: market trd at 1622505616736031232 with side 1',
 'mLog: market trd at 1622505617142502388 with side 1',
 'mLog: market trd at 1622505617143540632 with side 1',
 'mLog: market trd at 1622505618053676996 with side -1',
 'mLog: market trd at 1622505619168563212 with side 1',
 'mLog: market trd at 1622505620047910092 with side 1',
 'mLog: market trd at 1622505620048969152 with side -1',
 'mLog: market trd at 1622505620346272484 with side 1',
 'mLog: market trd at 1622505620729690416 with side 1',
 'mLog: market trd at 1622505620931520316 with side 1',
 'mLog: market trd at 1622505620932859600 with side -1',
 'mLog: market trd at 1622505621025850360 with side 1',
 'mLog: market trd at 1622505621028140076 with side -1',
 'mLog: market trd at 1622505621650118112 with side -1',
 'mLog: market trd at 1622505621781147104 with side 1',
 'mLog: market trd at 1622505621861385084 with side 1',
 'mLog: market trd at 1622505621951245072 with side -1',
 'mLog: market trd at 1622505622336424760 with side -1',
 'mLog: market trd at 1622505622400526312 with side -1',
 'mLog: market trd at 1622505622463076536 with side 1',
 'mLog: market trd at 1622505622528388572 with side -1',
 'mLog: market trd at 1622505623745989488 with side 1',
 'mLog: market trd at 1622505623746221756 with side -1',
 'mLog: market trd at 1622505623747428132 with side 1',
 'mLog: market trd at 1622505623774716372 with side -1',
 'mLog: market trd at 1622505623806822012 with side -1',
 'mLog: market trd at 1622505623814498840 with side 1',
 'mLog: market trd at 1622505623905000564 with side -1',
 'mLog: market trd at 1622505623905389468 with side -1',
 'mLog: market trd at 1622505623914111520 with side 1',
 'mLog: market trd at 1622505623914831440 with side -1',
 'mLog: market trd at 1622505623915551132 with side -1',
 'mLog: market trd at 1622505623916639072 with side -1',
 'mLog: market trd at 1622505623918790900 with side -1',
 'mLog: market trd at 1622505623973400816 with side -1',
 'mLog: market trd at 1622505623977205972 with side -1',
 'mLog: market trd at 1622505624050572744 with side 1',
 'mLog: market trd at 1622505624126301984 with side 1',
 'mLog: market trd at 1622505624188651728 with side 1',
 'mLog: market trd at 1622505624189758768 with side 1',
 'mLog: market trd at 1622505624418543392 with side 1',
 'mLog: market trd at 1622505624868799304 with side 1',
 'mLog: market trd at 1622505624943867600 with side 1',
 'mLog: market trd at 1622505624967413560 with side -1',
 'mLog: market trd at 1622505625199429148 with side 1',
 'mLog: market trd at 1622505625323555508 with side 1',
 'mLog: market trd at 1622505625327365360 with side 1',
 'mLog: market trd at 1622505625371781032 with side 1',
 'mLog: market trd at 1622505625388729408 with side -1',
 'mLog: market trd at 1622505625396615416 with side 1',
 'mLog: market trd at 1622505625449568820 with side -1',
 'mLog: market trd at 1622505625454409968 with side -1',
 'mLog: market trd at 1622505625470003536 with side -1',
 'mLog: market trd at 1622505625511852760 with side 1',
 'mLog: market trd at 1622505625512541976 with side -1',
 'mLog: market trd at 1622505625513570860 with side -1',
 'mLog: market trd at 1622505625514729484 with side -1',
 'mLog: market trd at 1622505625515188804 with side -1',
 'mLog: market trd at 1622505625523096824 with side -1',
 'mLog: market trd at 1622505625583824184 with side -1',
 'mLog: market trd at 1622505625600729176 with side -1',
 'mLog: market trd at 1622505625612733576 with side -1',
 'mLog: market trd at 1622505625635468928 with side 1',
 'mLog: market trd at 1622505625667329652 with side 1',
 'mLog: market trd at 1622505625668561980 with side -1',
 'mLog: market trd at 1622505625669541368 with side -1',
 'mLog: market trd at 1622505625908780268 with side -1',
 'mLog: market trd at 1622505625910031700 with side 1',
 'mLog: market trd at 1622505625910949588 with side 1',
 'mLog: market trd at 1622505625924801836 with side -1',
 'mLog: market trd at 1622505626248937544 with side -1',
 'mLog: market trd at 1622505626251339296 with side -1',
 'mLog: market trd at 1622505626296555844 with side -1',
 'mLog: market trd at 1622505626515785876 with side -1',
 'mLog: market trd at 1622505626606449320 with side 1',
 'mLog: market trd at 1622505626607500356 with side -1',
 'mLog: market trd at 1622505626608316148 with side -1',
 'mLog: market trd at 1622505626690731944 with side -1',
 'mLog: market trd at 1622505626703052392 with side -1',
 'mLog: market trd at 1622505626710428184 with side 1',
 'mLog: market trd at 1622505627190585016 with side -1',
 'mLog: market trd at 1622505627234130532 with side -1',
 'mLog: market trd at 1622505627292488520 with side -1',
 'mLog: market trd at 1622505627470770072 with side 1',
 'mLog: market trd at 1622505627536832016 with side 1',
 'mLog: market trd at 1622505627823160348 with side 1',
 'mLog: market trd at 1622505627827630224 with side -1',
 'mLog: market trd at 1622505627828597964 with side 1',
 'mLog: market trd at 1622505627880324228 with side -1',
 'mLog: market trd at 1622505627892380612 with side 1',
 'mLog: market trd at 1622505628139778784 with side -1',
 'mLog: market trd at 1622505628178753560 with side 1',
 'mLog: market trd at 1622505628181038628 with side 1',
 'mLog: market trd at 1622505628291767688 with side -1',
 'mLog: market trd at 1622505628292736020 with side 1',
 'mLog: market trd at 1622505628595316700 with side -1',
 'mLog: market trd at 1622505628757840108 with side 1',
 'mLog: market trd at 1622505629287655104 with side -1',
 'mLog: market trd at 1622505629489905768 with side -1',
 'mLog: market trd at 1622505629490270868 with side 1',
 'mLog: market trd at 1622505629490988884 with side 1',
 'mLog: market trd at 1622505629505980572 with side 1',
 'mLog: market trd at 1622505629667591064 with side 1',
 'mLog: market trd at 1622505629884009108 with side 1',
 'mLog: market trd at 1622505630588094984 with side -1',
 'mLog: market trd at 1622505630589846208 with side 1',
 'mLog: market trd at 1622505630616539268 with side 1',
 'mLog: market trd at 1622505630617012448 with side 1',
 'mLog: market trd at 1622505630760172952 with side -1',
 'mLog: market trd at 1622505630761049456 with side 1',
 'mLog: market trd at 1622505630761526512 with side 1',
 'mLog: market trd at 1622505630762266036 with side 1',
 'mLog: market trd at 1622505630763987428 with side -1',
 'mLog: market trd at 1622505630999385828 with side 1',
 'mLog: market trd at 1622505631051682992 with side 1',
 'mLog: market trd at 1622505631166049584 with side 1',
 'mLog: market trd at 1622505631410429520 with side -1',
 'mLog: market trd at 1622505631481244216 with side -1',
 'mLog: market trd at 1622505631947728016 with side 1',
 'mLog: market trd at 1622505632320409284 with side 1',
 'mLog: market trd at 1622505632331420424 with side -1',
 'mLog: market trd at 1622505632515227856 with side -1',
 'mLog: market trd at 1622505635395300792 with side -1',
 'mLog: market trd at 1622505635983148044 with side -1',
 'mLog: market trd at 1622505636143463156 with side 1',
 'mLog: market trd at 1622505636156121060 with side 1',
 'mLog: market trd at 1622505636158982192 with side -1',
 'mLog: market trd at 1622505636172781704 with side -1',
 'mLog: market trd at 1622505636283979228 with side 1',
 'mLog: market trd at 1622505638256133944 with side 1',
 'mLog: market trd at 1622505639342138420 with side -1',
 'mLog: market trd at 1622505639627224804 with side 1',
 'mLog: market trd at 1622505639628274000 with side 1',
 'mLog: market trd at 1622505639628734332 with side 1',
 'mLog: market trd at 1622505639649062300 with side -1',
 'mLog: market trd at 1622505639651190584 with side 1',
 'mLog: market trd at 1622505639669484244 with side -1',
 'mLog: market trd at 1622505639704999324 with side 1',
 'mLog: market trd at 1622505639708237180 with side -1',
 'mLog: market trd at 1622505640040548876 with side -1',
 'mLog: market trd at 1622505640219757200 with side 1',
 'mLog: market trd at 1622505642987322792 with side -1',
 'mLog: market trd at 1622505642990141776 with side -1',
 'mLog: market trd at 1622505642991360872 with side -1',
 'mLog: market trd at 1622505642992252136 with side -1',
 'mLog: market trd at 1622505643144628864 with side 1',
 'mLog: market trd at 1622505643217027080 with side -1',
 'mLog: market trd at 1622505643272503288 with side -1',
 'mLog: market trd at 1622505643276143256 with side 1',
 'mLog: market trd at 1622505643299016708 with side 1',
 'mLog: market trd at 1622505643299974652 with side -1',
 'mLog: market trd at 1622505643300466328 with side 1',
 'mLog: market trd at 1622505643328812428 with side 1',
 'mLog: market trd at 1622505643863947176 with side 1',
 'mLog: market trd at 1622505644038697960 with side -1',
 'mLog: market trd at 1622505644172796700 with side -1',
 'mLog: market trd at 1622505644178434028 with side -1',
 'mLog: market trd at 1622505644209621628 with side 1',
 'mLog: market trd at 1622505644233440288 with side -1',
 'mLog: market trd at 1622505644243854660 with side -1',
 'mLog: market trd at 1622505644251829016 with side -1',
 'mLog: market trd at 1622505644253743184 with side 1',
 'mLog: market trd at 1622505644254485096 with side 1',
 'mLog: market trd at 1622505644254873860 with side 1',
 'mLog: market trd at 1622505644255985568 with side 1',
 'mLog: market trd at 1622505644256367260 with side 1',
 'mLog: market trd at 1622505644259598368 with side 1',
 'mLog: market trd at 1622505644268706912 with side 1',
 'mLog: market trd at 1622505644269660840 with side -1',
 'mLog: market trd at 1622505644273014264 with side -1',
 'mLog: market trd at 1622505644283523360 with side -1',
 'mLog: market trd at 1622505644302421744 with side 1',
 'mLog: market trd at 1622505644318524808 with side -1',
 'mLog: market trd at 1622505644334366204 with side -1',
 'mLog: market trd at 1622505644549978172 with side 1',
 'mLog: market trd at 1622505645051880652 with side 1',
 'mLog: market trd at 1622505645179801808 with side 1',
 'mLog: market trd at 1622505645494076616 with side 1',
 'mLog: market trd at 1622505646160955628 with side 1',
 'mLog: market trd at 1622505646192393396 with side 1',
 'mLog: market trd at 1622505646194964464 with side -1',
 'mLog: market trd at 1622505646686692376 with side 1',
 'mLog: market trd at 1622505646987922236 with side -1',
 'mLog: market trd at 1622505646989300028 with side -1',
 'mLog: market trd at 1622505647109480376 with side 1',
 'mLog: market trd at 1622505647385098704 with side 1',
 'mLog: market trd at 1622505647601130256 with side 1',
 'mLog: market trd at 1622505647759677184 with side 1',
 'mLog: market trd at 1622505649278603532 with side 1',
 'mLog: market trd at 1622505650058249292 with side 1',
 'mLog: market trd at 1622505650441174520 with side 1',
 'mLog: market trd at 1622505650462700008 with side 1',
 'mLog: market trd at 1622505650463079028 with side 1',
 'mLog: market trd at 1622505650463534900 with side 1',
 'mLog: market trd at 1622505650463908720 with side 1',
 'mLog: market trd at 1622505650518311216 with side -1',
 'mLog: market trd at 1622505650520864948 with side 1',
 'mLog: market trd at 1622505650521365872 with side 1',
 'mLog: market trd at 1622505650532244200 with side 1',
 'mLog: market trd at 1622505650542746948 with side 1',
 'mLog: market trd at 1622505650551540088 with side 1',
 'mLog: market trd at 1622505651283229420 with side 1',
 'mLog: market trd at 1622505651366549624 with side 1',
 'mLog: market trd at 1622505652438723408 with side 1',
 'mLog: market trd at 1622505652439894008 with side 1',
 'mLog: market trd at 1622505653156978596 with side 1',
 'mLog: market trd at 1622505653157640552 with side 1',
 'mLog: market trd at 1622505653193790204 with side -1',
 'mLog: market trd at 1622505653542868880 with side 1',
 'mLog: market trd at 1622505653567442776 with side 1',
 'mLog: market trd at 1622505653567820612 with side 1',
 'mLog: market trd at 1622505653820876932 with side 1',
 'mLog: market trd at 1622505653821827968 with side 1',
 'mLog: market trd at 1622505653822378564 with side 1',
 'mLog: market trd at 1622505653823386024 with side 1',
 'mLog: market trd at 1622505654370371020 with side 1',
 'mLog: market trd at 1622505654371664496 with side 1',
 'mLog: market trd at 1622505654423889564 with side -1',
 'mLog: market trd at 1622505654537557664 with side 1',
 'mLog: market trd at 1622505655346783684 with side -1',
 'mLog: market trd at 1622505656313368424 with side -1',
 'mLog: market trd at 1622505656578432640 with side 1',
 'mLog: market trd at 1622505657624571428 with side 1',
 'mLog: market trd at 1622505657814168096 with side 1',
 'mLog: market trd at 1622505657816925180 with side 1',
 'mLog: market trd at 1622505657828663256 with side -1',
 'mLog: market trd at 1622505657830398272 with side 1',
 'mLog: market trd at 1622505657871356576 with side 1',
 'mLog: market trd at 1622505657894597544 with side -1',
 'mLog: market trd at 1622505657896174268 with side 1',
 'mLog: market trd at 1622505657914126244 with side 1',
 'mLog: market trd at 1622505657947069124 with side -1',
 'mLog: market trd at 1622505657947590844 with side 1',
 'mLog: market trd at 1622505657962678736 with side 1',
 'mLog: market trd at 1622505658374617980 with side 1',
 'mLog: market trd at 1622505658540438124 with side -1',
 'mLog: market trd at 1622505658682086608 with side 1',
 'mLog: market trd at 1622505659204266532 with side 1',
 'mLog: market trd at 1622505659240011624 with side -1',

In [643]:
import re
right_date_time = []
for i in Date_market_list:
    right_date_time.append(re.findall('\d+', i))
right_date_time

[['1622505601191796236', '1'],
 ['1622505601222248272', '1'],
 ['1622505601364445668', '1'],
 ['1622505601405325968', '1'],
 ['1622505601406994624', '1'],
 ['1622505601420017016', '1'],
 ['1622505601420842080', '1'],
 ['1622505601424113404', '1'],
 ['1622505601450801320', '1'],
 ['1622505601597089816', '1'],
 ['1622505601604667896', '1'],
 ['1622505601762434524', '1'],
 ['1622505602059617688', '1'],
 ['1622505602401105564', '1'],
 ['1622505602479992348', '1'],
 ['1622505602480450308', '1'],
 ['1622505602486089000', '1'],
 ['1622505602487592956', '1'],
 ['1622505602665717348', '1'],
 ['1622505602667738408', '1'],
 ['1622505602669309372', '1'],
 ['1622505602828830044', '1'],
 ['1622505602829843488', '1'],
 ['1622505602982200992', '1'],
 ['1622505602984793460', '1'],
 ['1622505603345734956', '1'],
 ['1622505603400614668', '1'],
 ['1622505603600579508', '1'],
 ['1622505603604841132', '1'],
 ['1622505603609332132', '1'],
 ['1622505603695851872', '1'],
 ['1622505603701109584', '1'],
 ['1622505603873486340', '1'],
 ['1622505603886882572', '1'],
 ['1622505603887894820', '1'],
 ['1622505603889377992', '1'],
 ['1622505604093977632', '1'],
 ['1622505604094928676', '1'],
 ['1622505604115206180', '1'],
 ['1622505604199083192', '1'],
 ['1622505604314196284', '1'],
 ['1622505604390983964', '1'],
 ['1622505604420777420', '1'],
 ['1622505604672821284', '1'],
 ['1622505604678581252', '1'],
 ['1622505604679022672', '1'],
 ['1622505604682992032', '1'],
 ['1622505604683461744', '1'],
 ['1622505604684470924', '1'],
 ['1622505604749149828', '1'],
 ['1622505604749724696', '1'],
 ['1622505604842915988', '1'],
 ['1622505604845586444', '1'],
 ['1622505604864209208', '1'],
 ['1622505604864770860', '1'],
 ['1622505604865862232', '1'],
 ['1622505604877105732', '1'],
 ['1622505604923085456', '1'],
 ['1622505604971944220', '1'],
 ['1622505605036488336', '1'],
 ['1622505605093746208', '1'],
 ['1622505605094704672', '1'],
 ['1622505605339054592', '1'],
 ['1622505605897538852', '1'],
 ['1622505606366905152', '1'],
 ['1622505606417009048', '1'],
 ['1622505606673089976', '1'],
 ['1622505606674564508', '1'],
 ['1622505606675829808', '1'],
 ['1622505606698822060', '1'],
 ['1622505606754170580', '1'],
 ['1622505606755235380', '1'],
 ['1622505606796245128', '1'],
 ['1622505607274962072', '1'],
 ['1622505607465416772', '1'],
 ['1622505607667809388', '1'],
 ['1622505607671337828', '1'],
 ['1622505607713429184', '1'],
 ['1622505607748013428', '1'],
 ['1622505607938699236', '1'],
 ['1622505608138958112', '1'],
 ['1622505608206651700', '1'],
 ['1622505608289598456', '1'],
 ['1622505608364204504', '1'],
 ['1622505608426427148', '1'],
 ['1622505608664219320', '1'],
 ['1622505608744541816', '1'],
 ['1622505608824095356', '1'],
 ['1622505609361315840', '1'],
 ['1622505609942768296', '1'],
 ['1622505610032858684', '1'],
 ['1622505610600408240', '1'],
 ['1622505610945827292', '1'],
 ['1622505611469886656', '1'],
 ['1622505611496794180', '1'],
 ['1622505611544889688', '1'],
 ['1622505611604289924', '1'],
 ['1622505611710241244', '1'],
 ['1622505611925196996', '1'],
 ['1622505612071192028', '1'],
 ['1622505612096971656', '1'],
 ['1622505612098544956', '1'],
 ['1622505612712323784', '1'],
 ['1622505612807502976', '1'],
 ['1622505613192545312', '1'],
 ['1622505614091121576', '1'],
 ['1622505614560885928', '1'],
 ['1622505615168713204', '1'],
 ['1622505616051943760', '1'],
 ['1622505616187079072', '1'],
 ['1622505616499198208', '1'],
 ['1622505616499791028', '1'],
 ['1622505616500522448', '1'],
 ['1622505616501568800', '1'],
 ['1622505616504878104', '1'],
 ['1622505616736031232', '1'],
 ['1622505617142502388', '1'],
 ['1622505617143540632', '1'],
 ['1622505618053676996', '1'],
 ['1622505619168563212', '1'],
 ['1622505620047910092', '1'],
 ['1622505620048969152', '1'],
 ['1622505620346272484', '1'],
 ['1622505620729690416', '1'],
 ['1622505620931520316', '1'],
 ['1622505620932859600', '1'],
 ['1622505621025850360', '1'],
 ['1622505621028140076', '1'],
 ['1622505621650118112', '1'],
 ['1622505621781147104', '1'],
 ['1622505621861385084', '1'],
 ['1622505621951245072', '1'],
 ['1622505622336424760', '1'],
 ['1622505622400526312', '1'],
 ['1622505622463076536', '1'],
 ['1622505622528388572', '1'],
 ['1622505623745989488', '1'],
 ['1622505623746221756', '1'],
 ['1622505623747428132', '1'],
 ['1622505623774716372', '1'],
 ['1622505623806822012', '1'],
 ['1622505623814498840', '1'],
 ['1622505623905000564', '1'],
 ['1622505623905389468', '1'],
 ['1622505623914111520', '1'],
 ['1622505623914831440', '1'],
 ['1622505623915551132', '1'],
 ['1622505623916639072', '1'],
 ['1622505623918790900', '1'],
 ['1622505623973400816', '1'],
 ['1622505623977205972', '1'],
 ['1622505624050572744', '1'],
 ['1622505624126301984', '1'],
 ['1622505624188651728', '1'],
 ['1622505624189758768', '1'],
 ['1622505624418543392', '1'],
 ['1622505624868799304', '1'],
 ['1622505624943867600', '1'],
 ['1622505624967413560', '1'],
 ['1622505625199429148', '1'],
 ['1622505625323555508', '1'],
 ['1622505625327365360', '1'],
 ['1622505625371781032', '1'],
 ['1622505625388729408', '1'],
 ['1622505625396615416', '1'],
 ['1622505625449568820', '1'],
 ['1622505625454409968', '1'],
 ['1622505625470003536', '1'],
 ['1622505625511852760', '1'],
 ['1622505625512541976', '1'],
 ['1622505625513570860', '1'],
 ['1622505625514729484', '1'],
 ['1622505625515188804', '1'],
 ['1622505625523096824', '1'],
 ['1622505625583824184', '1'],
 ['1622505625600729176', '1'],
 ['1622505625612733576', '1'],
 ['1622505625635468928', '1'],
 ['1622505625667329652', '1'],
 ['1622505625668561980', '1'],
 ['1622505625669541368', '1'],
 ['1622505625908780268', '1'],
 ['1622505625910031700', '1'],
 ['1622505625910949588', '1'],
 ['1622505625924801836', '1'],
 ['1622505626248937544', '1'],
 ['1622505626251339296', '1'],
 ['1622505626296555844', '1'],
 ['1622505626515785876', '1'],
 ['1622505626606449320', '1'],
 ['1622505626607500356', '1'],
 ['1622505626608316148', '1'],
 ['1622505626690731944', '1'],
 ['1622505626703052392', '1'],
 ['1622505626710428184', '1'],
 ['1622505627190585016', '1'],
 ['1622505627234130532', '1'],
 ['1622505627292488520', '1'],
 ['1622505627470770072', '1'],
 ['1622505627536832016', '1'],
 ['1622505627823160348', '1'],
 ['1622505627827630224', '1'],
 ['1622505627828597964', '1'],
 ['1622505627880324228', '1'],
 ['1622505627892380612', '1'],
 ['1622505628139778784', '1'],
 ['1622505628178753560', '1'],
 ['1622505628181038628', '1'],
 ['1622505628291767688', '1'],
 ['1622505628292736020', '1'],
 ['1622505628595316700', '1'],
 ['1622505628757840108', '1'],
 ['1622505629287655104', '1'],
 ['1622505629489905768', '1'],
 ['1622505629490270868', '1'],
 ['1622505629490988884', '1'],
 ['1622505629505980572', '1'],
 ['1622505629667591064', '1'],
 ['1622505629884009108', '1'],
 ['1622505630588094984', '1'],
 ['1622505630589846208', '1'],
 ['1622505630616539268', '1'],
 ['1622505630617012448', '1'],
 ['1622505630760172952', '1'],
 ['1622505630761049456', '1'],
 ['1622505630761526512', '1'],
 ['1622505630762266036', '1'],
 ['1622505630763987428', '1'],
 ['1622505630999385828', '1'],
 ['1622505631051682992', '1'],
 ['1622505631166049584', '1'],
 ['1622505631410429520', '1'],
 ['1622505631481244216', '1'],
 ['1622505631947728016', '1'],
 ['1622505632320409284', '1'],
 ['1622505632331420424', '1'],
 ['1622505632515227856', '1'],
 ['1622505635395300792', '1'],
 ['1622505635983148044', '1'],
 ['1622505636143463156', '1'],
 ['1622505636156121060', '1'],
 ['1622505636158982192', '1'],
 ['1622505636172781704', '1'],
 ['1622505636283979228', '1'],
 ['1622505638256133944', '1'],
 ['1622505639342138420', '1'],
 ['1622505639627224804', '1'],
 ['1622505639628274000', '1'],
 ['1622505639628734332', '1'],
 ['1622505639649062300', '1'],
 ['1622505639651190584', '1'],
 ['1622505639669484244', '1'],
 ['1622505639704999324', '1'],
 ['1622505639708237180', '1'],
 ['1622505640040548876', '1'],
 ['1622505640219757200', '1'],
 ['1622505642987322792', '1'],
 ['1622505642990141776', '1'],
 ['1622505642991360872', '1'],
 ['1622505642992252136', '1'],
 ['1622505643144628864', '1'],
 ['1622505643217027080', '1'],
 ['1622505643272503288', '1'],
 ['1622505643276143256', '1'],
 ['1622505643299016708', '1'],
 ['1622505643299974652', '1'],
 ['1622505643300466328', '1'],
 ['1622505643328812428', '1'],
 ['1622505643863947176', '1'],
 ['1622505644038697960', '1'],
 ['1622505644172796700', '1'],
 ['1622505644178434028', '1'],
 ['1622505644209621628', '1'],
 ['1622505644233440288', '1'],
 ['1622505644243854660', '1'],
 ['1622505644251829016', '1'],
 ['1622505644253743184', '1'],
 ['1622505644254485096', '1'],
 ['1622505644254873860', '1'],
 ['1622505644255985568', '1'],
 ['1622505644256367260', '1'],
 ['1622505644259598368', '1'],
 ['1622505644268706912', '1'],
 ['1622505644269660840', '1'],
 ['1622505644273014264', '1'],
 ['1622505644283523360', '1'],
 ['1622505644302421744', '1'],
 ['1622505644318524808', '1'],
 ['1622505644334366204', '1'],
 ['1622505644549978172', '1'],
 ['1622505645051880652', '1'],
 ['1622505645179801808', '1'],
 ['1622505645494076616', '1'],
 ['1622505646160955628', '1'],
 ['1622505646192393396', '1'],
 ['1622505646194964464', '1'],
 ['1622505646686692376', '1'],
 ['1622505646987922236', '1'],
 ['1622505646989300028', '1'],
 ['1622505647109480376', '1'],
 ['1622505647385098704', '1'],
 ['1622505647601130256', '1'],
 ['1622505647759677184', '1'],
 ['1622505649278603532', '1'],
 ['1622505650058249292', '1'],
 ['1622505650441174520', '1'],
 ['1622505650462700008', '1'],
 ['1622505650463079028', '1'],
 ['1622505650463534900', '1'],
 ['1622505650463908720', '1'],
 ['1622505650518311216', '1'],
 ['1622505650520864948', '1'],
 ['1622505650521365872', '1'],
 ['1622505650532244200', '1'],
 ['1622505650542746948', '1'],
 ['1622505650551540088', '1'],
 ['1622505651283229420', '1'],
 ['1622505651366549624', '1'],
 ['1622505652438723408', '1'],
 ['1622505652439894008', '1'],
 ['1622505653156978596', '1'],
 ['1622505653157640552', '1'],
 ['1622505653193790204', '1'],
 ['1622505653542868880', '1'],
 ['1622505653567442776', '1'],
 ['1622505653567820612', '1'],
 ['1622505653820876932', '1'],
 ['1622505653821827968', '1'],
 ['1622505653822378564', '1'],
 ['1622505653823386024', '1'],
 ['1622505654370371020', '1'],
 ['1622505654371664496', '1'],
 ['1622505654423889564', '1'],
 ['1622505654537557664', '1'],
 ['1622505655346783684', '1'],
 ['1622505656313368424', '1'],
 ['1622505656578432640', '1'],
 ['1622505657624571428', '1'],
 ['1622505657814168096', '1'],
 ['1622505657816925180', '1'],
 ['1622505657828663256', '1'],
 ['1622505657830398272', '1'],
 ['1622505657871356576', '1'],
 ['1622505657894597544', '1'],
 ['1622505657896174268', '1'],
 ['1622505657914126244', '1'],
 ['1622505657947069124', '1'],
 ['1622505657947590844', '1'],
 ['1622505657962678736', '1'],
 ['1622505658374617980', '1'],
 ['1622505658540438124', '1'],
 ['1622505658682086608', '1'],
 ['1622505659204266532', '1'],
 ['1622505659240011624', '1'],
 ['1622505659269643812', '1'],
 ['1622505659270973272', '1'],
 ['1622505659766215136', '1'],
 ['1622505660078582140', '1'],
 ['1622505660432590360', '1'],
 ['1622505661415755432', '1'],
 ['1622505661517130224', '1'],
 ['1622505661924279708', '1'],
 ['1622505661960217752', '1'],
 ['1622505662611832608', '1'],
 ['1622505662612020752', '1'],
 ['1622505662612938852', '1'],
 ['1622505662710495904', '1'],
 ['1622505664039188688', '1'],
 ['1622505664044741684', '1'],
 ['1622505664309152380', '1'],
 ['1622505666357887340', '1'],
 ['1622505666359001876', '1'],
 ['1622505667273054384', '1'],
 ['1622505668992824084', '1'],
 ['1622505672628078812', '1'],
 ['1622505673543997492', '1'],
 ['1622505673646759484', '1'],
 ['1622505673647771596', '1'],
 ['1622505675614060932', '1'],
 ['1622505675846521968', '1'],
 ['1622505676056928284', '1'],
 ['1622505679041909712', '1'],
 ['1622505679113069912', '1'],
 ['1622505680974270292', '1'],
 ['1622505681080258068', '1'],
 ['1622505681286267468', '1'],
 ['1622505681501583736', '1'],
 ['1622505683544262472', '1'],
 ['1622505685471119208', '1'],
 ['1622505687874880420', '1'],
 ['1622505687930731372', '1'],
 ['1622505689259602624', '1'],
 ['1622505693990114384', '1'],
 ['1622505694598567324', '1'],
 ['1622505695018326644', '1'],
 ['1622505707009451640', '1'],
 ['1622505707012643812', '1'],
 ['1622505707610573212', '1'],
 ['1622505707613828384', '1'],
 ['1622505710064604096', '1'],
 ['1622505710086584328', '1'],
 ['1622505710090553604', '1'],
 ['1622505712697823680', '1'],
 ['1622505712698833032', '1'],
 ['1622505714839921488', '1'],
 ['1622505714840621772', '1'],
 ['1622505714841802536', '1'],
 ['1622505714842961508', '1'],
 ['1622505714862633748', '1'],
 ['1622505714863099988', '1'],
 ['1622505714864035416', '1'],
 ['1622505717909747068', '1'],
 ['1622505717912616272', '1'],
 ['1622505720829044408', '1'],
 ['1622505720829694976', '1'],
 ['1622505720830689324', '1'],
 ['1622505720844877672', '1'],
 ['1622505721015828468', '1'],
 ['1622505721940213240', '1'],
 ['1622505721942470400', '1'],
 ['1622505722052855824', '1'],
 ['1622505722869224840', '1'],
 ['1622505722877021884', '1'],
 ['1622505724688556896', '1'],
 ['1622505728097226488', '1'],
 ['1622505728127849028', '1'],
 ['1622505728667433760', '1'],
 ['1622505728668551160', '1'],
 ['1622505728677218876', '1'],
 ['1622505728678961840', '1'],
 ['1622505730341892220', '1'],
 ['1622505732028548028', '1'],
 ['1622505732029533076', '1'],
 ['1622505732768990764', '1'],
 ['1622505737290286420', '1'],
 ['1622505738732584248', '1'],
 ['1622505739509671076', '1'],
 ['1622505739750018524', '1'],
 ['1622505739806561864', '1'],
 ['1622505741384279224', '1'],
 ['1622505742253186664', '1'],
 ['1622505742287444708', '1'],
 ['1622505743147077360', '1'],
 ['1622505743584450096', '1'],
 ['1622505743968878632', '1'],
 ['1622505745206072400', '1'],
 ['1622505745207945528', '1'],
 ['1622505745267450320', '1'],
 ['1622505752855450924', '1'],
 ['1622505753824287228', '1'],
 ['1622505754463460316', '1'],
 ['1622505754464961948', '1'],
 ['1622505755540145364', '1'],
 ['1622505756421499408', '1'],
 ['1622505756425105864', '1'],
 ['1622505757261568088', '1'],
 ['1622505757263938708', '1'],
 ['1622505759376273688', '1'],
 ['1622505759520211892', '1'],
 ['1622505759649092736', '1'],
 ['1622505760103847740', '1'],
 ['1622505760105278828', '1'],
 ['1622505760788516984', '1'],
 ['1622505760790300552', '1'],
 ['1622505760978565452', '1'],
 ['1622505761282954584', '1'],
 ['1622505764174731980', '1'],
 ['1622505765950858716', '1'],
 ['1622505768748054240', '1'],
 ['1622505768749068796', '1'],
 ['1622505768751297640', '1'],
 ['1622505771664985556', '1'],
 ['1622505771902079756', '1'],
 ['1622505779966613316', '1'],
 ['1622505780487528284', '1'],
 ['1622505792192202880', '1'],
 ['1622505795147307680', '1'],
 ['1622505799933067028', '1'],
 ['1622505801704387300', '1'],
 ['1622505802639354544', '1'],
 ['1622505802950001540', '1'],
 ['1622505805301773020', '1'],
 ['1622505809049573644', '1'],
 ['1622505809284282868', '1'],
 ['1622505809461063376', '1'],
 ['1622505813124929884', '1'],
 ['1622505813297808668', '1'],
 ['1622505820614492972', '1'],
 ['1622505820631315160', '1'],
 ['1622505820694817784', '1'],
 ['1622505824278547832', '1'],
 ['1622505824735377016', '1'],
 ['1622505825186069720', '1'],
 ['1622505825517130512', '1'],
 ['1622505828358715072', '1'],
 ['1622505828945125964', '1'],
 ['1622505828945894424', '1'],
 ['1622505828946268852', '1'],
 ['1622505829279053720', '1'],
 ['1622505832058617260', '1'],
 ['1622505834140494952', '1'],
 ['1622505836160349124', '1'],
 ['1622505836734347876', '1'],
 ['1622505836765603712', '1'],
 ['1622505837075452196', '1'],
 ['1622505838659246356', '1'],
 ['1622505839127561868', '1'],
 ['1622505839324763712', '1'],
 ['1622505841029542528', '1'],
 ['1622505841030867752', '1'],
 ['1622505841033296900', '1'],
 ['1622505841099545480', '1'],
 ['1622505841159915772', '1'],
 ['1622505841226904480', '1'],
 ['1622505841291928164', '1'],
 ['1622505841300497696', '1'],
 ['1622505841302096348', '1'],
 ['1622505841347744464', '1'],
 ['1622505841413110752', '1'],
 ['1622505841475767872', '1'],
 ['1622505841894256100', '1'],
 ['1622505841895863460', '1'],
 ['1622505841896412160', '1'],
 ['1622505841931004756', '1'],
 ['1622505842030895300', '1'],
 ['1622505842067554964', '1'],
 ['1622505845500634244', '1'],
 ['1622505845501560344', '1'],
 ['1622505845502999040', '1'],
 ['1622505845505033980', '1'],
 ['1622505845508646192', '1'],
 ['1622505845509107056', '1'],
 ['1622505845994231740', '1'],
 ['1622505847131552296', '1'],
 ['1622505848837972548', '1'],
 ['1622505849545572340', '1'],
 ['1622505854861160812', '1'],
 ['1622505856196228692', '1'],
 ['1622505856197101704', '1'],
 ['1622505856197824488', '1'],
 ['1622505856198070612', '1'],
 ['1622505856198806524', '1'],
 ['1622505856202944720', '1'],
 ['1622505856561046448', '1'],
 ['1622505857094117984', '1'],
 ['1622505858163045272', '1'],
 ['1622505858336873376', '1'],
 ['1622505858358811404', '1'],
 ['1622505858359610468', '1'],
 ['1622505858660318004', '1'],
 ['1622505861497835592', '1'],
 ['1622505862621419056', '1'],
 ['1622505862625308064', '1'],
 ['1622505864651029112', '1'],
 ['1622505865933291484', '1'],
 ['1622505869193913128', '1'],
 ['1622505872481394852', '1'],
 ['1622505872510074332', '1'],
 ['1622505872531125844', '1'],
 ['1622505875754461160', '1'],
 ['1622505876242271128', '1'],
 ['1622505876242654704', '1'],
 ['1622505877169911068', '1'],
 ['1622505879098231804', '1'],
 ['1622505881495099592', '1'],
 ['1622505881497083668', '1'],
 ['1622505881956950220', '1'],
 ['1622505881958166452', '1'],
 ['1622505885729092476', '1'],
 ['1622505885730234728', '1'],
 ['1622505885731244128', '1'],
 ['1622505885732164496', '1'],
 ['1622505885732927544', '1'],
 ['1622505886489260416', '1'],
 ['1622505886491605616', '1'],
 ['1622505888351589732', '1'],
 ['1622505888352644692', '1'],
 ['1622505888419264816', '1'],
 ['1622505888716269400', '1'],
 ['1622505888718100932', '1'],
 ['1622505889236929140', '1'],
 ['1622505890746447428', '1'],
 ['1622505890917116844', '1'],
 ['1622505890927467040', '1'],
 ['1622505890931261852', '1'],
 ['1622505890935320688', '1'],
 ['1622505893243950496', '1'],
 ['1622505893251025300', '1'],
 ['1622505893592502176', '1'],
 ['1622505894056750024', '1'],
 ['1622505894159868520', '1'],
 ['1622505894247644920', '1'],
 ['1622505894249341292', '1'],
 ['1622505894777312816', '1'],
 ['1622505894815265508', '1'],
 ['1622505894816181268', '1'],
 ['1622505894816760800', '1'],
 ['1622505894818525300', '1'],
 ['1622505894819188588', '1'],
 ['1622505894819834544', '1'],
 ['1622505894820678112', '1'],
 ['1622505894822534492', '1'],
 ['1622505895074690640', '1'],
 ['1622505895086496832', '1'],
 ['1622505896074367240', '1'],
 ['1622505896674792572', '1'],
 ['1622505896724256328', '1'],
 ['1622505896748398536', '1'],
 ['1622505896751136000', '1'],
 ['1622505896758666724', '1'],
 ['1622505896768823972', '1'],
 ['1622505896769399984', '1'],
 ['1622505896770199620', '1'],
 ['1622505896771244812', '1'],
 ['1622505896778261872', '1'],
 ['1622505896785493844', '1'],
 ['1622505896786046160', '1'],
 ['1622505896788814860', '1'],
 ['1622505896802590744', '1'],
 ['1622505896802953536', '1'],
 ['1622505898203729176', '1'],
 ['1622505898206180092', '1'],
 ['1622505898207633792', '1'],
 ['1622505898209359960', '1'],
 ['1622505898211096160', '1'],
 ['1622505898512207196', '1'],
 ['1622505899318608504', '1'],
 ['1622505901284012956', '1'],
 ['1622505901285904612', '1'],
 ['1622505901287553028', '1'],
 ['1622505901368161532', '1'],
 ['1622505901475724336', '1'],
 ['1622505901484935156', '1'],
 ['1622505901724770912', '1'],
 ['1622505903249492024', '1'],
 ['1622505903251148552', '1'],
 ['1622505903575622192', '1'],
 ['1622505903593952632', '1'],
 ['1622505903903994024', '1'],
 ['1622505903904938120', '1'],
 ['1622505903922207744', '1'],
 ['1622505904103411108', '1'],
 ['1622505904115176872', '1'],
 ['1622505905106628340', '1'],
 ['1622505907512475276', '1'],

In [644]:
right_date_time = pd.DataFrame(right_date_time)
right_date_time

                          0  1
0       1622505601191796236  1
1       1622505601222248272  1
2       1622505601364445668  1
3       1622505601405325968  1
4       1622505601406994624  1
...                     ... ..
397797  1627626542759155628  1
397798  1627626543983252140  1
397799  1627626549091604988  1
397800  1627626549092524892  1
397801  1627626549492660420  1

[397802 rows x 2 columns]

In [645]:
right_date_time = right_date_time.rename(columns={'0':'Date', '1':'state'})

In [646]:
right_date_time

                          0  1
0       1622505601191796236  1
1       1622505601222248272  1
2       1622505601364445668  1
3       1622505601405325968  1
4       1622505601406994624  1
...                     ... ..
397797  1627626542759155628  1
397798  1627626543983252140  1
397799  1627626549091604988  1
397800  1627626549092524892  1
397801  1627626549492660420  1

[397802 rows x 2 columns]

In [647]:
right_date_time.iloc[:, 0]

0         1622505601191796236
1         1622505601222248272
2         1622505601364445668
3         1622505601405325968
4         1622505601406994624
                 ...
397797    1627626542759155628
397798    1627626543983252140
397799    1627626549091604988
397800    1627626549092524892
397801    1627626549492660420
Name: 0, Length: 397802, dtype: object

In [648]:
right_date_time.iloc[:, 0] = pd.to_numeric(right_date_time.iloc[:, 0])

In [649]:
right_date_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397802 entries, 0 to 397801
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       397802 non-null  int64
 1   1       397802 non-null  object
dtypes: int64(1), object(1)
memory usage: 6.1+ MB

In [650]:
from datetime import datetime, date, time

In [651]:
right_date_time = pd.DataFrame(pd.to_datetime(right_date_time.iloc[:, 0]))

In [652]:
right_date_time

                                   0
0      2021-06-01 00:00:01.191796236
1      2021-06-01 00:00:01.222248272
2      2021-06-01 00:00:01.364445668
3      2021-06-01 00:00:01.405325968
4      2021-06-01 00:00:01.406994624
...                              ...
397797 2021-07-30 06:29:02.759155628
397798 2021-07-30 06:29:03.983252140
397799 2021-07-30 06:29:09.091604988
397800 2021-07-30 06:29:09.092524892
397801 2021-07-30 06:29:09.492660420

[397802 rows x 1 columns]

In [653]:
right_date_time.iloc[:, 0] = right_date_time.iloc[:, 0].dt.floor('S')

In [654]:
right_date_time.iloc[:, 0]

0        2021-06-01 00:00:01
1        2021-06-01 00:00:01
2        2021-06-01 00:00:01
3        2021-06-01 00:00:01
4        2021-06-01 00:00:01
                 ...
397797   2021-07-30 06:29:02
397798   2021-07-30 06:29:03
397799   2021-07-30 06:29:09
397800   2021-07-30 06:29:09
397801   2021-07-30 06:29:09
Name: 0, Length: 397802, dtype: datetime64[ns]

In [655]:
Date_exec_list = exec_df['Date'].tolist()
Date_exec_list

['eLog: order exec at 1622505601222248272 with id 281481419161600',
 'eLog: order exec at 1622505601424113404 with id 562956395872256',
 'eLog: order exec at 1622505601604667896 with id 844431372582912',
 'eLog: order exec at 1622505602982200992 with id 1125906349293568',
 'eLog: order exec at 1622505603600579508 with id 1407381326004224',
 'eLog: order exec at 1622505603889220836 with id 1688856302714880',
 'eLog: order exec at 1622505604314049524 with id 2251806256136192',
 'eLog: order exec at 1622505604420777420 with id 1970331279425536',
 'eLog: order exec at 1622505604672281296 with id 2814756209557504',
 'eLog: order exec at 1622505606673089976 with id 2533281232846848',
 'eLog: order exec at 1622505606698822060 with id 3377706162978816',
 'eLog: order exec at 1622505606754170580 with id 3096231186268160',
 'eLog: order exec at 1622505607274962072 with id 3659181139689472',
 'eLog: order exec at 1622505616503591029 with id 3940656116400128',
 'eLog: order exec at 1622505619168563212 with id 4503606069821440',
 'eLog: order exec at 1622505625908780268 with id 4222131093110784',
 'eLog: order exec at 1622505626606449320 with id 5066556023242752',
 'eLog: order exec at 1622505626703052392 with id 4785081046532096',
 'eLog: order exec at 1622505627470770072 with id 5629505976664064',
 'eLog: order exec at 1622505639342138420 with id 5348030999953408',
 'eLog: order exec at 1622505642987322792 with id 5910980953374720',
 'eLog: order exec at 1622505650440849832 with id 6192455930085376',
 'eLog: order exec at 1622505653157640552 with id 6755405883506688',
 'eLog: order exec at 1622505662611832608 with id 6473930906796032',
 'eLog: order exec at 1622505675846521968 with id 7036880860217344',
 'eLog: order exec at 1622505710090553604 with id 7318355836928000',
 'eLog: order exec at 1622505714841671568 with id 7881305790349312',
 'eLog: order exec at 1622505720830689324 with id 7599830813638656',
 'eLog: order exec at 1622505728677218876 with id 8444255743770624',
 'eLog: order exec at 1622505768751163792 with id 8162780767059968',
 'eLog: order exec at 1622505801704387300 with id 8725730720481280',
 'eLog: order exec at 1622505857094117984 with id 9007205697191936',
 'eLog: order exec at 1622505864651029112 with id 9570155650613248',
 'eLog: order exec at 1622505888716269400 with id 9288680673902592',
 'eLog: order exec at 1622505894249341292 with id 10133105604034560',
 'eLog: order exec at 1622505894777312816 with id 9851630627323904',
 'eLog: order exec at 1622505910289983696 with id 10414580580745216',
 'eLog: order exec at 1622505920969004260 with id 10696055557455872',
 'eLog: order exec at 1622505925643512356 with id 10977530534166528',
 'eLog: order exec at 1622505941701979656 with id 11259005510877184',
 'eLog: order exec at 1622506006904182256 with id 11540480487587840',
 'eLog: order exec at 1622506026835574528 with id 11821955464298496',
 'eLog: order exec at 1622506033196008680 with id 12103430441009152',
 'eLog: order exec at 1622506182285306052 with id 12384905417719808',
 'eLog: order exec at 1622506203955286056 with id 12947855371141120',
 'eLog: order exec at 1622506218083531988 with id 12666380394430464',
 'eLog: order exec at 1622506233249175404 with id 13229330347851776',
 'eLog: order exec at 1622506237795442916 with id 13510805324562432',
 'eLog: order exec at 1622506240638960120 with id 13792280301273088',
 'eLog: order exec at 1622506327839884112 with id 14073755277983744',
 'eLog: order exec at 1622506332276607496 with id 14355230254694400',
 'eLog: order exec at 1622506341674165444 with id 14636705231405056',
 'eLog: order exec at 1622506354165252320 with id 14918180208115712',
 'eLog: order exec at 1622506451465132516 with id 15199655184826368',
 'eLog: order exec at 1622506515229077700 with id 15762605138247680',
 'eLog: order exec at 1622506557311698532 with id 15481130161537024',
 'eLog: order exec at 1622506602976223812 with id 16325555091668992',
 'eLog: order exec at 1622506607125775152 with id 16044080114958336',
 'eLog: order exec at 1622506677880443008 with id 16607030068379648',
 'eLog: order exec at 1622506711547117068 with id 16888505045090304',
 'eLog: order exec at 1622506724078536892 with id 17169980021800960',
 'eLog: order exec at 1622506776409895396 with id 17451454998511616',
 'eLog: order exec at 1622506794200861232 with id 17732929975222272',
 'eLog: order exec at 1622506805331132736 with id 18014404951932928',
 'eLog: order exec at 1622506838810708288 with id 18295879928643584',
 'eLog: order exec at 1622506866928334760 with id 18577354905354240',
 'eLog: order exec at 1622506911557788964 with id 19140304858775552',
 'eLog: order exec at 1622506929055230684 with id 18858829882064896',
 'eLog: order exec at 1622506952960472880 with id 19703254812196864',
 'eLog: order exec at 1622507220603266648 with id 19421779835486208',
 'eLog: order exec at 1622507287257610332 with id 19984729788907520',
 'eLog: order exec at 1622507333828638984 with id 20266204765618176',
 'eLog: order exec at 1622507371946553016 with id 20547679742328832',
 'eLog: order exec at 1622507519117694360 with id 20829154719039488',
 'eLog: order exec at 1622507544837641304 with id 21110629695750144',
 'eLog: order exec at 1622507562827533444 with id 21392104672460800',
 'eLog: order exec at 1622507629664943932 with id 21673579649171456',
 'eLog: order exec at 1622508031136495420 with id 21955054625882112',
 'eLog: order exec at 1622508108593545808 with id 22518004579303424',
 'eLog: order exec at 1622508407397655292 with id 22236529602592768',
 'eLog: order exec at 1622508455521837156 with id 22799479556014080',
 'eLog: order exec at 1622508803898177480 with id 23080954532724736',
 'eLog: order exec at 1622508864680675800 with id 23362429509435392',
 'eLog: order exec at 1622509119120876096 with id 23643904486146048',
 'eLog: order exec at 1622509137738053028 with id 23925379462856704',
 'eLog: order exec at 1622509319101865128 with id 24206854439567360',
 'eLog: order exec at 1622509389671135420 with id 24488329416278016',
 'eLog: order exec at 1622509709142414500 with id 24769804392988672',
 'eLog: order exec at 1622509731482698088 with id 25051279369699328',
 'eLog: order exec at 1622509878803807488 with id 25332754346409984',
 'eLog: order exec at 1622509884196879644 with id 25614229323120640',
 'eLog: order exec at 1622510235498712820 with id 25895704299831296',
 'eLog: order exec at 1622510361698814068 with id 26177179276541952',
 'eLog: order exec at 1622510476422177104 with id 26458654253252608',
 'eLog: order exec at 1622510512567764072 with id 27021604206673920',
 'eLog: order exec at 1622510551511862216 with id 26740129229963264',
 'eLog: order exec at 1622510672600411936 with id 27584554160095232',
 'eLog: order exec at 1622511107224444656 with id 27303079183384576',
 'eLog: order exec at 1622511149527549372 with id 27866029136805888',
 'eLog: order exec at 1622511198110208824 with id 28147504113516544',
 'eLog: order exec at 1622511237886217056 with id 28428979090227200',
 'eLog: order exec at 1622511299131534276 with id 28710454066937856',
 'eLog: order exec at 1622511345066672256 with id 29273404020359168',
 'eLog: order exec at 1622511606503812220 with id 28991929043648512',
 'eLog: order exec at 1622511619319136656 with id 29836353973780480',
 'eLog: order exec at 1622511629773431388 with id 29554878997069824',
 'eLog: order exec at 1622511680871901632 with id 30399303927201792',
 'eLog: order exec at 1622511864063384228 with id 30117828950491136',
 'eLog: order exec at 1622511949253377308 with id 30680778903912448',
 'eLog: order exec at 1622512058597267032 with id 30962253880623104',
 'eLog: order exec at 1622512169010051632 with id 31525203834044416',
 'eLog: order exec at 1622512229272658248 with id 31243728857333760',
 'eLog: order exec at 1622512240313512920 with id 32088153787465728',
 'eLog: order exec at 1622512415095703016 with id 31806678810755072',
 'eLog: order exec at 1622512417733270904 with id 32369628764176384',
 'eLog: order exec at 1622512423615276832 with id 32651103740887040',
 'eLog: order exec at 1622512426361955924 with id 32932578717597696',
 'eLog: order exec at 1622512478740023744 with id 33214053694308352',
 'eLog: order exec at 1622512500863377216 with id 33495528671019008',
 'eLog: order exec at 1622512545176233804 with id 33777003647729664',
 'eLog: order exec at 1622512636187973704 with id 34058478624440320',
 'eLog: order exec at 1622512648026981036 with id 34339953601150976',
 'eLog: order exec at 1622512792771003496 with id 34621428577861632',
 'eLog: order exec at 1622512815197487876 with id 34902903554572288',
 'eLog: order exec at 1622512829196310040 with id 35184378531282944',
 'eLog: order exec at 1622512859422793080 with id 35465853507993600',
 'eLog: order exec at 1622512950496649032 with id 35747328484704256',
 'eLog: order exec at 1622513123494994712 with id 36028803461414912',
 'eLog: order exec at 1622513129037585280 with id 36310278438125568',
 'eLog: order exec at 1622513155650786744 with id 36591753414836224',
 'eLog: order exec at 1622513205349020024 with id 36873228391546880',
 'eLog: order exec at 1622513215370775772 with id 37154703368257536',
 'eLog: order exec at 1622513258587359024 with id 37436178344968192',
 'eLog: order exec at 1622513415037263180 with id 37717653321678848',
 'eLog: order exec at 1622513448116146616 with id 37999128298389504',
 'eLog: order exec at 1622514069986606860 with id 38280603275100160',
 'eLog: order exec at 1622514119035883896 with id 38562078251810816',
 'eLog: order exec at 1622514128389467432 with id 38843553228521472',
 'eLog: order exec at 1622514141548642052 with id 39125028205232128',
 'eLog: order exec at 1622514779713768048 with id 39406503181942784',
 'eLog: order exec at 1622514823878134564 with id 39969453135364096',
 'eLog: order exec at 1622514956608626024 with id 39687978158653440',
 'eLog: order exec at 1622515011472542160 with id 40250928112074752',
 'eLog: order exec at 1622515153208347996 with id 40532403088785408',
 'eLog: order exec at 1622515251851041488 with id 41095353042206720',
 'eLog: order exec at 1622515265538491748 with id 40813878065496064',
 'eLog: order exec at 1622515278510447840 with id 41376828018917376',
 'eLog: order exec at 1622515585593125756 with id 41658302995628032',
 'eLog: order exec at 1622515765516824304 with id 41939777972338688',
 'eLog: order exec at 1622516094520427148 with id 42221252949049344',
 'eLog: order exec at 1622516177242447696 with id 42784202902470656',
 'eLog: order exec at 1622516470580557076 with id 42502727925760000',
 'eLog: order exec at 1622516490470378336 with id 43065677879181312',
 'eLog: order exec at 1622516670439773396 with id 43347152855891968',
 'eLog: order exec at 1622516763369630124 with id 43628627832602624',
 'eLog: order exec at 1622516786573218092 with id 43910102809313280',
 'eLog: order exec at 1622516805707618636 with id 44473052762734592',
 'eLog: order exec at 1622517195050044584 with id 44191577786023936',
 'eLog: order exec at 1622517246857247440 with id 45036002716155904',
 'eLog: order exec at 1622517300175988332 with id 44754527739445248',
 'eLog: order exec at 1622517420364408752 with id 45317477692866560',
 'eLog: order exec at 1622517611218758172 with id 45598952669577216',
 'eLog: order exec at 1622517638325113064 with id 45880427646287872',
 'eLog: order exec at 1622517835366256932 with id 46161902622998528',
 'eLog: order exec at 1622517864705082540 with id 46443377599709184',
 'eLog: order exec at 1622518785782376904 with id 46724852576419840',
 'eLog: order exec at 1622518880284281460 with id 47287802529841152',
 'eLog: order exec at 1622519274874349344 with id 47006327553130496',
 'eLog: order exec at 1622519522845783180 with id 47569277506551808',
 'eLog: order exec at 1622519553890093932 with id 47850752483262464',
 'eLog: order exec at 1622519867587417700 with id 48132227459973120',
 'eLog: order exec at 1622520149095679472 with id 48413702436683776',
 'eLog: order exec at 1622520452147443932 with id 48695177413394432',
 'eLog: order exec at 1622520870125759184 with id 48976652390105088',
 'eLog: order exec at 1622520924036485248 with id 49539602343526400',
 'eLog: order exec at 1622521350397381740 with id 49258127366815744',
 'eLog: order exec at 1622521503498386832 with id 49821077320237056',
 'eLog: order exec at 1622521853189721064 with id 50102552296947712',
 'eLog: order exec at 1622521857259732196 with id 50665502250369024',
 'eLog: order exec at 1622521927903125660 with id 50384027273658368',
 'eLog: order exec at 1622521940813050904 with id 50946977227079680',
 'eLog: order exec at 1622522187287090396 with id 51228452203790336',
 'eLog: order exec at 1622522212018931312 with id 51509927180500992',
 'eLog: order exec at 1622522528299450980 with id 51791402157211648',
 'eLog: order exec at 1622522666130381324 with id 52072877133922304',
 'eLog: order exec at 1622522866626874616 with id 52354352110632960',
 'eLog: order exec at 1622522884920272620 with id 52635827087343616',
 'eLog: order exec at 1622522894580899676 with id 52917302064054272',
 'eLog: order exec at 1622522949871147372 with id 53198777040764928',
 'eLog: order exec at 1622522979110586360 with id 53480252017475584',
 'eLog: order exec at 1622523252666647944 with id 53761726994186240',
 'eLog: order exec at 1622523867075095984 with id 54043201970896896',
 'eLog: order exec at 1622523922750923660 with id 54324676947607552',
 'eLog: order exec at 1622524640542469432 with id 54606151924318208',
 'eLog: order exec at 1622524730398472640 with id 55169101877739520',
 'eLog: order exec at 1622524933243963912 with id 54887626901028864',
 'eLog: order exec at 1622525086148919044 with id 55732051831160832',
 'eLog: order exec at 1622525362400677368 with id 55450576854450176',
 'eLog: order exec at 1622525380258497400 with id 56013526807871488',
 'eLog: order exec at 1622525404538345692 with id 56295001784582144',
 'eLog: order exec at 1622525450891782760 with id 56857951738003456',
 'eLog: order exec at 1622525756396848496 with id 56576476761292800',
 'eLog: order exec at 1622525809416219132 with id 57139426714714112',
 'eLog: order exec at 1622525821715844924 with id 57420901691424768',
 'eLog: order exec at 1622525926046529104 with id 57983851644846080',
 'eLog: order exec at 1622526014785309024 with id 57702376668135424',
 'eLog: order exec at 1622526020332376360 with id 58265326621556736',
 'eLog: order exec at 1622526215798402088 with id 58546801598267392',
 'eLog: order exec at 1622526292842701132 with id 58828276574978048',
 'eLog: order exec at 1622526331991870200 with id 59109751551688704',
 'eLog: order exec at 1622526371907336256 with id 59672701505110016',
 'eLog: order exec at 1622526478566416540 with id 59391226528399360',
 'eLog: order exec at 1622526543465009068 with id 60235651458531328',
 'eLog: order exec at 1622526591266366240 with id 59954176481820672',
 'eLog: order exec at 1622526600137966132 with id 60517126435241984',
 'eLog: order exec at 1622526617052854212 with id 60798601411952640',
 'eLog: order exec at 1622526681293956016 with id 61080076388663296',
 'eLog: order exec at 1622526732399553104 with id 61361551365373952',
 'eLog: order exec at 1622526790176931144 with id 61643026342084608',
 'eLog: order exec at 1622526835325682080 with id 61924501318795264',
 'eLog: order exec at 1622526971405173172 with id 62205976295505920',
 'eLog: order exec at 1622527043875493844 with id 62487451272216576',
 'eLog: order exec at 1622527060748248956 with id 62768926248927232',
 'eLog: order exec at 1622527266399149644 with id 63050401225637888',
 'eLog: order exec at 1622527271366808740 with id 63331876202348544',
 'eLog: order exec at 1622527594751797316 with id 63613351179059200',
 'eLog: order exec at 1622527601887024392 with id 63894826155769856',
 'eLog: order exec at 1622527603388610368 with id 64176301132480512',
 'eLog: order exec at 1622527616692441152 with id 64457776109191168',
 'eLog: order exec at 1622528417061076140 with id 64739251085901824',
 'eLog: order exec at 1622528490389557132 with id 65302201039323136',
 'eLog: order exec at 1622528529713629624 with id 65020726062612480',
 'eLog: order exec at 1622528540752113388 with id 65865150992744448',
 'eLog: order exec at 1622528599166793700 with id 65583676016033792',
 'eLog: order exec at 1622528603374733752 with id 66428100946165760',
 'eLog: order exec at 1622528727704443752 with id 66146625969455104',
 'eLog: order exec at 1622528850748613292 with id 66709575922876416',
 'eLog: order exec at 1622528956071084369 with id 6442450944',
 'eLog: order exec at 1622764802200869892 with id 67554000853008384',
 'eLog: order exec at 1622764803807170484 with id 67272525876297728',
 'eLog: order exec at 1622764805304631896 with id 67835475829719040',
 'eLog: order exec at 1622764822862601136 with id 68116950806429696',
 'eLog: order exec at 1622764828017203180 with id 68398425783140352',
 'eLog: order exec at 1622764830381434032 with id 68679900759851008',
 'eLog: order exec at 1622764831784260908 with id 69242850713272320',
 'eLog: order exec at 1622764832098924060 with id 68961375736561664',
 'eLog: order exec at 1622764834862175684 with id 69805800666693632',
 'eLog: order exec at 1622764841571358976 with id 69524325689982976',
 'eLog: order exec at 1622764853919803048 with id 70087275643404288',
 'eLog: order exec at 1622764896182294324 with id 70368750620114944',
 'eLog: order exec at 1622764949784016272 with id 70650225596825600',
 'eLog: order exec at 1622765101427905748 with id 70931700573536256',
 'eLog: order exec at 1622765131692724252 with id 71213175550246912',
 'eLog: order exec at 1622765148392873740 with id 71494650526957568',
 'eLog: order exec at 1622765202849677408 with id 71776125503668224',
 'eLog: order exec at 1622765352610345040 with id 72057600480378880',
 'eLog: order exec at 1622765444562464264 with id 72339075457089536',
 'eLog: order exec at 1622765452800648832 with id 72620550433800192',
 'eLog: order exec at 1622765518415359068 with id 72902025410510848',
 'eLog: order exec at 1622765521614255584 with id 73183500387221504',
 'eLog: order exec at 1622765541927829320 with id 73464975363932160',
 'eLog: order exec at 1622765575411334128 with id 73746450340642816',
 'eLog: order exec at 1622765673949011456 with id 74027925317353472',
 'eLog: order exec at 1622765680912527760 with id 74309400294064128',
 'eLog: order exec at 1622765702510524960 with id 74590875270774784',
 'eLog: order exec at 1622765744969088476 with id 74872350247485440',
 'eLog: order exec at 1622765872689676020 with id 75153825224196096',
 'eLog: order exec at 1622765894961879780 with id 75435300200906752',
 'eLog: order exec at 1622765908559017072 with id 75998250154328064',
 'eLog: order exec at 1622765939514502780 with id 75716775177617408',
 'eLog: order exec at 1622765964965290036 with id 76279725131038720',
 'eLog: order exec at 1622766022878114056 with id 76561200107749376',
 'eLog: order exec at 1622766065683459832 with id 76842675084460032',
 'eLog: order exec at 1622766250237649696 with id 77124150061170688',
 'eLog: order exec at 1622766298465481984 with id 77405625037881344',
 'eLog: order exec at 1622766335410219228 with id 77687100014592000',
 'eLog: order exec at 1622766479043113268 with id 77968574991302656',
 'eLog: order exec at 1622766636975874920 with id 78250049968013312',
 'eLog: order exec at 1622766703200876128 with id 78531524944723968',
 'eLog: order exec at 1622766830291079404 with id 78812999921434624',
 'eLog: order exec at 1622766883095394764 with id 79094474898145280',
 'eLog: order exec at 1622766901017699192 with id 79375949874855936',
 'eLog: order exec at 1622766950998775636 with id 79657424851566592',
 'eLog: order exec at 1622767038784408876 with id 79938899828277248',
 'eLog: order exec at 1622767091504700660 with id 80220374804987904',
 'eLog: order exec at 1622767150938305496 with id 80501849781698560',

In [656]:
right_exec_date_time = []
for i in Date_exec_list:
    right_exec_date_time.append(re.findall('\d+', i))
right_exec_date_time

[['1622505601222248272', '281481419161600'],
 ['1622505601424113404', '562956395872256'],
 ['1622505601604667896', '844431372582912'],
 ['1622505602982200992', '1125906349293568'],
 ['1622505603600579508', '1407381326004224'],
 ['1622505603889220836', '1688856302714880'],
 ['1622505604314049524', '2251806256136192'],
 ['1622505604420777420', '1970331279425536'],
 ['1622505604672281296', '2814756209557504'],
 ['1622505606673089976', '2533281232846848'],
 ['1622505606698822060', '3377706162978816'],
 ['1622505606754170580', '3096231186268160'],
 ['1622505607274962072', '3659181139689472'],
 ['1622505616503591029', '3940656116400128'],
 ['1622505619168563212', '4503606069821440'],
 ['1622505625908780268', '4222131093110784'],
 ['1622505626606449320', '5066556023242752'],
 ['1622505626703052392', '4785081046532096'],
 ['1622505627470770072', '5629505976664064'],
 ['1622505639342138420', '5348030999953408'],
 ['1622505642987322792', '5910980953374720'],
 ['1622505650440849832', '6192455930085376'],
 ['1622505653157640552', '6755405883506688'],
 ['1622505662611832608', '6473930906796032'],
 ['1622505675846521968', '7036880860217344'],
 ['1622505710090553604', '7318355836928000'],
 ['1622505714841671568', '7881305790349312'],
 ['1622505720830689324', '7599830813638656'],
 ['1622505728677218876', '8444255743770624'],
 ['1622505768751163792', '8162780767059968'],
 ['1622505801704387300', '8725730720481280'],
 ['1622505857094117984', '9007205697191936'],
 ['1622505864651029112', '9570155650613248'],
 ['1622505888716269400', '9288680673902592'],
 ['1622505894249341292', '10133105604034560'],
 ['1622505894777312816', '9851630627323904'],
 ['1622505910289983696', '10414580580745216'],
 ['1622505920969004260', '10696055557455872'],
 ['1622505925643512356', '10977530534166528'],
 ['1622505941701979656', '11259005510877184'],
 ['1622506006904182256', '11540480487587840'],
 ['1622506026835574528', '11821955464298496'],
 ['1622506033196008680', '12103430441009152'],
 ['1622506182285306052', '12384905417719808'],
 ['1622506203955286056', '12947855371141120'],
 ['1622506218083531988', '12666380394430464'],
 ['1622506233249175404', '13229330347851776'],
 ['1622506237795442916', '13510805324562432'],
 ['1622506240638960120', '13792280301273088'],
 ['1622506327839884112', '14073755277983744'],
 ['1622506332276607496', '14355230254694400'],
 ['1622506341674165444', '14636705231405056'],
 ['1622506354165252320', '14918180208115712'],
 ['1622506451465132516', '15199655184826368'],
 ['1622506515229077700', '15762605138247680'],
 ['1622506557311698532', '15481130161537024'],
 ['1622506602976223812', '16325555091668992'],
 ['1622506607125775152', '16044080114958336'],
 ['1622506677880443008', '16607030068379648'],
 ['1622506711547117068', '16888505045090304'],
 ['1622506724078536892', '17169980021800960'],
 ['1622506776409895396', '17451454998511616'],
 ['1622506794200861232', '17732929975222272'],
 ['1622506805331132736', '18014404951932928'],
 ['1622506838810708288', '18295879928643584'],
 ['1622506866928334760', '18577354905354240'],
 ['1622506911557788964', '19140304858775552'],
 ['1622506929055230684', '18858829882064896'],
 ['1622506952960472880', '19703254812196864'],
 ['1622507220603266648', '19421779835486208'],
 ['1622507287257610332', '19984729788907520'],
 ['1622507333828638984', '20266204765618176'],
 ['1622507371946553016', '20547679742328832'],
 ['1622507519117694360', '20829154719039488'],
 ['1622507544837641304', '21110629695750144'],
 ['1622507562827533444', '21392104672460800'],
 ['1622507629664943932', '21673579649171456'],
 ['1622508031136495420', '21955054625882112'],
 ['1622508108593545808', '22518004579303424'],
 ['1622508407397655292', '22236529602592768'],
 ['1622508455521837156', '22799479556014080'],
 ['1622508803898177480', '23080954532724736'],
 ['1622508864680675800', '23362429509435392'],
 ['1622509119120876096', '23643904486146048'],
 ['1622509137738053028', '23925379462856704'],
 ['1622509319101865128', '24206854439567360'],
 ['1622509389671135420', '24488329416278016'],
 ['1622509709142414500', '24769804392988672'],
 ['1622509731482698088', '25051279369699328'],
 ['1622509878803807488', '25332754346409984'],
 ['1622509884196879644', '25614229323120640'],
 ['1622510235498712820', '25895704299831296'],
 ['1622510361698814068', '26177179276541952'],
 ['1622510476422177104', '26458654253252608'],
 ['1622510512567764072', '27021604206673920'],
 ['1622510551511862216', '26740129229963264'],
 ['1622510672600411936', '27584554160095232'],
 ['1622511107224444656', '27303079183384576'],
 ['1622511149527549372', '27866029136805888'],
 ['1622511198110208824', '28147504113516544'],
 ['1622511237886217056', '28428979090227200'],
 ['1622511299131534276', '28710454066937856'],
 ['1622511345066672256', '29273404020359168'],
 ['1622511606503812220', '28991929043648512'],
 ['1622511619319136656', '29836353973780480'],
 ['1622511629773431388', '29554878997069824'],
 ['1622511680871901632', '30399303927201792'],
 ['1622511864063384228', '30117828950491136'],
 ['1622511949253377308', '30680778903912448'],
 ['1622512058597267032', '30962253880623104'],
 ['1622512169010051632', '31525203834044416'],
 ['1622512229272658248', '31243728857333760'],
 ['1622512240313512920', '32088153787465728'],
 ['1622512415095703016', '31806678810755072'],
 ['1622512417733270904', '32369628764176384'],
 ['1622512423615276832', '32651103740887040'],
 ['1622512426361955924', '32932578717597696'],
 ['1622512478740023744', '33214053694308352'],
 ['1622512500863377216', '33495528671019008'],
 ['1622512545176233804', '33777003647729664'],
 ['1622512636187973704', '34058478624440320'],
 ['1622512648026981036', '34339953601150976'],
 ['1622512792771003496', '34621428577861632'],
 ['1622512815197487876', '34902903554572288'],
 ['1622512829196310040', '35184378531282944'],
 ['1622512859422793080', '35465853507993600'],
 ['1622512950496649032', '35747328484704256'],
 ['1622513123494994712', '36028803461414912'],
 ['1622513129037585280', '36310278438125568'],
 ['1622513155650786744', '36591753414836224'],
 ['1622513205349020024', '36873228391546880'],
 ['1622513215370775772', '37154703368257536'],
 ['1622513258587359024', '37436178344968192'],
 ['1622513415037263180', '37717653321678848'],
 ['1622513448116146616', '37999128298389504'],
 ['1622514069986606860', '38280603275100160'],
 ['1622514119035883896', '38562078251810816'],
 ['1622514128389467432', '38843553228521472'],
 ['1622514141548642052', '39125028205232128'],
 ['1622514779713768048', '39406503181942784'],
 ['1622514823878134564', '39969453135364096'],
 ['1622514956608626024', '39687978158653440'],
 ['1622515011472542160', '40250928112074752'],
 ['1622515153208347996', '40532403088785408'],
 ['1622515251851041488', '41095353042206720'],
 ['1622515265538491748', '40813878065496064'],
 ['1622515278510447840', '41376828018917376'],
 ['1622515585593125756', '41658302995628032'],
 ['1622515765516824304', '41939777972338688'],
 ['1622516094520427148', '42221252949049344'],
 ['1622516177242447696', '42784202902470656'],
 ['1622516470580557076', '42502727925760000'],
 ['1622516490470378336', '43065677879181312'],
 ['1622516670439773396', '43347152855891968'],
 ['1622516763369630124', '43628627832602624'],
 ['1622516786573218092', '43910102809313280'],
 ['1622516805707618636', '44473052762734592'],
 ['1622517195050044584', '44191577786023936'],
 ['1622517246857247440', '45036002716155904'],
 ['1622517300175988332', '44754527739445248'],
 ['1622517420364408752', '45317477692866560'],
 ['1622517611218758172', '45598952669577216'],
 ['1622517638325113064', '45880427646287872'],
 ['1622517835366256932', '46161902622998528'],
 ['1622517864705082540', '46443377599709184'],
 ['1622518785782376904', '46724852576419840'],
 ['1622518880284281460', '47287802529841152'],
 ['1622519274874349344', '47006327553130496'],
 ['1622519522845783180', '47569277506551808'],
 ['1622519553890093932', '47850752483262464'],
 ['1622519867587417700', '48132227459973120'],
 ['1622520149095679472', '48413702436683776'],
 ['1622520452147443932', '48695177413394432'],
 ['1622520870125759184', '48976652390105088'],
 ['1622520924036485248', '49539602343526400'],
 ['1622521350397381740', '49258127366815744'],
 ['1622521503498386832', '49821077320237056'],
 ['1622521853189721064', '50102552296947712'],
 ['1622521857259732196', '50665502250369024'],
 ['1622521927903125660', '50384027273658368'],
 ['1622521940813050904', '50946977227079680'],
 ['1622522187287090396', '51228452203790336'],
 ['1622522212018931312', '51509927180500992'],
 ['1622522528299450980', '51791402157211648'],
 ['1622522666130381324', '52072877133922304'],
 ['1622522866626874616', '52354352110632960'],
 ['1622522884920272620', '52635827087343616'],
 ['1622522894580899676', '52917302064054272'],
 ['1622522949871147372', '53198777040764928'],
 ['1622522979110586360', '53480252017475584'],
 ['1622523252666647944', '53761726994186240'],
 ['1622523867075095984', '54043201970896896'],
 ['1622523922750923660', '54324676947607552'],
 ['1622524640542469432', '54606151924318208'],
 ['1622524730398472640', '55169101877739520'],
 ['1622524933243963912', '54887626901028864'],
 ['1622525086148919044', '55732051831160832'],
 ['1622525362400677368', '55450576854450176'],
 ['1622525380258497400', '56013526807871488'],
 ['1622525404538345692', '56295001784582144'],
 ['1622525450891782760', '56857951738003456'],
 ['1622525756396848496', '56576476761292800'],
 ['1622525809416219132', '57139426714714112'],
 ['1622525821715844924', '57420901691424768'],
 ['1622525926046529104', '57983851644846080'],
 ['1622526014785309024', '57702376668135424'],
 ['1622526020332376360', '58265326621556736'],
 ['1622526215798402088', '58546801598267392'],
 ['1622526292842701132', '58828276574978048'],
 ['1622526331991870200', '59109751551688704'],
 ['1622526371907336256', '59672701505110016'],
 ['1622526478566416540', '59391226528399360'],
 ['1622526543465009068', '60235651458531328'],
 ['1622526591266366240', '59954176481820672'],
 ['1622526600137966132', '60517126435241984'],
 ['1622526617052854212', '60798601411952640'],
 ['1622526681293956016', '61080076388663296'],
 ['1622526732399553104', '61361551365373952'],
 ['1622526790176931144', '61643026342084608'],
 ['1622526835325682080', '61924501318795264'],
 ['1622526971405173172', '62205976295505920'],
 ['1622527043875493844', '62487451272216576'],
 ['1622527060748248956', '62768926248927232'],
 ['1622527266399149644', '63050401225637888'],
 ['1622527271366808740', '63331876202348544'],
 ['1622527594751797316', '63613351179059200'],
 ['1622527601887024392', '63894826155769856'],
 ['1622527603388610368', '64176301132480512'],
 ['1622527616692441152', '64457776109191168'],
 ['1622528417061076140', '64739251085901824'],
 ['1622528490389557132', '65302201039323136'],
 ['1622528529713629624', '65020726062612480'],
 ['1622528540752113388', '65865150992744448'],
 ['1622528599166793700', '65583676016033792'],
 ['1622528603374733752', '66428100946165760'],
 ['1622528727704443752', '66146625969455104'],
 ['1622528850748613292', '66709575922876416'],
 ['1622528956071084369', '6442450944'],
 ['1622764802200869892', '67554000853008384'],
 ['1622764803807170484', '67272525876297728'],
 ['1622764805304631896', '67835475829719040'],
 ['1622764822862601136', '68116950806429696'],
 ['1622764828017203180', '68398425783140352'],
 ['1622764830381434032', '68679900759851008'],
 ['1622764831784260908', '69242850713272320'],
 ['1622764832098924060', '68961375736561664'],
 ['1622764834862175684', '69805800666693632'],
 ['1622764841571358976', '69524325689982976'],
 ['1622764853919803048', '70087275643404288'],
 ['1622764896182294324', '70368750620114944'],
 ['1622764949784016272', '70650225596825600'],
 ['1622765101427905748', '70931700573536256'],
 ['1622765131692724252', '71213175550246912'],
 ['1622765148392873740', '71494650526957568'],
 ['1622765202849677408', '71776125503668224'],
 ['1622765352610345040', '72057600480378880'],
 ['1622765444562464264', '72339075457089536'],
 ['1622765452800648832', '72620550433800192'],
 ['1622765518415359068', '72902025410510848'],
 ['1622765521614255584', '73183500387221504'],
 ['1622765541927829320', '73464975363932160'],
 ['1622765575411334128', '73746450340642816'],
 ['1622765673949011456', '74027925317353472'],
 ['1622765680912527760', '74309400294064128'],
 ['1622765702510524960', '74590875270774784'],
 ['1622765744969088476', '74872350247485440'],
 ['1622765872689676020', '75153825224196096'],
 ['1622765894961879780', '75435300200906752'],
 ['1622765908559017072', '75998250154328064'],
 ['1622765939514502780', '75716775177617408'],
 ['1622765964965290036', '76279725131038720'],
 ['1622766022878114056', '76561200107749376'],
 ['1622766065683459832', '76842675084460032'],
 ['1622766250237649696', '77124150061170688'],
 ['1622766298465481984', '77405625037881344'],
 ['1622766335410219228', '77687100014592000'],
 ['1622766479043113268', '77968574991302656'],
 ['1622766636975874920', '78250049968013312'],
 ['1622766703200876128', '78531524944723968'],
 ['1622766830291079404', '78812999921434624'],
 ['1622766883095394764', '79094474898145280'],
 ['1622766901017699192', '79375949874855936'],
 ['1622766950998775636', '79657424851566592'],
 ['1622767038784408876', '79938899828277248'],
 ['1622767091504700660', '80220374804987904'],
 ['1622767150938305496', '80501849781698560'],
 ['1622767311308312284', '80783324758409216'],
 ['1622767417423475520', '81064799735119872'],
 ['1622767445880841236', '81627749688541184'],
 ['1622767600860380040', '81346274711830528'],
 ['1622767615136969896', '81909224665251840'],
 ['1622767829417119028', '82190699641962496'],
 ['1622767842340397464', '82472174618673152'],
 ['1622767891743418308', '82753649595383808'],
 ['1622768137175210748', '83316599548805120'],
 ['1622768151494322168', '83035124572094464'],
 ['1622768277872026760', '83879549502226432'],
 ['1622768367108349448', '83598074525515776'],
 ['1622768432529246888', '84442499455647744'],
 ['1622768458260641156', '84161024478937088'],
 ['1622768476010785848', '84723974432358400'],
 ['1622768598524049988', '85005449409069056'],
 ['1622768608499583840', '85286924385779712'],
 ['1622768628380099368', '85568399362490368'],
 ['1622768678844396724', '85849874339201024'],
 ['1622768710652899420', '86131349315911680'],
 ['1622768927282011572', '86412824292622336'],
 ['1622768969398675728', '86694299269332992'],
 ['1622769005912558080', '86975774246043648'],
 ['1622769063867309592', '87257249222754304'],
 ['1622769069588349680', '87538724199464960'],
 ['1622769154635454112', '87820199176175616'],
 ['1622769155532238964', '88101674152886272'],
 ['1622769252305909176', '88383149129596928'],
 ['1622769361201526124', '88664624106307584'],
 ['1622769474548655700', '88946099083018240'],
 ['1622769541641638628', '89227574059728896'],
 ['1622769598217184740', '89509049036439552'],
 ['1622769672073451552', '90071998989860864'],
 ['1622769790875008244', '89790524013150208'],
 ['1622769881369223212', '90634948943282176'],
 ['1622769923910027028', '90353473966571520'],
 ['1622769999979298568', '91197898896703488'],
 ['1622770058623605752', '90916423919992832'],
 ['1622770093132292192', '91760848850124800'],
 ['1622770327261633128', '91479373873414144'],
 ['1622770357217114568', '92323798803546112'],
 ['1622770393059604068', '92042323826835456'],
 ['1622770516718374184', '92605273780256768'],
 ['1622770588721023720', '92886748756967424'],
 ['1622770682557793628', '93168223733678080'],
 ['1622770728071580928', '93449698710388736'],
 ['1622770781457981704', '93731173687099392'],
 ['1622770834025742768', '94012648663810048'],
 ['1622770869264626064', '94575598617231360'],
 ['1622770903786385016', '94294123640520704'],
 ['1622770934560609896', '94857073593942016'],
 ['1622771096059151752', '95138548570652672'],
 ['1622771147467712596', '95420023547363328'],
 ['1622771260785204636', '95701498524073984'],
 ['1622771294798546404', '96264448477495296'],
 ['1622771575873242804', '95982973500784640'],
 ['1622771602700990896', '96545923454205952'],
 ['1622771615857172164', '96827398430916608'],
 ['1622771627499432180', '97390348384337920'],
 ['1622771707801347656', '97108873407627264'],
 ['1622771727041705300', '97953298337759232'],
 ['1622771800749227656', '97671823361048576'],
 ['1622771839474845512', '98516248291180544'],
 ['1622772006991257552', '98234773314469888'],
 ['1622772150098960864', '98797723267891200'],
 ['1622772243253487840', '99079198244601856'],
 ['1622772254385215052', '99360673221312512'],
 ['1622772271899749396', '99642148198023168'],
 ['1622772393272127064', '100205098151444480'],
 ['1622772441171623700', '99923623174733824'],
 ['1622772551582969040', '100486573128155136'],
 ['1622772979175753040', '100768048104865792'],
 ['1622773173433727380', '101049523081576448'],
 ['1622773463908314560', '101330998058287104'],
 ['1622773596100265832', '101893948011708416'],
 ['1622773801655174008', '101612473034997760'],
 ['1622773804520975952', '102175422988419072'],
 ['1622773972762442296', '102456897965129728'],
 ['1622774139462665804', '102738372941840384'],
 ['1622774244744926432', '103019847918551040'],
 ['1622774264634233740', '103301322895261696'],
 ['1622774302699024928', '103582797871972352'],
 ['1622774368600264380', '104145747825393664'],
 ['1622774438695750540', '103864272848683008'],
 ['1622774517803499848', '104708697778814976'],
 ['1622774539329889396', '104427222802104320'],
 ['1622774740415899640', '104990172755525632'],
 ['1622774835871715684', '105271647732236288'],
 ['1622775022520518448', '105553122708946944'],
 ['1622775077180470328', '105834597685657600'],
 ['1622775472378607320', '106116072662368256'],
 ['1622775510600084364', '106397547639078912'],
 ['1622775600609101592', '106679022615789568'],
 ['1622775651720029632', '106960497592500224'],
 ['1622775680827045480', '107241972569210880'],
 ['1622775833118318960', '107523447545921536'],
 ['1622775908747954824', '108086397499342848'],
 ['1622776336663226752', '107804922522632192'],
 ['1622776396458102196', '108649347452764160'],
 ['1622776564553207848', '108367872476053504'],
 ['1622776855684665064', '108930822429474816'],
 ['1622777037796260428', '109212297406185472'],
 ['1622777135448158896', '109493772382896128'],
 ['1622777153398241336', '109775247359606784'],
 ['1622777296062870084', '110338197313028096'],
 ['1622777350496847384', '110056722336317440'],
 ['1622777374330299816', '110619672289738752'],
 ['1622777642221098640', '110901147266449408'],
 ['1622777678823731532', '111464097219870720'],
 ['1622777804547763624', '111182622243160064'],
 ['1622777817513293772', '112027047173292032'],
 ['1622778166206653216', '111745572196581376'],
 ['1622778212543127736', '112308522150002688'],
 ['1622778328913539720', '112589997126713344'],
 ['1622778425560570480', '112871472103424000'],
 ['1622778545268486464', '113152947080134656'],
 ['1622778602710107152', '113434422056845312'],
 ['1622778712903447120', '113715897033555968'],
 ['1622778773825828360', '114278846986977280'],
 ['1622778805892085376', '113997372010266624'],
 ['1622779111741159744', '114560321963687936'],
 ['1622779130560026244', '114841796940398592'],
 ['1622779178025695356', '115123271917109248'],
 ['1622779319426535592', '115404746893819904'],
 ['1622779379604983464', '115686221870530560'],
 ['1622779434478126508', '115967696847241216'],
 ['1622779490341503224', '116530646800662528'],
 ['1622779503804990192', '116249171823951872'],
 ['1622779617855281644', '116812121777373184'],
 ['1622779857000759560', '117093596754083840'],
 ['1622779983734753916', '117375071730794496'],
 ['1622780056439460616', '117656546707505152'],
 ['1622780066599516776', '117938021684215808'],
 ['1622780111400005156', '118219496660926464'],
 ['1622780167198748480', '118500971637637120'],
 ['1622780501514731108', '118782446614347776'],
 ['1622780542452606592', '119063921591058432'],
 ['1622781475671647316', '119345396567769088'],
 ['1622781735573618500', '119626871544479744'],

In [657]:
right_exec_date_time = pd.DataFrame(right_exec_date_time)
right_exec_date_time

                        0                   1
0     1622505601222248272     281481419161600
1     1622505601424113404     562956395872256
2     1622505601604667896     844431372582912
3     1622505602982200992    1125906349293568
4     1622505603600579508    1407381326004224
...                   ...                 ...
8677  1627626326117581668  146366994331992072
8678  1627626397873668620  148337319168966664
8679  1627626412584847188  146929944285413384
8680  1627626473991536064  149181744099098632
8681  1627626512859773452  148900269122387976

[8682 rows x 2 columns]

In [658]:
right_exec_date_time.iloc[:, 0] = pd.to_numeric(right_exec_date_time.iloc[:, 0])

In [659]:
right_exec_date_time = pd.DataFrame(pd.to_datetime(right_exec_date_time.iloc[:, 0]))
right_exec_date_time

                                 0
0    2021-06-01 00:00:01.222248272
1    2021-06-01 00:00:01.424113404
2    2021-06-01 00:00:01.604667896
3    2021-06-01 00:00:02.982200992
4    2021-06-01 00:00:03.600579508
...                            ...
8677 2021-07-30 06:25:26.117581668
8678 2021-07-30 06:26:37.873668620
8679 2021-07-30 06:26:52.584847188
8680 2021-07-30 06:27:53.991536064
8681 2021-07-30 06:28:32.859773452

[8682 rows x 1 columns]

In [660]:
right_exec_date_time.iloc[:, 0] = right_exec_date_time.iloc[:, 0].dt.floor('S')
right_exec_date_time.iloc[:, 0]

0      2021-06-01 00:00:01
1      2021-06-01 00:00:01
2      2021-06-01 00:00:01
3      2021-06-01 00:00:02
4      2021-06-01 00:00:03
               ...
8677   2021-07-30 06:25:26
8678   2021-07-30 06:26:37
8679   2021-07-30 06:26:52
8680   2021-07-30 06:27:53
8681   2021-07-30 06:28:32
Name: 0, Length: 8682, dtype: datetime64[ns]

In [661]:
right_exec_date_time

                       0
0    2021-06-01 00:00:01
1    2021-06-01 00:00:01
2    2021-06-01 00:00:01
3    2021-06-01 00:00:02
4    2021-06-01 00:00:03
...                  ...
8677 2021-07-30 06:25:26
8678 2021-07-30 06:26:37
8679 2021-07-30 06:26:52
8680 2021-07-30 06:27:53
8681 2021-07-30 06:28:32

[8682 rows x 1 columns]

In [662]:
right_date_time

                         0
0      2021-06-01 00:00:01
1      2021-06-01 00:00:01
2      2021-06-01 00:00:01
3      2021-06-01 00:00:01
4      2021-06-01 00:00:01
...                    ...
397797 2021-07-30 06:29:02
397798 2021-07-30 06:29:03
397799 2021-07-30 06:29:09
397800 2021-07-30 06:29:09
397801 2021-07-30 06:29:09

[397802 rows x 1 columns]

In [663]:
right_exec_date_time.iloc[7,0]

Timestamp('2021-06-01 00:00:04')

In [664]:
right_date_time.iloc[12, 0]

Timestamp('2021-06-01 00:00:02')

In [665]:
from datetime import datetime, timedelta
right_exec_date_time.iloc[4,0]+timedelta(seconds=5)

Timestamp('2021-06-01 00:00:08')

In [666]:
plus_five_sec_exec_df=right_exec_date_time.iloc[:, 0]+timedelta(seconds=5)

In [667]:
plus_five_sec_exec_df = pd.DataFrame(plus_five_sec_exec_df)
plus_five_sec_exec_df

                       0
0    2021-06-01 00:00:06
1    2021-06-01 00:00:06
2    2021-06-01 00:00:06
3    2021-06-01 00:00:07
4    2021-06-01 00:00:08
...                  ...
8677 2021-07-30 06:25:31
8678 2021-07-30 06:26:42
8679 2021-07-30 06:26:57
8680 2021-07-30 06:27:58
8681 2021-07-30 06:28:37

[8682 rows x 1 columns]

In [668]:
right_exec_date_time

                       0
0    2021-06-01 00:00:01
1    2021-06-01 00:00:01
2    2021-06-01 00:00:01
3    2021-06-01 00:00:02
4    2021-06-01 00:00:03
...                  ...
8677 2021-07-30 06:25:26
8678 2021-07-30 06:26:37
8679 2021-07-30 06:26:52
8680 2021-07-30 06:27:53
8681 2021-07-30 06:28:32

[8682 rows x 1 columns]

In [669]:
right_date_time

                         0
0      2021-06-01 00:00:01
1      2021-06-01 00:00:01
2      2021-06-01 00:00:01
3      2021-06-01 00:00:01
4      2021-06-01 00:00:01
...                    ...
397797 2021-07-30 06:29:02
397798 2021-07-30 06:29:03
397799 2021-07-30 06:29:09
397800 2021-07-30 06:29:09
397801 2021-07-30 06:29:09

[397802 rows x 1 columns]

In [670]:
right_date_time.iloc[3,:]

0   2021-06-01 00:00:01
Name: 3, dtype: datetime64[ns]

In [671]:
right_date_time.columns = right_date_time.columns.astype(str)
right_date_time = right_date_time.rename({'0': 'Date',}, axis=1)
right_date_time

                      Date
0      2021-06-01 00:00:01
1      2021-06-01 00:00:01
2      2021-06-01 00:00:01
3      2021-06-01 00:00:01
4      2021-06-01 00:00:01
...                    ...
397797 2021-07-30 06:29:02
397798 2021-07-30 06:29:03
397799 2021-07-30 06:29:09
397800 2021-07-30 06:29:09
397801 2021-07-30 06:29:09

[397802 rows x 1 columns]

In [672]:
out = right_date_time.iloc[:, 0].isin(plus_five_sec_exec_df.iloc[:, 0])
out = pd.DataFrame(out)
out

         Date
0       False
1       False
2       False
3       False
4       False
...       ...
397797  False
397798  False
397799  False
397800  False
397801  False

[397802 rows x 1 columns]

In [673]:
out.columns = out.columns.astype(str)
out = out.rename({'Date': 'cross_time_in_exec',}, axis=1)
out

        cross_time_in_exec
0                    False
1                    False
2                    False
3                    False
4                    False
...                    ...
397797               False
397798               False
397799               False
397800               False
397801               False

[397802 rows x 1 columns]

In [674]:
out.loc[out['cross_time_in_exec'] == True, :]

        cross_time_in_exec
64                    True
65                    True
66                    True
67                    True
68                    True
...                    ...
397335                True
397508                True
397699                True
397700                True
397701                True

[5486 rows x 1 columns]

In [675]:
result1 = pd.concat([df, out], axis=1)
result1

,Date,Price,Desc,cross_time_in_exec
0,mLog: market trd at 1622505601191796236 with s...,price 1108.9,traded volume 36 then book became 6@1108.7x11...,False
1,mLog: market trd at 1622505601222248272 with s...,price 1108.7,traded volume 17 then book became 10@1108.5x1...,False
2,mLog: market trd at 1622505601364445668 with s...,price 1108.5,traded volume 20 then book became 16@1108.3x1...,False
3,mLog: market trd at 1622505601405325968 with s...,price 1108.6,traded volume 1 then book became 16@1108.3x11...,False
4,mLog: market trd at 1622505601406994624 with s...,price 1108.3,traded volume 16 then book became 18@1108.2x1...,False
...,...,...,...,...
397797,mLog: market trd at 1627626542759155628 with s...,price 1150.5,traded volume 1 then book became 217@1150.4x1...,False
397798,mLog: market trd at 1627626543983252140 with s...,price 1150.5,traded volume 1 then book became 187@1150.4x1...,False
397799,mLog: market trd at 1627626549091604988 with s...,price 1150.5,traded volume 94 then book became 6@1150.5x11...,False
397800,mLog: market trd at 1627626549092524892 with s...,price 1150.5,traded volume 6 then book became 177@1150.4x1...,False
397801,mLog: market trd at 1627626549492660420 with s...,price 1150.5,traded volume 2 then book became 197@1150.4x1...,False

In [676]:
result1_1 = result1.loc[result1['cross_time_in_exec'] == True, :]
result1_1

,Date,Price,Desc,cross_time_in_exec
64,mLog: market trd at 1622505606366905152 with s...,price 1108.7,traded volume 5 then book became 4@1108.6x110...,True
65,mLog: market trd at 1622505606417009048 with s...,price 1108.7,traded volume 1 then book became 4@1108.6x110...,True
66,mLog: market trd at 1622505606673089976 with s...,price 1108.6,traded volume 13 then book became 27@1108.4x1...,True
67,mLog: market trd at 1622505606674564508 with s...,price 1108.5,traded volume 2 then book became 23@1108.4x11...,True
68,mLog: market trd at 1622505606675829808 with s...,price 1108.5,traded volume 49 then book became 23@1108.4x1...,True
...,...,...,...,...
397335,mLog: market trd at 1627625779598455056 with s...,price 1149.2,traded volume 1 then book became 403@1149.1x1...,True
397508,mLog: market trd at 1627626048720969648 with s...,price 1149.5,traded volume 30 then book became 349@1149.5x...,True
397699,mLog: market trd at 1627626478065198244 with s...,price 1150.4,traded volume 1 then book became 29@1150.4x11...,True
397700,mLog: market trd at 1627626478307827300 with s...,price 1150.4,traded volume 1 then book became 48@1150.4x11...,True
397701,mLog: market trd at 1627626478862874548 with s...,price 1150.4,traded volume 5 then book became 33@1150.4x11...,True

In [677]:
result1_1 = result1_1['Desc'].tolist()
result1_1

[' traded volume 5 then book became 4@1108.6x1108.7@25',
 ' traded volume 1 then book became 4@1108.6x1108.7@64',
 ' traded volume 13 then book became 27@1108.4x1108.5@11',
 ' traded volume 2 then book became 23@1108.4x1108.5@49',
 ' traded volume 49 then book became 23@1108.4x1108.6@4',
 ' traded volume 1 then book became 3@1108.6x1108.7@14',
 ' traded volume 16 then book became 27@1108.4x1108.5@23',
 ' traded volume 23 then book became 23@1108.4x1108.7@2',
 ' traded volume 1 then book became 4@1108.5x1108.7@8',
 ' traded volume 10 then book became 23@1108.4x1108.7@8',
 ' traded volume 10 then book became 21@1108.4x1108.7@8',
 ' traded volume 1 then book became 4@1108.5x1108.7@8',
 ' traded volume 1 then book became 4@1108.5x1108.7@8',
 ' traded volume 10 then book became 15@1108.4x1108.7@8',
 ' traded volume 3 then book became 15@1108.4x1108.6@1',
 ' traded volume 10 then book became 13@1108.4x1108.7@8',
 ' traded volume 10 then book became 9@1108.4x1108.7@7',
 ' traded volume 1 then book became 9@1108.4x1108.6@74',
 ' traded volume 10 then book became 3@1108.4x1108.6@2',
 ' traded volume 1 then book became 4@1108.4x1108.6@3',
 ' traded volume 2 then book became 12@1108.3x1108.4@68',
 ' traded volume 1 then book became 8@1108.3x1108.4@77',
 ' traded volume 1 then book became 8@1108.3x1108.4@76',
 ' traded volume 1 then book became 13@1108.3x1108.4@75',
 ' traded volume 13 then book became 46@1108.2x1108.3@7',
 ' traded volume 1 then book became 22@1108.2x1108.3@6',
 ' traded volume 2 then book became 28@1108.2x1108.4@81',
 ' traded volume 11 then book became 28@1108.2x1108.4@70',
 ' traded volume 1 then book became 10@1108.3x1108.4@69',
 ' traded volume 69 then book became 70@1108.3x1108.5@8',
 ' traded volume 2 then book became 70@1108.3x1108.5@7',
 ' traded volume 3 then book became 3@1108.4x1108.5@4',
 ' traded volume 10 then book became 71@1108.3x1108.5@20',
 ' traded volume 7 then book became 19@1108.4x1108.6@6',
 ' traded volume 1 then book became 19@1108.4x1108.6@6',
 ' traded volume 10 then book became 20@1108.4x1108.6@21',
 ' traded volume 10 then book became 71@1108.3x1108.5@79',
 ' traded volume 10 then book became 10@1108.7x1108.8@26',
 ' traded volume 10 then book became 15@1108.6x1108.8@22',
 ' traded volume 16 then book became 17@1108.5x1108.6@84',
 ' traded volume 100 then book became 12@1108.5x1108.7@1',
 ' traded volume 4 then book became 388@1108.6x1108.8@18',
 ' traded volume 2 then book became 10@1108.7x1108.8@9',
 ' traded volume 1 then book became 37@1108.6x1108.7@7',
 ' traded volume 4 then book became 37@1108.6x1108.7@3',
 ' traded volume 2 then book became 63@1108.6x1108.7@5',
 ' traded volume 1 then book became 63@1108.6x1108.7@4',
 ' traded volume 10 then book became 26@1108.7x1108.8@50',
 ' traded volume 35 then book became 389@1108.7x1108.9@29',
 ' traded volume 7 then book became 355@1108.8x1108.9@29',
 ' traded volume 3 then book became 357@1108.8x1108.9@17',
 ' traded volume 34 then book became 86@1108.3x1108.4@8',
 ' traded volume 2 then book became 86@1108.3x1108.4@2',
 ' traded volume 3 then book became 86@1108.3x1108.4@2',
 ' traded volume 2 then book became 86@1108.3x1108.5@207',
 ' traded volume 37 then book became 86@1108.3x1108.4@55',
 ' traded volume 1 then book became 86@1108.3x1108.4@54',
 ' traded volume 54 then book became 86@1108.3x1108.5@45',
 ' traded volume 1 then book became 86@1108.3x1108.5@50',
 ' traded volume 4 then book became 85@1108.3x1108.4@40',
 ' traded volume 1 then book became 84@1108.3x1108.4@39',
 ' traded volume 2 then book became 84@1108.3x1108.4@37',
 ' traded volume 40 then book became 84@1108.3x1108.5@47',
 ' traded volume 31 then book became 95@1108.4x1108.6@37',
 ' traded volume 8 then book became 98@1108.4x1108.6@37',
 ' traded volume 84 then book became 111@1108.4x1108.6@37',
 ' traded volume 12 then book became 34@1108.5x1108.6@1',
 ' traded volume 3 then book became 31@1108.5x1108.7@31',
 ' traded volume 1 then book became 30@1108.5x1108.6@12',
 ' traded volume 1 then book became 148@1108x1108.2@49',
 ' traded volume 110 then book became 38@1108x1108.2@49',
 ' traded volume 13 then book became 31@1107.9x1108.1@32',
 ' traded volume 1 then book became 31@1107.9x1108@17',
 ' traded volume 16 then book became 24@1107.9x1108@17',
 ' traded volume 13 then book became 11@1107.9x1108@17',
 ' traded volume 7 then book became 32@1107.8x1108@22',
 ' traded volume 1 then book became 42@1107.8x1107.9@6',
 ' traded volume 2 then book became 42@1107.8x1107.9@4',
 ' traded volume 2 then book became 42@1107.8x1107.9@13',
 ' traded volume 10 then book became 42@1107.8x1107.9@3',
 ' traded volume 3 then book became 42@1107.8x1108@27',
 ' traded volume 15 then book became 4@1107.9x1108@13',
 ' traded volume 11 then book became 4@1108x1108.1@29',
 ' traded volume 4 then book became 28@1107.9x1108.1@29',
 ' traded volume 3 then book became 25@1107.9x1108.1@28',
 ' traded volume 16 then book became 9@1107.9x1108.1@28',
 ' traded volume 14 then book became 42@1107.8x1108.1@28',
 ' traded volume 2 then book became 22@1107.9x1108.1@28',
 ' traded volume 16 then book became 6@1107.9x1108.1@28',
 ' traded volume 1 then book became 60@1107.9x1108@9',
 ' traded volume 1 then book became 22@1107.9x1108@9',
 ' traded volume 1 then book became 28@1107.9x1108@17',
 ' traded volume 1 then book became 29@1107.9x1108@18',
 ' traded volume 1 then book became 45@1107.9x1108.1@38',
 ' traded volume 12 then book became 135@1108.3x1108.4@28',
 ' traded volume 17 then book became 61@1108.4x1108.6@47',
 ' traded volume 3 then book became 10@1108.5x1108.6@47',
 ' traded volume 3 then book became 25@1108.5x1108.6@44',
 ' traded volume 4 then book became 95@1108.3x1108.4@8',
 ' traded volume 1 then book became 64@1108.3x1108.4@57',
 ' traded volume 20 then book became 68@1108.5x1108.6@80',
 ' traded volume 80 then book became 68@1108.5x1108.7@86',
 ' traded volume 1 then book became 40@1108.6x1108.7@140',
 ' traded volume 2 then book became 29@1108.6x1108.7@377',
 ' traded volume 2 then book became 29@1108.6x1108.7@375',
 ' traded volume 1 then book became 29@1108.6x1108.7@377',
 ' traded volume 99 then book became 1@1108.8x1108.9@332',
 ' traded volume 2 then book became 122@1108.6x1108.8@180',
 ' traded volume 5 then book became 18@1108.7x1108.8@458',
 ' traded volume 17 then book became 1@1108.7x1108.8@458',
 ' traded volume 100 then book became 111@1108.7x1108.9@282',
 ' traded volume 50 then book became 28@1109x1109.1@213',
 ' traded volume 50 then book became 182@1108.9x1109@373',
 ' traded volume 50 then book became 174@1109.1x1109.2@112',
 ' traded volume 20 then book became 234@1109.1x1109.2@132',
 ' traded volume 71 then book became 234@1109.1x1109.2@61',
 ' traded volume 49 then book became 234@1109.1x1109.2@12',
 ' traded volume 12 then book became 234@1109.1x1109.3@293',
 ' traded volume 5 then book became 209@1109.1x1109.2@95',
 ' traded volume 6 then book became 197@1109.1x1109.2@157',
 ' traded volume 1 then book became 197@1109.1x1109.2@168',
 ' traded volume 50 then book became 119@1109x1109.1@65',
 ' traded volume 299 then book became 185@1109.1x1109.3@189',
 ' traded volume 100 then book became 147@1109.1x1109.3@346',
 ' traded volume 300 then book became 304@1109.1x1109.3@19',
 ' traded volume 23 then book became 1@1109.5x1109.6@180',
 ' traded volume 1 then book became 189@1109.4x1109.5@20',
 ' traded volume 2 then book became 134@1109.4x1109.5@75',
 ' traded volume 100 then book became 230@1109.5x1109.6@14',
 ' traded volume 10 then book became 249@1109.1x1109.3@239',
 ' traded volume 15 then book became 1@1109x1109.1@188',
 ' traded volume 1 then book became 352@1108.9x1109@12',
 ' traded volume 12 then book became 352@1108.9x1109.1@202',
 ' traded volume 100 then book became 161@1108.8x1108.9@67',
 ' traded volume 7 then book became 233@1108.8x1109@770',
 ' traded volume 200 then book became 308@1108.7x1108.9@296',
 ' traded volume 4 then book became 29@1108.8x1108.9@316',
 ' traded volume 20 then book became 9@1108.8x1108.9@358',
 ' traded volume 9 then book became 321@1108.7x1108.9@358',
 ' traded volume 4 then book became 324@1108.7x1108.9@358',
 ' traded volume 7 then book became 324@1108.7x1108.8@13',
 ' traded volume 6 then book became 341@1108.7x1108.8@7',
 ' traded volume 200 then book became 351@1108.7x1108.9@235',
 ' traded volume 4 then book became 351@1108.7x1108.8@16',
 ' traded volume 16 then book became 17@1108.8x1108.9@202',
 ' traded volume 17 then book became 353@1108.7x1108.9@237',
 ' traded volume 13 then book became 3@1108.8x1108.9@243',
 ' traded volume 3 then book became 187@1108.6x1108.8@389',
 ' traded volume 64 then book became 246@1108.3x1108.4@98',
 ' traded volume 64 then book became 182@1108.3x1108.4@135',
 ' traded volume 100 then book became 155@1107.5x1107.6@40',
 ' traded volume 4 then book became 164@1107.7x1107.8@188',
 ' traded volume 10 then book became 436@1108x1108.1@90',
 ' traded volume 1 then book became 329@1107.5x1107.6@12',
 ' traded volume 12 then book became 9@1107.6x1107.7@498',
 ' traded volume 20 then book became 164@1107.4x1107.5@164',
 ' traded volume 1 then book became 738@1107.5x1107.7@182',
 ' traded volume 3 then book became 192@1106.7x1106.8@374',
 ' traded volume 99 then book became 345@1106.6x1106.7@101',
 ' traded volume 1 then book became 205@1106.6x1106.7@329',
 ' traded volume 1 then book became 202@1106.6x1106.7@329',
 ' traded volume 1 then book became 142@1106.4x1106.5@155',
 ' traded volume 167 then book became 441@1106.3x1106.5@290',
 ' traded volume 1 then book became 244@1106.3x1106.4@126',
 ' traded volume 26 then book became 248@1106.3x1106.5@358',
 ' traded volume 53 then book became 204@1105.7x1105.9@485',
 ' traded volume 2 then book became 226@1105.7x1105.8@81',
 ' traded volume 2 then book became 233@1106.1x1106.2@332',
 ' traded volume 11 then book became 493@1106.3x1106.5@276',
 ' traded volume 4 then book became 25@1106.4x1106.5@256',
 ' traded volume 10 then book became 526@1106.3x1106.5@256',
 ' traded volume 100 then book became 104@1106.5x1106.6@219',
 ' traded volume 1 then book became 2@1105.8x1105.9@482',
 ' traded volume 2 then book became 169@1105.7x1105.9@482',
 ' traded volume 100 then book became 91@1105.8x1105.9@38',
 ' traded volume 1 then book became 232@1105.8x1106@505',
 ' traded volume 2 then book became 111@1105.8x1105.9@481',
 ' traded volume 100 then book became 129@1105.7x1105.8@38',
 ' traded volume 88 then book became 262@1105.3x1105.5@408',
 ' traded volume 1 then book became 257@1105.8x1105.9@95',
 ' traded volume 89 then book became 257@1105.8x1105.9@6',
 ' traded volume 2 then book became 257@1105.8x1106@580',
 ' traded volume 100 then book became 276@1105.8x1105.9@20',
 ' traded volume 4 then book became 391@1105.8x1105.9@16',
 ' traded volume 6 then book became 291@1105.8x1105.9@10',
 ' traded volume 2 then book became 291@1105.8x1105.9@8',
 ' traded volume 8 then book became 291@1105.8x1106@492',
 ' traded volume 2 then book became 211@1106.5x1106.6@138',
 ' traded volume 1 then book became 388@1106.8x1106.9@144',
 ' traded volume 1 then book became 250@1106.8x1106.9@175',
 ' traded volume 1 then book became 430@1106.7x1106.9@304',
 ' traded volume 1 then book became 12@1106.8x1106.9@391',
 ' traded volume 2 then book became 10@1106.8x1106.9@411',
 ' traded volume 10 then book became 351@1106.7x1106.9@411',
 ' traded volume 4 then book became 231@1106.7x1106.8@10',
 ' traded volume 14 then book became 231@1106.7x1106.9@441',
 ' traded volume 94 then book became 417@1106.7x1106.8@5',
 ' traded volume 5 then book became 317@1106.7x1106.8@26',
 ' traded volume 5 then book became 297@1106.7x1106.8@31',
 ' traded volume 37 then book became 1@1106.4x1106.5@353',
 ' traded volume 1 then book became 471@1106.3x1106.4@5',
 ' traded volume 3 then book became 34@1116.6x1116.7@127',
 ' traded volume 20 then book became 14@1116.6x1116.7@117',
 ' traded volume 5 then book became 17@1116.6x1116.7@127',
 ' traded volume 17 then book became 873@1116.5x1116.6@83',
 ' traded volume 7 then book became 853@1116.5x1116.6@96',
 ' traded volume 64 then book became 853@1116.5x1116.6@22',
 ' traded volume 22 then book became 853@1116.5x1116.7@128',
 ' traded volume 10 then book became 857@1116.5x1116.7@122',
 ' traded volume 26 then book became 859@1116.5x1116.6@74',
 ' traded volume 74 then book became 859@1116.5x1116.7@37',
 ' traded volume 2 then book became 859@1116.5x1116.6@11',
 ' traded volume 11 then book became 4@1116.6x1116.7@42',
 ' traded volume 14 then book became 79@1116.8x1116.9@139',
 ' traded volume 10 then book became 79@1116.8x1116.9@129',
 ' traded volume 100 then book became 74@1116.8x1116.9@32',
 ' traded volume 1 then book became 62@1117x1117.2@77',
 ' traded volume 1 then book became 82@1117x1117.2@78',
 ' traded volume 27 then book became 73@1117.2x1117.3@152',
 ' traded volume 200 then book became 102@1117.2x1117.4@49',
 ' traded volume 1 then book became 32@1117.3x1117.4@66',
 ' traded volume 33 then book became 34@1117.3x1117.4@33',
 ' traded volume 1 then book became 46@1117.3x1117.4@14',
 ' traded volume 8 then book became 46@1117.3x1117.4@7',
 ' traded volume 46 then book became 131@1117.2x1117.4@6',
 ' traded volume 2 then book became 249@1117.3x1117.4@274',
 ' traded volume 2 then book became 36@1117.7x1117.8@116',
 ' traded volume 5 then book became 31@1117.7x1117.8@115',
 ' traded volume 100 then book became 32@1117.7x1117.8@138',
 ' traded volume 1 then book became 295@1117.6x1117.8@145',
 ' traded volume 1 then book became 238@1117.4x1117.5@3',
 ' traded volume 1 then book became 238@1117.4x1117.5@106',
 ' traded volume 100 then book became 238@1117.4x1117.5@6',
 ' traded volume 6 then book became 6@1117.5x1117.6@176',
 ' traded volume 24 then book became 324@1117.5x1117.7@239',
 ' traded volume 70 then book became 55@1117.3x1117.4@106',
 ' traded volume 10 then book became 198@1117.9x1118@102',
 ' traded volume 9 then book became 177@1118.2x1118.4@205',
 ' traded volume 13 then book became 68@1118.3x1118.4@176',
 ' traded volume 9 then book became 68@1118.3x1118.4@157',
 ' traded volume 9 then book became 68@1118.3x1118.4@148',
 ' traded volume 100 then book became 21@1118.3x1118.4@142',
 ' traded volume 1 then book became 259@1118.2x1118.3@99',
 ' traded volume 2 then book became 37@1118x1118.1@256',
 ' traded volume 2 then book became 144@1118x1118.1@248',
 ' traded volume 1 then book became 143@1118x1118.1@248',
 ' traded volume 2 then book became 141@1118x1118.1@246',
 ' traded volume 12 then book became 172@1118.1x1118.3@352',
 ' traded volume 6 then book became 230@1118.1x1118.3@359',
 ' traded volume 9 then book became 265@1118.5x1118.6@300',
 ' traded volume 10 then book became 265@1118.5x1118.6@124',
 ' traded volume 100 then book became 273@1118.5x1118.6@16',
 ' traded volume 7 then book became 373@1118.5x1118.6@155',
 ' traded volume 8 then book became 373@1118.5x1118.6@147',
 ' traded volume 89 then book became 373@1118.5x1118.6@58',
 ' traded volume 8 then book became 373@1118.5x1118.6@50',
 ' traded volume 2 then book became 373@1118.5x1118.6@48',
 ' traded volume 48 then book became 342@1118.5x1118.7@284',
 ' traded volume 5 then book became 340@1118.5x1118.6@1',
 ' traded volume 1 then book became 6@1118.6x1118.7@319',
 ' traded volume 5 then book became 1@1118.6x1118.7@319',
 ' traded volume 1 then book became 345@1118.5x1118.7@319',
 ' traded volume 4 then book became 342@1118.5x1118.6@115',
 ' traded volume 1 then book became 203@1118.6x1118.7@6',
 ' traded volume 32 then book became 202@1118.6x1118.7@15',
 ' traded volume 48 then book became 202@1118.6x1118.8@443',
 ' traded volume 100 then book became 202@1118.6x1118.8@343',
 ' traded volume 2 then book became 13@1118.4x1118.5@141',
 ' traded volume 1 then book became 342@1118.6x1118.7@187',
 ' traded volume 84 then book became 600@1118.6x1118.7@116',
 ' traded volume 17 then book became 592@1118.6x1118.8@183',
 ' traded volume 7 then book became 58@1118.4x1118.5@294',
 ' traded volume 7 then book became 449@1118.3x1118.5@332',
 ' traded volume 10 then book became 281@1118.4x1118.5@90',
 ' traded volume 92 then book became 8@1118.3x1118.4@202',
 ' traded volume 8 then book became 284@1118.2x1118.3@8',
 ' traded volume 2 then book became 4@1118.3x1118.4@222',
 ' traded volume 100 then book became 73@1118.1x1118.2@398',
 ' traded volume 19 then book became 745@1118x1118.1@81',
 ' traded volume 138 then book became 479@1117.9x1118.1@163',
 ' traded volume 1 then book became 21@1117.6x1117.7@188',
 ' traded volume 21 then book became 494@1117.5x1117.7@188',
 ' traded volume 3 then book became 88@1117.4x1117.5@149',
 ' traded volume 19 then book became 127@1117.5x1117.6@341',
 ' traded volume 200 then book became 74@1117.5x1117.6@187',
 ' traded volume 22 then book became 52@1117.5x1117.6@187',
 ' traded volume 8 then book became 44@1117.5x1117.6@187',
 ' traded volume 44 then book became 368@1117.4x1117.6@187',
 ' traded volume 2 then book became 343@1116.9x1117@37',
 ' traded volume 37 then book became 343@1116.9x1117.1@169',
 ' traded volume 60 then book became 91@1117.4x1117.5@119',
 ' traded volume 18 then book became 159@1117.4x1117.5@115',
 ' traded volume 1 then book became 235@1118x1118.1@261',
 ' traded volume 8 then book became 227@1118x1118.1@253',
 ' traded volume 8 then book became 219@1118x1118.1@245',
 ' traded volume 186 then book became 418@1117.9x1118.1@265',
 ' traded volume 1 then book became 418@1117.9x1118@1',
 ' traded volume 1 then book became 4@1118x1118.1@374',
 ' traded volume 4 then book became 388@1117.9x1118.1@373',
 ' traded volume 7 then book became 3@1118x1118.1@301',
 ' traded volume 3 then book became 388@1117.9x1118@17',
 ' traded volume 9 then book became 408@1117.9x1118.1@348',
 ' traded volume 1 then book became 437@1117.9x1118.1@351',
 ' traded volume 2 then book became 268@1117.7x1117.9@349',
 ' traded volume 5 then book became 20@1118x1118.1@287',
 ' traded volume 1 then book became 269@1117.8x1118@165',
 ' traded volume 8 then book became 384@1118x1118.1@2',
 ' traded volume 2 then book became 414@1118x1118.2@304',
 ' traded volume 1 then book became 490@1117.5x1117.7@185',
 ' traded volume 31 then book became 343@1117.2x1117.4@304',
 ' traded volume 50 then book became 136@1117.1x1117.2@116',
 ' traded volume 7 then book became 534@1116.3x1116.5@478',
 ' traded volume 6 then book became 644@1116.3x1116.5@523',
 ' traded volume 2 then book became 56@1116.5x1116.6@319',
 ' traded volume 56 then book became 312@1116.4x1116.6@319',
 ' traded volume 80 then book became 474@1116.4x1116.5@297',
 ' traded volume 2 then book became 168@1116.3x1116.5@364',
 ' traded volume 86 then book became 14@1116.1x1116.2@266',
 ' traded volume 8 then book became 210@1116.8x1117@163',
 ' traded volume 1 then book became 309@1116.8x1116.9@172',
 ' traded volume 30 then book became 123@1116.8x1116.9@697',
 ' traded volume 22 then book became 101@1116.8x1116.9@697',
 ' traded volume 101 then book became 177@1116.7x1116.9@697',
 ' traded volume 23 then book became 103@1116.7x1116.8@177',
 ' traded volume 3 then book became 138@1116.7x1116.8@171',
 ' traded volume 2 then book became 138@1116.7x1116.8@169',
 ' traded volume 1 then book became 316@1117.2x1117.3@96',
 ' traded volume 100 then book became 194@1117.3x1117.4@290',
 ' traded volume 20 then book became 362@1117.3x1117.4@300',
 ' traded volume 10 then book became 358@1117.3x1117.4@189',
 ' traded volume 100 then book became 47@1116.9x1117@247',
 ' traded volume 25 then book became 2@1116.9x1117@253',
 ' traded volume 1 then book became 341@1116.8x1116.9@6',
 ' traded volume 100 then book became 32@1116.3x1116.4@57',
 ' traded volume 1 then book became 158@1116.9x1117@150',
 ' traded volume 113 then book became 345@1116.5x1116.6@387',
 ' traded volume 10 then book became 207@1116.5x1116.6@377',
 ' traded volume 1 then book became 207@1116.5x1116.6@376',

In [678]:
market_prices_1 = []
for i in result1_1:
    market_prices_1.append(re.findall('\d+', i))
market_prices_1

[['5', '4', '1108', '6', '1108', '7', '25'],
 ['1', '4', '1108', '6', '1108', '7', '64'],
 ['13', '27', '1108', '4', '1108', '5', '11'],
 ['2', '23', '1108', '4', '1108', '5', '49'],
 ['49', '23', '1108', '4', '1108', '6', '4'],
 ['1', '3', '1108', '6', '1108', '7', '14'],
 ['16', '27', '1108', '4', '1108', '5', '23'],
 ['23', '23', '1108', '4', '1108', '7', '2'],
 ['1', '4', '1108', '5', '1108', '7', '8'],
 ['10', '23', '1108', '4', '1108', '7', '8'],
 ['10', '21', '1108', '4', '1108', '7', '8'],
 ['1', '4', '1108', '5', '1108', '7', '8'],
 ['1', '4', '1108', '5', '1108', '7', '8'],
 ['10', '15', '1108', '4', '1108', '7', '8'],
 ['3', '15', '1108', '4', '1108', '6', '1'],
 ['10', '13', '1108', '4', '1108', '7', '8'],
 ['10', '9', '1108', '4', '1108', '7', '7'],
 ['1', '9', '1108', '4', '1108', '6', '74'],
 ['10', '3', '1108', '4', '1108', '6', '2'],
 ['1', '4', '1108', '4', '1108', '6', '3'],
 ['2', '12', '1108', '3', '1108', '4', '68'],
 ['1', '8', '1108', '3', '1108', '4', '77'],
 ['1', '8', '1108', '3', '1108', '4', '76'],
 ['1', '13', '1108', '3', '1108', '4', '75'],
 ['13', '46', '1108', '2', '1108', '3', '7'],
 ['1', '22', '1108', '2', '1108', '3', '6'],
 ['2', '28', '1108', '2', '1108', '4', '81'],
 ['11', '28', '1108', '2', '1108', '4', '70'],
 ['1', '10', '1108', '3', '1108', '4', '69'],
 ['69', '70', '1108', '3', '1108', '5', '8'],
 ['2', '70', '1108', '3', '1108', '5', '7'],
 ['3', '3', '1108', '4', '1108', '5', '4'],
 ['10', '71', '1108', '3', '1108', '5', '20'],
 ['7', '19', '1108', '4', '1108', '6', '6'],
 ['1', '19', '1108', '4', '1108', '6', '6'],
 ['10', '20', '1108', '4', '1108', '6', '21'],
 ['10', '71', '1108', '3', '1108', '5', '79'],
 ['10', '10', '1108', '7', '1108', '8', '26'],
 ['10', '15', '1108', '6', '1108', '8', '22'],
 ['16', '17', '1108', '5', '1108', '6', '84'],
 ['100', '12', '1108', '5', '1108', '7', '1'],
 ['4', '388', '1108', '6', '1108', '8', '18'],
 ['2', '10', '1108', '7', '1108', '8', '9'],
 ['1', '37', '1108', '6', '1108', '7', '7'],
 ['4', '37', '1108', '6', '1108', '7', '3'],
 ['2', '63', '1108', '6', '1108', '7', '5'],
 ['1', '63', '1108', '6', '1108', '7', '4'],
 ['10', '26', '1108', '7', '1108', '8', '50'],
 ['35', '389', '1108', '7', '1108', '9', '29'],
 ['7', '355', '1108', '8', '1108', '9', '29'],
 ['3', '357', '1108', '8', '1108', '9', '17'],
 ['34', '86', '1108', '3', '1108', '4', '8'],
 ['2', '86', '1108', '3', '1108', '4', '2'],
 ['3', '86', '1108', '3', '1108', '4', '2'],
 ['2', '86', '1108', '3', '1108', '5', '207'],
 ['37', '86', '1108', '3', '1108', '4', '55'],
 ['1', '86', '1108', '3', '1108', '4', '54'],
 ['54', '86', '1108', '3', '1108', '5', '45'],
 ['1', '86', '1108', '3', '1108', '5', '50'],
 ['4', '85', '1108', '3', '1108', '4', '40'],
 ['1', '84', '1108', '3', '1108', '4', '39'],
 ['2', '84', '1108', '3', '1108', '4', '37'],
 ['40', '84', '1108', '3', '1108', '5', '47'],
 ['31', '95', '1108', '4', '1108', '6', '37'],
 ['8', '98', '1108', '4', '1108', '6', '37'],
 ['84', '111', '1108', '4', '1108', '6', '37'],
 ['12', '34', '1108', '5', '1108', '6', '1'],
 ['3', '31', '1108', '5', '1108', '7', '31'],
 ['1', '30', '1108', '5', '1108', '6', '12'],
 ['1', '148', '1108', '1108', '2', '49'],
 ['110', '38', '1108', '1108', '2', '49'],
 ['13', '31', '1107', '9', '1108', '1', '32'],
 ['1', '31', '1107', '9', '1108', '17'],
 ['16', '24', '1107', '9', '1108', '17'],
 ['13', '11', '1107', '9', '1108', '17'],
 ['7', '32', '1107', '8', '1108', '22'],
 ['1', '42', '1107', '8', '1107', '9', '6'],
 ['2', '42', '1107', '8', '1107', '9', '4'],
 ['2', '42', '1107', '8', '1107', '9', '13'],
 ['10', '42', '1107', '8', '1107', '9', '3'],
 ['3', '42', '1107', '8', '1108', '27'],
 ['15', '4', '1107', '9', '1108', '13'],
 ['11', '4', '1108', '1108', '1', '29'],
 ['4', '28', '1107', '9', '1108', '1', '29'],
 ['3', '25', '1107', '9', '1108', '1', '28'],
 ['16', '9', '1107', '9', '1108', '1', '28'],
 ['14', '42', '1107', '8', '1108', '1', '28'],
 ['2', '22', '1107', '9', '1108', '1', '28'],
 ['16', '6', '1107', '9', '1108', '1', '28'],
 ['1', '60', '1107', '9', '1108', '9'],
 ['1', '22', '1107', '9', '1108', '9'],
 ['1', '28', '1107', '9', '1108', '17'],
 ['1', '29', '1107', '9', '1108', '18'],
 ['1', '45', '1107', '9', '1108', '1', '38'],
 ['12', '135', '1108', '3', '1108', '4', '28'],
 ['17', '61', '1108', '4', '1108', '6', '47'],
 ['3', '10', '1108', '5', '1108', '6', '47'],
 ['3', '25', '1108', '5', '1108', '6', '44'],
 ['4', '95', '1108', '3', '1108', '4', '8'],
 ['1', '64', '1108', '3', '1108', '4', '57'],
 ['20', '68', '1108', '5', '1108', '6', '80'],
 ['80', '68', '1108', '5', '1108', '7', '86'],
 ['1', '40', '1108', '6', '1108', '7', '140'],
 ['2', '29', '1108', '6', '1108', '7', '377'],
 ['2', '29', '1108', '6', '1108', '7', '375'],
 ['1', '29', '1108', '6', '1108', '7', '377'],
 ['99', '1', '1108', '8', '1108', '9', '332'],
 ['2', '122', '1108', '6', '1108', '8', '180'],
 ['5', '18', '1108', '7', '1108', '8', '458'],
 ['17', '1', '1108', '7', '1108', '8', '458'],
 ['100', '111', '1108', '7', '1108', '9', '282'],
 ['50', '28', '1109', '1109', '1', '213'],
 ['50', '182', '1108', '9', '1109', '373'],
 ['50', '174', '1109', '1', '1109', '2', '112'],
 ['20', '234', '1109', '1', '1109', '2', '132'],
 ['71', '234', '1109', '1', '1109', '2', '61'],
 ['49', '234', '1109', '1', '1109', '2', '12'],
 ['12', '234', '1109', '1', '1109', '3', '293'],
 ['5', '209', '1109', '1', '1109', '2', '95'],
 ['6', '197', '1109', '1', '1109', '2', '157'],
 ['1', '197', '1109', '1', '1109', '2', '168'],
 ['50', '119', '1109', '1109', '1', '65'],
 ['299', '185', '1109', '1', '1109', '3', '189'],
 ['100', '147', '1109', '1', '1109', '3', '346'],
 ['300', '304', '1109', '1', '1109', '3', '19'],
 ['23', '1', '1109', '5', '1109', '6', '180'],
 ['1', '189', '1109', '4', '1109', '5', '20'],
 ['2', '134', '1109', '4', '1109', '5', '75'],
 ['100', '230', '1109', '5', '1109', '6', '14'],
 ['10', '249', '1109', '1', '1109', '3', '239'],
 ['15', '1', '1109', '1109', '1', '188'],
 ['1', '352', '1108', '9', '1109', '12'],
 ['12', '352', '1108', '9', '1109', '1', '202'],
 ['100', '161', '1108', '8', '1108', '9', '67'],
 ['7', '233', '1108', '8', '1109', '770'],
 ['200', '308', '1108', '7', '1108', '9', '296'],
 ['4', '29', '1108', '8', '1108', '9', '316'],
 ['20', '9', '1108', '8', '1108', '9', '358'],
 ['9', '321', '1108', '7', '1108', '9', '358'],
 ['4', '324', '1108', '7', '1108', '9', '358'],
 ['7', '324', '1108', '7', '1108', '8', '13'],
 ['6', '341', '1108', '7', '1108', '8', '7'],
 ['200', '351', '1108', '7', '1108', '9', '235'],
 ['4', '351', '1108', '7', '1108', '8', '16'],
 ['16', '17', '1108', '8', '1108', '9', '202'],
 ['17', '353', '1108', '7', '1108', '9', '237'],
 ['13', '3', '1108', '8', '1108', '9', '243'],
 ['3', '187', '1108', '6', '1108', '8', '389'],
 ['64', '246', '1108', '3', '1108', '4', '98'],
 ['64', '182', '1108', '3', '1108', '4', '135'],
 ['100', '155', '1107', '5', '1107', '6', '40'],
 ['4', '164', '1107', '7', '1107', '8', '188'],
 ['10', '436', '1108', '1108', '1', '90'],
 ['1', '329', '1107', '5', '1107', '6', '12'],
 ['12', '9', '1107', '6', '1107', '7', '498'],
 ['20', '164', '1107', '4', '1107', '5', '164'],
 ['1', '738', '1107', '5', '1107', '7', '182'],
 ['3', '192', '1106', '7', '1106', '8', '374'],
 ['99', '345', '1106', '6', '1106', '7', '101'],
 ['1', '205', '1106', '6', '1106', '7', '329'],
 ['1', '202', '1106', '6', '1106', '7', '329'],
 ['1', '142', '1106', '4', '1106', '5', '155'],
 ['167', '441', '1106', '3', '1106', '5', '290'],
 ['1', '244', '1106', '3', '1106', '4', '126'],
 ['26', '248', '1106', '3', '1106', '5', '358'],
 ['53', '204', '1105', '7', '1105', '9', '485'],
 ['2', '226', '1105', '7', '1105', '8', '81'],
 ['2', '233', '1106', '1', '1106', '2', '332'],
 ['11', '493', '1106', '3', '1106', '5', '276'],
 ['4', '25', '1106', '4', '1106', '5', '256'],
 ['10', '526', '1106', '3', '1106', '5', '256'],
 ['100', '104', '1106', '5', '1106', '6', '219'],
 ['1', '2', '1105', '8', '1105', '9', '482'],
 ['2', '169', '1105', '7', '1105', '9', '482'],
 ['100', '91', '1105', '8', '1105', '9', '38'],
 ['1', '232', '1105', '8', '1106', '505'],
 ['2', '111', '1105', '8', '1105', '9', '481'],
 ['100', '129', '1105', '7', '1105', '8', '38'],
 ['88', '262', '1105', '3', '1105', '5', '408'],
 ['1', '257', '1105', '8', '1105', '9', '95'],
 ['89', '257', '1105', '8', '1105', '9', '6'],
 ['2', '257', '1105', '8', '1106', '580'],
 ['100', '276', '1105', '8', '1105', '9', '20'],
 ['4', '391', '1105', '8', '1105', '9', '16'],
 ['6', '291', '1105', '8', '1105', '9', '10'],
 ['2', '291', '1105', '8', '1105', '9', '8'],
 ['8', '291', '1105', '8', '1106', '492'],
 ['2', '211', '1106', '5', '1106', '6', '138'],
 ['1', '388', '1106', '8', '1106', '9', '144'],
 ['1', '250', '1106', '8', '1106', '9', '175'],
 ['1', '430', '1106', '7', '1106', '9', '304'],
 ['1', '12', '1106', '8', '1106', '9', '391'],
 ['2', '10', '1106', '8', '1106', '9', '411'],
 ['10', '351', '1106', '7', '1106', '9', '411'],
 ['4', '231', '1106', '7', '1106', '8', '10'],
 ['14', '231', '1106', '7', '1106', '9', '441'],
 ['94', '417', '1106', '7', '1106', '8', '5'],
 ['5', '317', '1106', '7', '1106', '8', '26'],
 ['5', '297', '1106', '7', '1106', '8', '31'],
 ['37', '1', '1106', '4', '1106', '5', '353'],
 ['1', '471', '1106', '3', '1106', '4', '5'],
 ['3', '34', '1116', '6', '1116', '7', '127'],
 ['20', '14', '1116', '6', '1116', '7', '117'],
 ['5', '17', '1116', '6', '1116', '7', '127'],
 ['17', '873', '1116', '5', '1116', '6', '83'],
 ['7', '853', '1116', '5', '1116', '6', '96'],
 ['64', '853', '1116', '5', '1116', '6', '22'],
 ['22', '853', '1116', '5', '1116', '7', '128'],
 ['10', '857', '1116', '5', '1116', '7', '122'],
 ['26', '859', '1116', '5', '1116', '6', '74'],
 ['74', '859', '1116', '5', '1116', '7', '37'],
 ['2', '859', '1116', '5', '1116', '6', '11'],
 ['11', '4', '1116', '6', '1116', '7', '42'],
 ['14', '79', '1116', '8', '1116', '9', '139'],
 ['10', '79', '1116', '8', '1116', '9', '129'],
 ['100', '74', '1116', '8', '1116', '9', '32'],
 ['1', '62', '1117', '1117', '2', '77'],
 ['1', '82', '1117', '1117', '2', '78'],
 ['27', '73', '1117', '2', '1117', '3', '152'],
 ['200', '102', '1117', '2', '1117', '4', '49'],
 ['1', '32', '1117', '3', '1117', '4', '66'],
 ['33', '34', '1117', '3', '1117', '4', '33'],
 ['1', '46', '1117', '3', '1117', '4', '14'],
 ['8', '46', '1117', '3', '1117', '4', '7'],
 ['46', '131', '1117', '2', '1117', '4', '6'],
 ['2', '249', '1117', '3', '1117', '4', '274'],
 ['2', '36', '1117', '7', '1117', '8', '116'],
 ['5', '31', '1117', '7', '1117', '8', '115'],
 ['100', '32', '1117', '7', '1117', '8', '138'],
 ['1', '295', '1117', '6', '1117', '8', '145'],
 ['1', '238', '1117', '4', '1117', '5', '3'],
 ['1', '238', '1117', '4', '1117', '5', '106'],
 ['100', '238', '1117', '4', '1117', '5', '6'],
 ['6', '6', '1117', '5', '1117', '6', '176'],
 ['24', '324', '1117', '5', '1117', '7', '239'],
 ['70', '55', '1117', '3', '1117', '4', '106'],
 ['10', '198', '1117', '9', '1118', '102'],
 ['9', '177', '1118', '2', '1118', '4', '205'],
 ['13', '68', '1118', '3', '1118', '4', '176'],
 ['9', '68', '1118', '3', '1118', '4', '157'],
 ['9', '68', '1118', '3', '1118', '4', '148'],
 ['100', '21', '1118', '3', '1118', '4', '142'],
 ['1', '259', '1118', '2', '1118', '3', '99'],
 ['2', '37', '1118', '1118', '1', '256'],
 ['2', '144', '1118', '1118', '1', '248'],
 ['1', '143', '1118', '1118', '1', '248'],
 ['2', '141', '1118', '1118', '1', '246'],
 ['12', '172', '1118', '1', '1118', '3', '352'],
 ['6', '230', '1118', '1', '1118', '3', '359'],
 ['9', '265', '1118', '5', '1118', '6', '300'],
 ['10', '265', '1118', '5', '1118', '6', '124'],
 ['100', '273', '1118', '5', '1118', '6', '16'],
 ['7', '373', '1118', '5', '1118', '6', '155'],
 ['8', '373', '1118', '5', '1118', '6', '147'],
 ['89', '373', '1118', '5', '1118', '6', '58'],
 ['8', '373', '1118', '5', '1118', '6', '50'],
 ['2', '373', '1118', '5', '1118', '6', '48'],
 ['48', '342', '1118', '5', '1118', '7', '284'],
 ['5', '340', '1118', '5', '1118', '6', '1'],
 ['1', '6', '1118', '6', '1118', '7', '319'],
 ['5', '1', '1118', '6', '1118', '7', '319'],
 ['1', '345', '1118', '5', '1118', '7', '319'],
 ['4', '342', '1118', '5', '1118', '6', '115'],
 ['1', '203', '1118', '6', '1118', '7', '6'],
 ['32', '202', '1118', '6', '1118', '7', '15'],
 ['48', '202', '1118', '6', '1118', '8', '443'],
 ['100', '202', '1118', '6', '1118', '8', '343'],
 ['2', '13', '1118', '4', '1118', '5', '141'],
 ['1', '342', '1118', '6', '1118', '7', '187'],
 ['84', '600', '1118', '6', '1118', '7', '116'],
 ['17', '592', '1118', '6', '1118', '8', '183'],
 ['7', '58', '1118', '4', '1118', '5', '294'],
 ['7', '449', '1118', '3', '1118', '5', '332'],
 ['10', '281', '1118', '4', '1118', '5', '90'],
 ['92', '8', '1118', '3', '1118', '4', '202'],
 ['8', '284', '1118', '2', '1118', '3', '8'],
 ['2', '4', '1118', '3', '1118', '4', '222'],
 ['100', '73', '1118', '1', '1118', '2', '398'],
 ['19', '745', '1118', '1118', '1', '81'],
 ['138', '479', '1117', '9', '1118', '1', '163'],
 ['1', '21', '1117', '6', '1117', '7', '188'],
 ['21', '494', '1117', '5', '1117', '7', '188'],
 ['3', '88', '1117', '4', '1117', '5', '149'],
 ['19', '127', '1117', '5', '1117', '6', '341'],
 ['200', '74', '1117', '5', '1117', '6', '187'],
 ['22', '52', '1117', '5', '1117', '6', '187'],
 ['8', '44', '1117', '5', '1117', '6', '187'],
 ['44', '368', '1117', '4', '1117', '6', '187'],
 ['2', '343', '1116', '9', '1117', '37'],
 ['37', '343', '1116', '9', '1117', '1', '169'],
 ['60', '91', '1117', '4', '1117', '5', '119'],
 ['18', '159', '1117', '4', '1117', '5', '115'],
 ['1', '235', '1118', '1118', '1', '261'],
 ['8', '227', '1118', '1118', '1', '253'],
 ['8', '219', '1118', '1118', '1', '245'],
 ['186', '418', '1117', '9', '1118', '1', '265'],
 ['1', '418', '1117', '9', '1118', '1'],
 ['1', '4', '1118', '1118', '1', '374'],
 ['4', '388', '1117', '9', '1118', '1', '373'],
 ['7', '3', '1118', '1118', '1', '301'],
 ['3', '388', '1117', '9', '1118', '17'],
 ['9', '408', '1117', '9', '1118', '1', '348'],
 ['1', '437', '1117', '9', '1118', '1', '351'],
 ['2', '268', '1117', '7', '1117', '9', '349'],
 ['5', '20', '1118', '1118', '1', '287'],
 ['1', '269', '1117', '8', '1118', '165'],
 ['8', '384', '1118', '1118', '1', '2'],
 ['2', '414', '1118', '1118', '2', '304'],
 ['1', '490', '1117', '5', '1117', '7', '185'],
 ['31', '343', '1117', '2', '1117', '4', '304'],
 ['50', '136', '1117', '1', '1117', '2', '116'],
 ['7', '534', '1116', '3', '1116', '5', '478'],
 ['6', '644', '1116', '3', '1116', '5', '523'],
 ['2', '56', '1116', '5', '1116', '6', '319'],
 ['56', '312', '1116', '4', '1116', '6', '319'],
 ['80', '474', '1116', '4', '1116', '5', '297'],
 ['2', '168', '1116', '3', '1116', '5', '364'],
 ['86', '14', '1116', '1', '1116', '2', '266'],
 ['8', '210', '1116', '8', '1117', '163'],
 ['1', '309', '1116', '8', '1116', '9', '172'],
 ['30', '123', '1116', '8', '1116', '9', '697'],
 ['22', '101', '1116', '8', '1116', '9', '697'],
 ['101', '177', '1116', '7', '1116', '9', '697'],
 ['23', '103', '1116', '7', '1116', '8', '177'],
 ['3', '138', '1116', '7', '1116', '8', '171'],
 ['2', '138', '1116', '7', '1116', '8', '169'],
 ['1', '316', '1117', '2', '1117', '3', '96'],
 ['100', '194', '1117', '3', '1117', '4', '290'],
 ['20', '362', '1117', '3', '1117', '4', '300'],
 ['10', '358', '1117', '3', '1117', '4', '189'],
 ['100', '47', '1116', '9', '1117', '247'],
 ['25', '2', '1116', '9', '1117', '253'],
 ['1', '341', '1116', '8', '1116', '9', '6'],
 ['100', '32', '1116', '3', '1116', '4', '57'],
 ['1', '158', '1116', '9', '1117', '150'],
 ['113', '345', '1116', '5', '1116', '6', '387'],
 ['10', '207', '1116', '5', '1116', '6', '377'],
 ['1', '207', '1116', '5', '1116', '6', '376'],
 ['7', '298', '1116', '4', '1116', '5', '71'],
 ['100', '13', '1111', '4', '1111', '6', '34'],
 ['1', '35', '1111', '4', '1111', '6', '33'],
 ['35', '60', '1111', '3', '1111', '4', '65'],
 ['46', '35', '1111', '3', '1111', '4', '43'],
 ['2', '35', '1111', '3', '1111', '4', '156'],
 ['10', '11', '1111', '5', '1111', '6', '51'],
 ['1', '96', '1111', '5', '1111', '7', '83'],
 ['100', '126', '1111', '6', '1111', '7', '9'],
 ['9', '126', '1111', '6', '1111', '8', '287'],
 ['10', '131', '1111', '6', '1111', '8', '317'],
 ['2', '131', '1111', '6', '1111', '8', '317'],
 ['2', '131', '1111', '6', '1111', '8', '317'],
 ['100', '131', '1111', '6', '1111', '8', '308'],
 ['2', '131', '1111', '6', '1111', '8', '308'],
 ['2', '131', '1111', '6', '1111', '8', '308'],
 ['1', '131', '1111', '6', '1111', '7', '1'],
 ['1', '131', '1111', '6', '1111', '8', '308'],
 ['122', '228', '1111', '4', '1111', '6', '211'],
 ['20', '144', '1111', '5', '1111', '6', '80'],
 ['20', '144', '1111', '5', '1111', '6', '77'],
 ['93', '7', '1111', '6', '1111', '7', '229'],
 ['8', '4', '1111', '6', '1111', '7', '229'],
 ['3', '20', '1111', '5', '1111', '6', '289'],
 ['30', '266', '1111', '3', '1111', '4', '50'],
 ['10', '152', '1111', '3', '1111', '4', '130'],
 ['18', '134', '1111', '3', '1111', '4', '130'],
 ['8', '126', '1111', '3', '1111', '4', '130'],
 ['17', '109', '1111', '3', '1111', '4', '130'],
 ['109', '174', '1111', '2', '1111', '4', '130'],
 ['1', '195', '1111', '2', '1111', '4', '113'],
 ['2', '5', '1111', '3', '1111', '4', '105'],
 ['8', '203', '1111', '2', '1111', '4', '105'],
 ['1', '370', '1110', '7', '1110', '9', '294'],
 ['8', '370', '1110', '7', '1110', '9', '295'],
 ['4', '197', '1109', '6', '1109', '7', '73'],
 ['4', '197', '1109', '6', '1109', '7', '69'],
 ['12', '148', '1109', '6', '1109', '7', '250'],
 ['100', '148', '1109', '6', '1109', '7', '81'],
 ['9', '11', '1109', '7', '1109', '8', '897'],
 ['2', '108', '1109', '4', '1109', '5', '334'],
 ['100', '8', '1109', '4', '1109', '5', '334'],
 ['8', '149', '1109', '3', '1109', '5', '334'],
 ['33', '538', '1110', '1110', '2', '147'],
 ['2', '254', '1110', '2', '1110', '3', '39'],
 ['2', '280', '1110', '5', '1110', '6', '18'],
 ['26', '280', '1110', '5', '1110', '7', '411'],
 ['14', '280', '1110', '5', '1110', '6', '86'],
 ['44', '16', '1110', '6', '1110', '7', '144'],
 ['9', '323', '1110', '5', '1110', '7', '144'],
 ['30', '70', '1110', '7', '1110', '8', '573'],
 ['50', '156', '1111', '4', '1111', '5', '139'],
 ['2', '342', '1110', '8', '1111', '536'],
 ['2', '342', '1110', '8', '1111', '302'],
 ['8', '99', '1110', '9', '1111', '302'],
 ['2', '113', '1110', '9', '1111', '130'],
 ['100', '199', '1110', '4', '1110', '5', '194'],
 ['4', '75', '1110', '4', '1110', '5', '194'],
 ['1', '160', '1110', '2', '1110', '3', '197'],
 ['100', '143', '1110', '1110', '2', '263'],
 ['8', '6', '1110', '1', '1110', '2', '263'],
 ['3', '143', '1110', '1110', '2', '313'],
 ['10', '181', '1111', '2', '1111', '4', '423'],
 ['1', '161', '1111', '2', '1111', '4', '422'],
 ['5', '181', '1111', '2', '1111', '4', '422'],
 ['1', '198', '1111', '1', '1111', '3', '270'],
 ['99', '1', '1111', '2', '1111', '3', '207'],
 ['1', '293', '1111', '1', '1111', '2', '15'],
 ['37', '294', '1111', '2', '1111', '3', '59'],
 ['7', '294', '1111', '2', '1111', '3', '52'],
 ['42', '294', '1111', '2', '1111', '3', '10'],
 ['10', '294', '1111', '2', '1111', '4', '575'],
 ['3', '301', '1111', '2', '1111', '3', '1'],
 ['1', '321', '1111', '2', '1111', '4', '595'],
 ['1', '44', '1111', '3', '1111', '4', '589'],
 ['1', '301', '1111', '2', '1111', '3', '8'],
 ['8', '145', '1111', '1111', '1', '202'],
 ['24', '278', '1110', '8', '1110', '9', '172'],
 ['1', '114', '1111', '4', '1111', '5', '168'],
 ['7', '127', '1111', '4', '1111', '5', '161'],
 ['127', '262', '1111', '3', '1111', '5', '161'],
 ['1', '1', '1111', '1', '1111', '2', '152'],
 ['1', '61', '1110', '9', '1111', '135'],
 ['50', '50', '1110', '9', '1111', '166'],
 ['50', '334', '1110', '8', '1111', '166'],
 ['11', '154', '1110', '8', '1110', '9', '57'],
 ['1', '80', '1110', '9', '1111', '77'],
 ['1', '205', '1110', '8', '1111', '320'],
 ['12', '239', '1111', '8', '1111', '9', '72'],

In [679]:
market_prices_1 = pd.DataFrame(market_prices_1)
market_prices_1

       0    1     2  3     4  5    6
0      5    4  1108  6  1108  7   25
1      1    4  1108  6  1108  7   64
2     13   27  1108  4  1108  5   11
3      2   23  1108  4  1108  5   49
4     49   23  1108  4  1108  6    4
...   ..  ...   ... ..   ... ..  ...
5481   1  403  1149  1  1149  2  137
5482  30  349  1149  5  1149  7  385
5483   1   29  1150  4  1150  5  408
5484   1   48  1150  4  1150  5  325
5485   5   33  1150  4  1150  5  308

[5486 rows x 7 columns]

In [680]:
market_prices_1 = market_prices_1.drop(columns=market_prices_1.iloc[:, range(2)])
market_prices_1

         2  3     4  5    6
0     1108  6  1108  7   25
1     1108  6  1108  7   64
2     1108  4  1108  5   11
3     1108  4  1108  5   49
4     1108  4  1108  6    4
...    ... ..   ... ..  ...
5481  1149  1  1149  2  137
5482  1149  5  1149  7  385
5483  1150  4  1150  5  408
5484  1150  4  1150  5  325
5485  1150  4  1150  5  308

[5486 rows x 5 columns]

In [681]:
market_prices_1

         2  3     4  5    6
0     1108  6  1108  7   25
1     1108  6  1108  7   64
2     1108  4  1108  5   11
3     1108  4  1108  5   49
4     1108  4  1108  6    4
...    ... ..   ... ..  ...
5481  1149  1  1149  2  137
5482  1149  5  1149  7  385
5483  1150  4  1150  5  408
5484  1150  4  1150  5  325
5485  1150  4  1150  5  308

[5486 rows x 5 columns]

In [682]:
market_prices_1.columns = market_prices_1.columns.astype(str)

In [683]:
market_prices_1 = market_prices_1.drop(['6'], axis=1)
market_prices_1

         2  3     4  5
0     1108  6  1108  7
1     1108  6  1108  7
2     1108  4  1108  5
3     1108  4  1108  5
4     1108  4  1108  6
...    ... ..   ... ..
5481  1149  1  1149  2
5482  1149  5  1149  7
5483  1150  4  1150  5
5484  1150  4  1150  5
5485  1150  4  1150  5

[5486 rows x 4 columns]

In [684]:
market_prices_1.iloc[:, 0] = pd.to_numeric(market_prices_1.iloc[:, 0])
market_prices_1

         2  3     4  5
0     1108  6  1108  7
1     1108  6  1108  7
2     1108  4  1108  5
3     1108  4  1108  5
4     1108  4  1108  6
...    ... ..   ... ..
5481  1149  1  1149  2
5482  1149  5  1149  7
5483  1150  4  1150  5
5484  1150  4  1150  5
5485  1150  4  1150  5

[5486 rows x 4 columns]

In [685]:
market_prices_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5486 entries, 0 to 5485
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2       5486 non-null   int64
 1   3       5486 non-null   object
 2   4       5486 non-null   object
 3   5       5486 non-null   object
dtypes: int64(1), object(3)
memory usage: 171.6+ KB

In [686]:
market_prices_1.iloc[:, 1] = pd.to_numeric(market_prices_1.iloc[:, 1])
market_prices_1

         2  3     4  5
0     1108  6  1108  7
1     1108  6  1108  7
2     1108  4  1108  5
3     1108  4  1108  5
4     1108  4  1108  6
...    ... ..   ... ..
5481  1149  1  1149  2
5482  1149  5  1149  7
5483  1150  4  1150  5
5484  1150  4  1150  5
5485  1150  4  1150  5

[5486 rows x 4 columns]

In [687]:
market_prices_1.iloc[:, 2] = pd.to_numeric(market_prices_1.iloc[:, 2])
market_prices_1

         2  3     4  5
0     1108  6  1108  7
1     1108  6  1108  7
2     1108  4  1108  5
3     1108  4  1108  5
4     1108  4  1108  6
...    ... ..   ... ..
5481  1149  1  1149  2
5482  1149  5  1149  7
5483  1150  4  1150  5
5484  1150  4  1150  5
5485  1150  4  1150  5

[5486 rows x 4 columns]

In [688]:
market_prices_1.iloc[:, 3] = pd.to_numeric(market_prices_1.iloc[:, 3])
market_prices_1

         2  3     4  5
0     1108  6  1108  7
1     1108  6  1108  7
2     1108  4  1108  5
3     1108  4  1108  5
4     1108  4  1108  6
...    ... ..   ... ..
5481  1149  1  1149  2
5482  1149  5  1149  7
5483  1150  4  1150  5
5484  1150  4  1150  5
5485  1150  4  1150  5

[5486 rows x 4 columns]

In [689]:
market_prices_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5486 entries, 0 to 5485
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2       5486 non-null   int64
 1   3       5486 non-null   int64
 2   4       5486 non-null   int64
 3   5       5486 non-null   int64
dtypes: int64(4)
memory usage: 171.6 KB

In [690]:
market_prices_1.iloc[:, 1] = (market_prices_1.iloc[:, 1])/10
market_prices_1

         2    3     4  5
0     1108  0.6  1108  7
1     1108  0.6  1108  7
2     1108  0.4  1108  5
3     1108  0.4  1108  5
4     1108  0.4  1108  6
...    ...  ...   ... ..
5481  1149  0.1  1149  2
5482  1149  0.5  1149  7
5483  1150  0.4  1150  5
5484  1150  0.4  1150  5
5485  1150  0.4  1150  5

[5486 rows x 4 columns]

In [691]:
market_prices_1.iloc[:, 3] = (market_prices_1.iloc[:, 3])/10
market_prices_1

         2    3     4    5
0     1108  0.6  1108  0.7
1     1108  0.6  1108  0.7
2     1108  0.4  1108  0.5
3     1108  0.4  1108  0.5
4     1108  0.4  1108  0.6
...    ...  ...   ...  ...
5481  1149  0.1  1149  0.2
5482  1149  0.5  1149  0.7
5483  1150  0.4  1150  0.5
5484  1150  0.4  1150  0.5
5485  1150  0.4  1150  0.5

[5486 rows x 4 columns]

In [692]:
market_prices_1.iloc[:, 0] = market_prices_1.iloc[:, 0] + market_prices_1.iloc[:, 1]
market_prices_1

           2    3     4    5
0     1108.6  0.6  1108  0.7
1     1108.6  0.6  1108  0.7
2     1108.4  0.4  1108  0.5
3     1108.4  0.4  1108  0.5
4     1108.4  0.4  1108  0.6
...      ...  ...   ...  ...
5481  1149.1  0.1  1149  0.2
5482  1149.5  0.5  1149  0.7
5483  1150.4  0.4  1150  0.5
5484  1150.4  0.4  1150  0.5
5485  1150.4  0.4  1150  0.5

[5486 rows x 4 columns]

In [693]:
market_prices_1.iloc[:, 2] = market_prices_1.iloc[:, 2] + market_prices_1.iloc[:, 3]
market_prices_1

           2    3       4    5
0     1108.6  0.6  1108.7  0.7
1     1108.6  0.6  1108.7  0.7
2     1108.4  0.4  1108.5  0.5
3     1108.4  0.4  1108.5  0.5
4     1108.4  0.4  1108.6  0.6
...      ...  ...     ...  ...
5481  1149.1  0.1  1149.2  0.2
5482  1149.5  0.5  1149.7  0.7
5483  1150.4  0.4  1150.5  0.5
5484  1150.4  0.4  1150.5  0.5
5485  1150.4  0.4  1150.5  0.5

[5486 rows x 4 columns]

In [694]:
market_prices_1 = market_prices_1.drop(['3'], axis=1)
market_prices_1

           2       4    5
0     1108.6  1108.7  0.7
1     1108.6  1108.7  0.7
2     1108.4  1108.5  0.5
3     1108.4  1108.5  0.5
4     1108.4  1108.6  0.6
...      ...     ...  ...
5481  1149.1  1149.2  0.2
5482  1149.5  1149.7  0.7
5483  1150.4  1150.5  0.5
5484  1150.4  1150.5  0.5
5485  1150.4  1150.5  0.5

[5486 rows x 3 columns]

In [695]:
market_prices_1 = market_prices_1.drop(['5'], axis=1)
market_prices_1

           2       4
0     1108.6  1108.7
1     1108.6  1108.7
2     1108.4  1108.5
3     1108.4  1108.5
4     1108.4  1108.6
...      ...     ...
5481  1149.1  1149.2
5482  1149.5  1149.7
5483  1150.4  1150.5
5484  1150.4  1150.5
5485  1150.4  1150.5

[5486 rows x 2 columns]

In [696]:
market_prices_1["mid_price_5sec"] = ""
market_prices_1["mid_price_5sec"] = (market_prices_1.iloc[:, 1] + market_prices_1.iloc[:, 0])/2 
market_prices_1

           2       4  mid_price_5sec
0     1108.6  1108.7         1108.65
1     1108.6  1108.7         1108.65
2     1108.4  1108.5         1108.45
3     1108.4  1108.5         1108.45
4     1108.4  1108.6         1108.50
...      ...     ...             ...
5481  1149.1  1149.2         1149.15
5482  1149.5  1149.7         1149.60
5483  1150.4  1150.5         1150.45
5484  1150.4  1150.5         1150.45
5485  1150.4  1150.5         1150.45

[5486 rows x 3 columns]

In [697]:
exec_df

,Date,Side,Price,traded volume,volume_left,delta_execsend
0,eLog: order exec at 1622505601222248272 with i...,side 1,price 1108.6,traded volume 1,volume left on level 10,delta_execsend 30451968
1,eLog: order exec at 1622505601424113404 with i...,side -1,price 1108.4,traded volume 1,volume left on level 22,delta_execsend 17118720
2,eLog: order exec at 1622505601604667896 with i...,side 1,price 1108.3,traded volume 1,volume left on level 2,delta_execsend 153866496
3,eLog: order exec at 1622505602982200992 with i...,side -1,price 1108.4,traded volume 1,volume left on level 1,delta_execsend 153371136
4,eLog: order exec at 1622505603600579508 with i...,side 1,price 1108.3,traded volume 1,volume left on level 6,delta_execsend 618378496
...,...,...,...,...,...,...
8677,eLog: order exec at 1627626326117581668 with i...,side 1,price 1149.9,traded volume 1,volume left on level 564,delta_execsend 2381312
8678,eLog: order exec at 1627626397873668620 with i...,side -1,price 1150.2,traded volume 1,volume left on level 331,delta_execsend 1296281088
8679,eLog: order exec at 1627626412584847188 with i...,side 1,price 1150.1,traded volume 1,volume left on level 97,delta_execsend 14703859968
8680,eLog: order exec at 1627626473991536064 with i...,side -1,price 1150.4,traded volume 1,volume left on level 10,delta_execsend 12134184704
8681,eLog: order exec at 1627626512859773452 with i...,side 1,price 1150.6,traded volume 1,volume left on level 15,delta_execsend 14734981632

In [698]:
Price_exec_list = exec_df.iloc[:, 2].tolist()
Price_exec_list

[' price 1108.6',
 ' price 1108.4',
 ' price 1108.3',
 ' price 1108.4',
 ' price 1108.3',
 ' price 1108.4',
 ' price 1108.5',
 ' price 1108.4',
 ' price 1108.5',
 ' price 1108.5',
 ' price 1108.6',
 ' price 1108.5',
 ' price 1108.5',
 ' price 1108.4',
 ' price 1108.5',
 ' price 1108.8',
 ' price 1108.8',
 ' price 1108.6',
 ' price 1108.7',
 ' price 1108.4',
 ' price 1108.3',
 ' price 1108.1',
 ' price 1108.2',
 ' price 1108.4',
 ' price 1108.3',
 ' price 1108.2',
 ' price 1108.4',
 ' price 1108.3',
 ' price 1108.6',
 ' price 1108.6',
 ' price 1108.5',
 ' price 1108.5',
 ' price 1108.7',
 ' price 1108.7',
 ' price 1108.8',
 ' price 1108.6',
 ' price 1108.7',
 ' price 1108.8',
 ' price 1108.7',
 ' price 1109',
 ' price 1108.9',
 ' price 1109.1',
 ' price 1109.1',
 ' price 1108.9',
 ' price 1109',
 ' price 1109',
 ' price 1109.1',
 ' price 1109.2',
 ' price 1109.1',
 ' price 1109.6',
 ' price 1109.5',
 ' price 1109.6',
 ' price 1109.5',
 ' price 1109.1',
 ' price 1109.3',
 ' price 1109.2',
 ' price 1109.1',
 ' price 1109',
 ' price 1108.9',
 ' price 1108.9',
 ' price 1108.8',
 ' price 1108.7',
 ' price 1108.6',
 ' price 1108.5',
 ' price 1108.3',
 ' price 1108.4',
 ' price 1108.6',
 ' price 1108.5',
 ' price 1108.5',
 ' price 1108.5',
 ' price 1108.3',
 ' price 1108.4',
 ' price 1108.3',
 ' price 1108',
 ' price 1108',
 ' price 1108.1',
 ' price 1108.1',
 ' price 1108',
 ' price 1108.1',
 ' price 1108',
 ' price 1107.9',
 ' price 1108.3',
 ' price 1108.2',
 ' price 1108.3',
 ' price 1108.2',
 ' price 1108.6',
 ' price 1108.5',
 ' price 1108.3',
 ' price 1108.2',
 ' price 1108.2',
 ' price 1108.1',
 ' price 1107.7',
 ' price 1107.6',
 ' price 1107.7',
 ' price 1107.8',
 ' price 1107.9',
 ' price 1107.8',
 ' price 1108.2',
 ' price 1108.1',
 ' price 1108.2',
 ' price 1107.7',
 ' price 1107.7',
 ' price 1107.6',
 ' price 1107.5',
 ' price 1107.6',
 ' price 1107.5',
 ' price 1107.4',
 ' price 1107.7',
 ' price 1107.6',
 ' price 1107.6',
 ' price 1107.6',
 ' price 1107.4',
 ' price 1107.5',
 ' price 1106.8',
 ' price 1106.7',
 ' price 1106.8',
 ' price 1106.7',
 ' price 1106.5',
 ' price 1106.4',
 ' price 1106.6',
 ' price 1106.5',
 ' price 1106.4',
 ' price 1106.3',
 ' price 1106.5',
 ' price 1106.4',
 ' price 1106.5',
 ' price 1106.4',
 ' price 1105.8',
 ' price 1105.7',
 ' price 1105.8',
 ' price 1105.6',
 ' price 1105.7',
 ' price 1105.7',
 ' price 1106.1',
 ' price 1106',
 ' price 1105.7',
 ' price 1105.7',
 ' price 1105.8',
 ' price 1105.7',
 ' price 1106.1',
 ' price 1106.3',
 ' price 1106.3',
 ' price 1106.4',
 ' price 1106.4',
 ' price 1106.7',
 ' price 1106.6',
 ' price 1106.4',
 ' price 1106.2',
 ' price 1106.1',
 ' price 1105.7',
 ' price 1105.8',
 ' price 1105.9',
 ' price 1105.8',
 ' price 1105.8',
 ' price 1105.8',
 ' price 1105.9',
 ' price 1106.1',
 ' price 1106.5',
 ' price 1106.6',
 ' price 1106.6',
 ' price 1106.5',
 ' price 1106',
 ' price 1106',
 ' price 1105.8',
 ' price 1105.7',
 ' price 1105.3',
 ' price 1105.3',
 ' price 1105.4',
 ' price 1105.3',
 ' price 1105.4',
 ' price 1105.7',
 ' price 1105.6',
 ' price 1105.5',
 ' price 1105.4',
 ' price 1105.4',
 ' price 1105.8',
 ' price 1105.8',
 ' price 1105.6',
 ' price 1105.7',
 ' price 1105.9',
 ' price 1105.7',
 ' price 1105.8',
 ' price 1105.7',
 ' price 1105.9',
 ' price 1105.8',
 ' price 1106.1',
 ' price 1106.1',
 ' price 1106.1',
 ' price 1105.9',
 ' price 1105.8',
 ' price 1105.4',
 ' price 1105.4',
 ' price 1105.4',
 ' price 1105.4',
 ' price 1105.5',
 ' price 1105.6',
 ' price 1105.7',
 ' price 1106',
 ' price 1105.9',
 ' price 1106',
 ' price 1105.9',
 ' price 1105.9',
 ' price 1105.9',
 ' price 1106',
 ' price 1106.2',
 ' price 1106.6',
 ' price 1106.5',
 ' price 1106.7',
 ' price 1106.9',
 ' price 1106.8',
 ' price 1106.8',
 ' price 1106.9',
 ' price 1106.9',
 ' price 1106.8',
 ' price 1106.7',
 ' price 1106.8',
 ' price 1106.9',
 ' price 1106.9',
 ' price 1106.8',
 ' price 1106.9',
 ' price 1106.9',
 ' price 1106.8',
 ' price 1106.7',
 ' price 1106.5',
 ' price 1106.4',
 ' price 1106.5',
 ' price 1106.4',
 ' price 1106.5',
 ' price 1106.4',
 ' price 1106.8',
 ' price 1106.8',
 ' price 1106.7',
 ' price 1106.7',
 ' price 1106.6',
 ' price 1106.7',
 ' price 1106.9',
 ' price 1106.8',
 ' price 1106.3',
 ' price 1116.7',
 ' price 1116.7',
 ' price 1116.7',
 ' price 1116.9',
 ' price 1116.8',
 ' price 1116.9',
 ' price 1117.1',
 ' price 1117',
 ' price 1117.2',
 ' price 1117.3',
 ' price 1117.3',
 ' price 1117.7',
 ' price 1117.6',
 ' price 1117.8',
 ' price 1117.6',
 ' price 1117.6',
 ' price 1117.4',
 ' price 1117.5',
 ' price 1117.9',
 ' price 1118',
 ' price 1118.2',
 ' price 1118.3',
 ' price 1118.2',
 ' price 1118',
 ' price 1118',
 ' price 1118',
 ' price 1118',
 ' price 1118.3',
 ' price 1118.1',
 ' price 1118.2',
 ' price 1118.3',
 ' price 1118.7',
 ' price 1118.5',
 ' price 1118.5',
 ' price 1118.2',
 ' price 1117.8',
 ' price 1117.8',
 ' price 1117.8',
 ' price 1118',
 ' price 1118.5',
 ' price 1118.7',
 ' price 1118.8',
 ' price 1118.7',
 ' price 1118.8',
 ' price 1118.4',
 ' price 1118.4',
 ' price 1118.4',
 ' price 1118.4',
 ' price 1118.3',
 ' price 1118.3',
 ' price 1118.4',
 ' price 1118.5',
 ' price 1118.3',
 ' price 1118.3',
 ' price 1118.2',
 ' price 1118.2',
 ' price 1118.2',
 ' price 1118.1',
 ' price 1118',
 ' price 1117.9',
 ' price 1117.8',
 ' price 1117.7',
 ' price 1117.5',
 ' price 1117.5',
 ' price 1117.5',
 ' price 1117.6',
 ' price 1117.5',
 ' price 1117.6',
 ' price 1117.6',
 ' price 1117.7',
 ' price 1117.6',
 ' price 1117.2',
 ' price 1117.1',
 ' price 1116.8',
 ' price 1116.7',
 ' price 1116.7',
 ' price 1116.8',
 ' price 1116.8',
 ' price 1117',
 ' price 1117.1',
 ' price 1117.4',
 ' price 1117.2',
 ' price 1117.2',
 ' price 1117.1',
 ' price 1117.3',
 ' price 1117.3',
 ' price 1117.4',
 ' price 1118',
 ' price 1118.1',
 ' price 1118',
 ' price 1117.8',
 ' price 1118',
 ' price 1117.8',
 ' price 1117.8',
 ' price 1117.7',
 ' price 1117.9',
 ' price 1117.8',
 ' price 1117.7',
 ' price 1117.6',
 ' price 1117.2',
 ' price 1117.3',
 ' price 1117.4',
 ' price 1117.6',
 ' price 1117.6',
 ' price 1117.4',
 ' price 1117.4',
 ' price 1117.5',
 ' price 1117.4',
 ' price 1117.5',
 ' price 1117.7',
 ' price 1117.8',
 ' price 1118',
 ' price 1118',
 ' price 1117.8',
 ' price 1117.7',
 ' price 1117.9',
 ' price 1118',
 ' price 1118',
 ' price 1118.1',
 ' price 1118',
 ' price 1117.9',
 ' price 1117.7',
 ' price 1117.8',
 ' price 1117.7',
 ' price 1117.6',
 ' price 1117.5',
 ' price 1117.6',
 ' price 1117.7',
 ' price 1117.6',
 ' price 1117.6',
 ' price 1117.6',
 ' price 1117.6',
 ' price 1117.7',
 ' price 1117.6',
 ' price 1117.6',
 ' price 1117.4',
 ' price 1117.3',
 ' price 1117.4',
 ' price 1117.3',
 ' price 1117.3',
 ' price 1117.2',
 ' price 1117.3',
 ' price 1117.2',
 ' price 1117.1',
 ' price 1117.2',
 ' price 1117.2',
 ' price 1117.3',
 ' price 1117.2',
 ' price 1117.2',
 ' price 1117',
 ' price 1116.8',
 ' price 1116.9',
 ' price 1117.1',
 ' price 1116.9',
 ' price 1116.7',
 ' price 1116.4',
 ' price 1116.4',
 ' price 1116.5',
 ' price 1116.6',
 ' price 1116.6',
 ' price 1116.5',
 ' price 1116.3',
 ' price 1116.4',
 ' price 1116.3',
 ' price 1116.2',
 ' price 1116.3',
 ' price 1116.3',
 ' price 1116.2',
 ' price 1116.2',
 ' price 1116.4',
 ' price 1116.5',
 ' price 1116.7',
 ' price 1116.6',
 ' price 1116.6',
 ' price 1116.9',
 ' price 1116.8',
 ' price 1116.6',
 ' price 1117',
 ' price 1116.9',
 ' price 1116.8',
 ' price 1116.8',
 ' price 1117',
 ' price 1116.9',
 ' price 1117.1',
 ' price 1117.1',
 ' price 1116.4',
 ' price 1116.5',
 ' price 1116.3',
 ' price 1116.4',
 ' price 1116.3',
 ' price 1116.4',
 ' price 1116.4',
 ' price 1116.5',
 ' price 1116.7',
 ' price 1116.6',
 ' price 1116.8',
 ' price 1117.3',
 ' price 1117.4',
 ' price 1117.3',
 ' price 1117.4',
 ' price 1117.3',
 ' price 1117.3',
 ' price 1117.4',
 ' price 1117.3',
 ' price 1117.2',
 ' price 1117.1',
 ' price 1117.1',
 ' price 1117',
 ' price 1116.7',
 ' price 1116.5',
 ' price 1116.5',
 ' price 1116.4',
 ' price 1116.5',
 ' price 1116.6',
 ' price 1116.8',
 ' price 1116.9',
 ' price 1116.8',
 ' price 1117.1',
 ' price 1117.2',
 ' price 1117.1',
 ' price 1117.3',
 ' price 1117.2',
 ' price 1117.3',
 ' price 1117.3',
 ' price 1117.1',
 ' price 1117.3',
 ' price 1117.4',
 ' price 1117.3',
 ' price 1117.1',
 ' price 1116.7',
 ' price 1116.6',
 ' price 1116.7',
 ' price 1116.9',
 ' price 1116.8',
 ' price 1116.5',
 ' price 1116.6',
 ' price 1116.6',
 ' price 1116.6',
 ' price 1116.5',
 ' price 1116.7',
 ' price 1116.6',
 ' price 1116.4',
 ' price 1111.4',
 ' price 1111.6',
 ' price 1111.5',
 ' price 1111.5',
 ' price 1111.5',
 ' price 1111.7',
 ' price 1111.8',
 ' price 1111.7',
 ' price 1111.8',
 ' price 1111.7',
 ' price 1111.6',
 ' price 1111.6',
 ' price 1111.7',
 ' price 1111.8',
 ' price 1111.6',
 ' price 1111.6',
 ' price 1111.4',
 ' price 1110.9',
 ' price 1110.8',
 ' price 1109.7',
 ' price 1109.6',
 ' price 1109.4',
 ' price 1109.5',
 ' price 1110.1',
 ' price 1110.2',
 ' price 1110.2',
 ' price 1110.3',
 ' price 1110.2',
 ' price 1110.2',
 ' price 1110.4',
 ' price 1110.3',
 ' price 1110.4',
 ' price 1110.3',
 ' price 1110.4',
 ' price 1110.3',
 ' price 1110.4',
 ' price 1110.4',
 ' price 1110.4',
 ' price 1110.5',
 ' price 1110.6',
 ' price 1110.5',
 ' price 1110.9',
 ' price 1110.8',
 ' price 1110.7',
 ' price 1110.9',
 ' price 1110.8',
 ' price 1110.9',
 ' price 1111.2',
 ' price 1111.1',
 ' price 1111.2',
 ' price 1111.2',
 ' price 1111.2',
 ' price 1111.1',
 ' price 1111.1',
 ' price 1111.4',
 ' price 1111.5',
 ' price 1111.4',
 ' price 1111.7',
 ' price 1111.6',
 ' price 1111.6',
 ' price 1111.5',
 ' price 1111.2',
 ' price 1111.1',
 ' price 1111.1',
 ' price 1111',
 ' price 1111',
 ' price 1111',
 ' price 1111',
 ' price 1110.9',
 ' price 1110.7',
 ' price 1110.4',
 ' price 1110.5',
 ' price 1110.5',
 ' price 1110.1',
 ' price 1110.3',
 ' price 1110.2',
 ' price 1110.1',
 ' price 1110.3',
 ' price 1110.4',
 ' price 1110.4',
 ' price 1110.3',
 ' price 1110.5',
 ' price 1110.7',
 ' price 1110.9',
 ' price 1111',
 ' price 1111.1',
 ' price 1111',
 ' price 1111.1',
 ' price 1111.2',
 ' price 1111.2',
 ' price 1111.3',
 ' price 1111.2',
 ' price 1111.1',
 ' price 1111.1',
 ' price 1111',
 ' price 1111.2',
 ' price 1111.1',
 ' price 1110.5',
 ' price 1110.4',
 ' price 1110.3',
 ' price 1110.5',
 ' price 1110.6',
 ' price 1110.8',
 ' price 1111.1',
 ' price 1110.9',
 ' price 1111',
 ' price 1110.9',
 ' price 1111.2',
 ' price 1111.2',
 ' price 1111.3',
 ' price 1111.5',
 ' price 1111.5',
 ' price 1111.7',
 ' price 1111',
 ' price 1110.9',
 ' price 1111',
 ' price 1111.2',
 ' price 1111.1',
 ' price 1111',
 ' price 1110.9',
 ' price 1110.8',
 ' price 1110.6',
 ' price 1110.7',
 ' price 1110.9',
 ' price 1110.8',
 ' price 1110.9',
 ' price 1111.1',
 ' price 1111.1',
 ' price 1110.8',
 ' price 1110.9',
 ' price 1110.8',
 ' price 1110.9',
 ' price 1110.8',
 ' price 1110.9',
 ' price 1111',
 ' price 1110.9',
 ' price 1111',
 ' price 1111.2',
 ' price 1111',
 ' price 1111.1',
 ' price 1111',
 ' price 1110.8',
 ' price 1110.9',
 ' price 1111',
 ' price 1110.9',
 ' price 1111',
 ' price 1111.1',
 ' price 1111',
 ' price 1111.1',
 ' price 1111.1',
 ' price 1111.3',
 ' price 1112.4',
 ' price 1112.3',
 ' price 1112.3',
 ' price 1112.2',
 ' price 1111.9',
 ' price 1111.8',
 ' price 1111.7',
 ' price 1111.6',
 ' price 1111.7',
 ' price 1111.8',
 ' price 1111.8',
 ' price 1111.7',
 ' price 1111.7',
 ' price 1111.5',
 ' price 1111.6',
 ' price 1111.9',
 ' price 1111.9',
 ' price 1111.7',
 ' price 1111.8',
 ' price 1112',
 ' price 1111.8',
 ' price 1111.6',
 ' price 1111.6',
 ' price 1111.4',
 ' price 1111.5',
 ' price 1111.6',
 ' price 1111.5',
 ' price 1111.4',
 ' price 1111.3',
 ' price 1111.2',
 ' price 1111.2',
 ' price 1111.4',
 ' price 1111.3',
 ' price 1111.2',
 ' price 1111.2',
 ' price 1111.2',
 ' price 1111.3',
 ' price 1111.2',
 ' price 1111.3',
 ' price 1111.2',
 ' price 1111.3',
 ' price 1111.4',
 ' price 1111.4',
 ' price 1111.3',
 ' price 1111.3',
 ' price 1111.2',
 ' price 1111.4',
 ' price 1111.6',
 ' price 1111.8',
 ' price 1111.7',
 ' price 1111.5',
 ' price 1111.6',
 ' price 1111.5',
 ' price 1111.5',
 ' price 1111.6',
 ' price 1111.6',
 ' price 1111.7',
 ' price 1111.7',
 ' price 1111.6',
 ' price 1111.7',
 ' price 1111.9',
 ' price 1111.8',
 ' price 1111.5',
 ' price 1111.5',
 ' price 1111.6',
 ' price 1111.8',
 ' price 1112.2',
 ' price 1112.1',
 ' price 1111.9',
 ' price 1111.9',
 ' price 1111.9',
 ' price 1112',
 ' price 1112.4',
 ' price 1112.2',
 ' price 1112',
 ' price 1111.8',
 ' price 1111.8',
 ' price 1111.8',
 ' price 1111.9',
 ' price 1112',
 ' price 1112.7',
 ' price 1113',
 ' price 1113',
 ' price 1112.8',
 ' price 1112.9',
 ' price 1110.9',
 ' price 1111.3',
 ' price 1111.8',
 ' price 1111.7',
 ' price 1111.8',
 ' price 1111.6',
 ' price 1111.7',
 ' price 1111.6',
 ' price 1111.7',
 ' price 1111.7',
 ' price 1111.3',
 ' price 1111.5',
 ' price 1111.4',
 ' price 1111.1',
 ' price 1111.3',
 ' price 1111.4',
 ' price 1111.3',
 ' price 1111.2',
 ' price 1111.1',
 ' price 1111.2',
 ' price 1111.3',
 ' price 1111.3',
 ' price 1111.2',
 ' price 1111.1',
 ' price 1111.2',
 ' price 1111.3',
 ' price 1111.4',
 ' price 1111.7',
 ' price 1111.5',
 ' price 1111.6',
 ' price 1111.7',
 ' price 1112.2',
 ' price 1112.1',
 ' price 1111.9',
 ' price 1112',
 ' price 1112.2',
 ' price 1112.2',
 ' price 1112.2',
 ' price 1112.1',
 ' price 1112.2',
 ' price 1112.1',
 ' price 1112.2',
 ' price 1112.1',
 ' price 1112',
 ' price 1111.9',
 ' price 1112',
 ' price 1111.9',
 ' price 1112',
 ' price 1111.9',
 ' price 1111.8',
 ' price 1111.8',
 ' price 1111.9',
 ' price 1112.1',
 ' price 1112.2',
 ' price 1112',
 ' price 1112.1',
 ' price 1112.1',
 ' price 1112.4',
 ' price 1112.5',
 ' price 1113',
 ' price 1113.2',
 ' price 1113.1',
 ' price 1112.9',
 ' price 1113',
 ' price 1112.9',
 ' price 1112.6',
 ' price 1112.5',
 ' price 1112.5',
 ' price 1112.6',
 ' price 1112.8',
 ' price 1112.6',
 ' price 1112.7',
 ' price 1112.8',
 ' price 1112.7',
 ' price 1112.8',
 ' price 1112.8',
 ' price 1112.7',
 ' price 1112.8',
 ' price 1112.9',
 ' price 1113',
 ' price 1112.9',
 ' price 1112.9',
 ' price 1113.2',
 ' price 1113.4',
 ' price 1113.6',
 ' price 1113.7',
 ' price 1113.7',
 ' price 1113.8',
 ' price 1113.7',
 ' price 1113.7',
 ' price 1113.8',
 ' price 1113.8',
 ' price 1113.9',
 ' price 1114',
 ' price 1114',
 ' price 1113.9',
 ' price 1114.3',
 ' price 1114.6',
 ' price 1114.6',
 ' price 1114.7',
 ' price 1114.6',
 ' price 1114.2',
 ' price 1114.1',
 ' price 1114.2',
 ' price 1114.3',
 ' price 1114.4',
 ' price 1114.3',
 ' price 1114.6',
 ' price 1114.7',
 ' price 1114.4',
 ' price 1114.4',
 ' price 1114.5',
 ' price 1114.4',
 ' price 1114.5',
 ' price 1114.5',
 ' price 1114.6',
 ' price 1114.8',
 ' price 1114.7',
 ' price 1114.6',
 ' price 1115.2',
 ' price 1115.2',
 ' price 1115.2',
 ' price 1114.9',
 ' price 1114.8',
 ' price 1114.9',
 ' price 1115',
 ' price 1114.9',
 ' price 1114.9',
 ' price 1114.8',
 ' price 1114.9',
 ' price 1115.2',
 ' price 1115.1',
 ' price 1115.2',
 ' price 1115.1',
 ' price 1115.3',
 ' price 1115.4',
 ' price 1115.4',
 ' price 1114.9',
 ' price 1114.8',
 ' price 1114.8',
 ' price 1114.7',
 ' price 1114.8',
 ' price 1114.6',
 ' price 1114.8',
 ' price 1114.9',
 ' price 1114.8',
 ' price 1114.6',
 ' price 1114.8',
 ' price 1114.7',
 ' price 1114.4',
 ' price 1114.4',
 ' price 1114.3',
 ' price 1114.3',
 ' price 1114.4',
 ' price 1114.8',
 ' price 1114.7',
 ' price 1114.6',
 ' price 1114.4',
 ' price 1117',
 ' price 1117.1',
 ' price 1117.2',
 ' price 1117',
 ' price 1116.8',
 ' price 1117',
 ' price 1117.1',
 ' price 1117.3',
 ' price 1117.4',
 ' price 1117.1',
 ' price 1117.2',
 ' price 1117.2',
 ' price 1117.2',
 ' price 1117.3',
 ' price 1117.2',
 ' price 1117.2',
 ' price 1117.1',
 ' price 1116.7',
 ' price 1116.9',
 ' price 1117.4',
 ' price 1117.4',
 ' price 1117.4',
 ' price 1117.5',
 ' price 1118',
 ' price 1118',
 ' price 1117.6',
 ' price 1117.2',
 ' price 1117.1',
 ' price 1117',
 ' price 1117',
 ' price 1117',
 ' price 1116.9',
 ' price 1116.8',
 ' price 1116.8',
 ' price 1116.5',
 ' price 1116.6',
 ' price 1116.5',
 ' price 1116.5',
 ' price 1116.6',
 ' price 1116.7',
 ' price 1116.8',
 ' price 1116.6',
 ' price 1116.7',
 ' price 1116.6',
 ' price 1116.3',
 ' price 1116.4',
 ' price 1116.1',
 ' price 1116.3',
 ' price 1116.5',
 ' price 1116.5',
 ' price 1116.5',
 ' price 1116.6',
 ' price 1116.5',
 ' price 1116.2',
 ' price 1116.2',
 ' price 1116.3',
 ' price 1116.2',
 ' price 1116.3',
 ' price 1116.3',
 ' price 1116.5',
 ' price 1116.5',
 ' price 1116.5',
 ' price 1116.4',
 ' price 1116.3',
 ' price 1116.4',
 ' price 1116.3',
 ' price 1116.4',
 ' price 1116.4',
 ' price 1116.2',
 ' price 1116.4',
 ' price 1116.3',
 ' price 1116.4',
 ' price 1116.2',
 ' price 1116.3',
 ' price 1116.3',
 ' price 1116.5',
 ' price 1116.6',
 ' price 1116.5',
 ' price 1116.4',
 ' price 1116.4',
 ' price 1116.3',
 ' price 1115.9',
 ' price 1115.8',
 ' price 1115.8',
 ' price 1115.9',
 ' price 1115.8',
 ' price 1115.6',
 ' price 1115.5',
 ' price 1115.4',
 ' price 1115.6',
 ' price 1115.5',
 ' price 1115.6',
 ' price 1115.9',
 ' price 1115.8',
 ' price 1115.6',
 ' price 1115.7',
 ' price 1115.5',
 ' price 1115.3',
 ' price 1115.4',
 ' price 1115.3',
 ' price 1115.2',
 ' price 1115.4',
 ' price 1115.5',
 ' price 1115.4',
 ' price 1115.5',
 ' price 1115.5',
 ' price 1115.7',
 ' price 1115.6',
 ' price 1115.5',
 ' price 1115.6',
 ' price 1115.7',
 ' price 1115.6',
 ' price 1115.4',
 ' price 1115.5',
 ' price 1115.4',
 ' price 1115',
 ' price 1115.2',
 ' price 1115.1',
 ' price 1114.9',
 ' price 1114.8',
 ' price 1114.8',
 ' price 1114.7',
 ' price 1114.6',
 ' price 1114.8',
 ' price 1114.8',
 ' price 1114.8',
 ...]

In [699]:
exec_prices_1 = []
for i in Price_exec_list:
    exec_prices_1.append(re.findall('\d+', i))
exec_prices_1

[['1108', '6'],
 ['1108', '4'],
 ['1108', '3'],
 ['1108', '4'],
 ['1108', '3'],
 ['1108', '4'],
 ['1108', '5'],
 ['1108', '4'],
 ['1108', '5'],
 ['1108', '5'],
 ['1108', '6'],
 ['1108', '5'],
 ['1108', '5'],
 ['1108', '4'],
 ['1108', '5'],
 ['1108', '8'],
 ['1108', '8'],
 ['1108', '6'],
 ['1108', '7'],
 ['1108', '4'],
 ['1108', '3'],
 ['1108', '1'],
 ['1108', '2'],
 ['1108', '4'],
 ['1108', '3'],
 ['1108', '2'],
 ['1108', '4'],
 ['1108', '3'],
 ['1108', '6'],
 ['1108', '6'],
 ['1108', '5'],
 ['1108', '5'],
 ['1108', '7'],
 ['1108', '7'],
 ['1108', '8'],
 ['1108', '6'],
 ['1108', '7'],
 ['1108', '8'],
 ['1108', '7'],
 ['1109'],
 ['1108', '9'],
 ['1109', '1'],
 ['1109', '1'],
 ['1108', '9'],
 ['1109'],
 ['1109'],
 ['1109', '1'],
 ['1109', '2'],
 ['1109', '1'],
 ['1109', '6'],
 ['1109', '5'],
 ['1109', '6'],
 ['1109', '5'],
 ['1109', '1'],
 ['1109', '3'],
 ['1109', '2'],
 ['1109', '1'],
 ['1109'],
 ['1108', '9'],
 ['1108', '9'],
 ['1108', '8'],
 ['1108', '7'],
 ['1108', '6'],
 ['1108', '5'],
 ['1108', '3'],
 ['1108', '4'],
 ['1108', '6'],
 ['1108', '5'],
 ['1108', '5'],
 ['1108', '5'],
 ['1108', '3'],
 ['1108', '4'],
 ['1108', '3'],
 ['1108'],
 ['1108'],
 ['1108', '1'],
 ['1108', '1'],
 ['1108'],
 ['1108', '1'],
 ['1108'],
 ['1107', '9'],
 ['1108', '3'],
 ['1108', '2'],
 ['1108', '3'],
 ['1108', '2'],
 ['1108', '6'],
 ['1108', '5'],
 ['1108', '3'],
 ['1108', '2'],
 ['1108', '2'],
 ['1108', '1'],
 ['1107', '7'],
 ['1107', '6'],
 ['1107', '7'],
 ['1107', '8'],
 ['1107', '9'],
 ['1107', '8'],
 ['1108', '2'],
 ['1108', '1'],
 ['1108', '2'],
 ['1107', '7'],
 ['1107', '7'],
 ['1107', '6'],
 ['1107', '5'],
 ['1107', '6'],
 ['1107', '5'],
 ['1107', '4'],
 ['1107', '7'],
 ['1107', '6'],
 ['1107', '6'],
 ['1107', '6'],
 ['1107', '4'],
 ['1107', '5'],
 ['1106', '8'],
 ['1106', '7'],
 ['1106', '8'],
 ['1106', '7'],
 ['1106', '5'],
 ['1106', '4'],
 ['1106', '6'],
 ['1106', '5'],
 ['1106', '4'],
 ['1106', '3'],
 ['1106', '5'],
 ['1106', '4'],
 ['1106', '5'],
 ['1106', '4'],
 ['1105', '8'],
 ['1105', '7'],
 ['1105', '8'],
 ['1105', '6'],
 ['1105', '7'],
 ['1105', '7'],
 ['1106', '1'],
 ['1106'],
 ['1105', '7'],
 ['1105', '7'],
 ['1105', '8'],
 ['1105', '7'],
 ['1106', '1'],
 ['1106', '3'],
 ['1106', '3'],
 ['1106', '4'],
 ['1106', '4'],
 ['1106', '7'],
 ['1106', '6'],
 ['1106', '4'],
 ['1106', '2'],
 ['1106', '1'],
 ['1105', '7'],
 ['1105', '8'],
 ['1105', '9'],
 ['1105', '8'],
 ['1105', '8'],
 ['1105', '8'],
 ['1105', '9'],
 ['1106', '1'],
 ['1106', '5'],
 ['1106', '6'],
 ['1106', '6'],
 ['1106', '5'],
 ['1106'],
 ['1106'],
 ['1105', '8'],
 ['1105', '7'],
 ['1105', '3'],
 ['1105', '3'],
 ['1105', '4'],
 ['1105', '3'],
 ['1105', '4'],
 ['1105', '7'],
 ['1105', '6'],
 ['1105', '5'],
 ['1105', '4'],
 ['1105', '4'],
 ['1105', '8'],
 ['1105', '8'],
 ['1105', '6'],
 ['1105', '7'],
 ['1105', '9'],
 ['1105', '7'],
 ['1105', '8'],
 ['1105', '7'],
 ['1105', '9'],
 ['1105', '8'],
 ['1106', '1'],
 ['1106', '1'],
 ['1106', '1'],
 ['1105', '9'],
 ['1105', '8'],
 ['1105', '4'],
 ['1105', '4'],
 ['1105', '4'],
 ['1105', '4'],
 ['1105', '5'],
 ['1105', '6'],
 ['1105', '7'],
 ['1106'],
 ['1105', '9'],
 ['1106'],
 ['1105', '9'],
 ['1105', '9'],
 ['1105', '9'],
 ['1106'],
 ['1106', '2'],
 ['1106', '6'],
 ['1106', '5'],
 ['1106', '7'],
 ['1106', '9'],
 ['1106', '8'],
 ['1106', '8'],
 ['1106', '9'],
 ['1106', '9'],
 ['1106', '8'],
 ['1106', '7'],
 ['1106', '8'],
 ['1106', '9'],
 ['1106', '9'],
 ['1106', '8'],
 ['1106', '9'],
 ['1106', '9'],
 ['1106', '8'],
 ['1106', '7'],
 ['1106', '5'],
 ['1106', '4'],
 ['1106', '5'],
 ['1106', '4'],
 ['1106', '5'],
 ['1106', '4'],
 ['1106', '8'],
 ['1106', '8'],
 ['1106', '7'],
 ['1106', '7'],
 ['1106', '6'],
 ['1106', '7'],
 ['1106', '9'],
 ['1106', '8'],
 ['1106', '3'],
 ['1116', '7'],
 ['1116', '7'],
 ['1116', '7'],
 ['1116', '9'],
 ['1116', '8'],
 ['1116', '9'],
 ['1117', '1'],
 ['1117'],
 ['1117', '2'],
 ['1117', '3'],
 ['1117', '3'],
 ['1117', '7'],
 ['1117', '6'],
 ['1117', '8'],
 ['1117', '6'],
 ['1117', '6'],
 ['1117', '4'],
 ['1117', '5'],
 ['1117', '9'],
 ['1118'],
 ['1118', '2'],
 ['1118', '3'],
 ['1118', '2'],
 ['1118'],
 ['1118'],
 ['1118'],
 ['1118'],
 ['1118', '3'],
 ['1118', '1'],
 ['1118', '2'],
 ['1118', '3'],
 ['1118', '7'],
 ['1118', '5'],
 ['1118', '5'],
 ['1118', '2'],
 ['1117', '8'],
 ['1117', '8'],
 ['1117', '8'],
 ['1118'],
 ['1118', '5'],
 ['1118', '7'],
 ['1118', '8'],
 ['1118', '7'],
 ['1118', '8'],
 ['1118', '4'],
 ['1118', '4'],
 ['1118', '4'],
 ['1118', '4'],
 ['1118', '3'],
 ['1118', '3'],
 ['1118', '4'],
 ['1118', '5'],
 ['1118', '3'],
 ['1118', '3'],
 ['1118', '2'],
 ['1118', '2'],
 ['1118', '2'],
 ['1118', '1'],
 ['1118'],
 ['1117', '9'],
 ['1117', '8'],
 ['1117', '7'],
 ['1117', '5'],
 ['1117', '5'],
 ['1117', '5'],
 ['1117', '6'],
 ['1117', '5'],
 ['1117', '6'],
 ['1117', '6'],
 ['1117', '7'],
 ['1117', '6'],
 ['1117', '2'],
 ['1117', '1'],
 ['1116', '8'],
 ['1116', '7'],
 ['1116', '7'],
 ['1116', '8'],
 ['1116', '8'],
 ['1117'],
 ['1117', '1'],
 ['1117', '4'],
 ['1117', '2'],
 ['1117', '2'],
 ['1117', '1'],
 ['1117', '3'],
 ['1117', '3'],
 ['1117', '4'],
 ['1118'],
 ['1118', '1'],
 ['1118'],
 ['1117', '8'],
 ['1118'],
 ['1117', '8'],
 ['1117', '8'],
 ['1117', '7'],
 ['1117', '9'],
 ['1117', '8'],
 ['1117', '7'],
 ['1117', '6'],
 ['1117', '2'],
 ['1117', '3'],
 ['1117', '4'],
 ['1117', '6'],
 ['1117', '6'],
 ['1117', '4'],
 ['1117', '4'],
 ['1117', '5'],
 ['1117', '4'],
 ['1117', '5'],
 ['1117', '7'],
 ['1117', '8'],
 ['1118'],
 ['1118'],
 ['1117', '8'],
 ['1117', '7'],
 ['1117', '9'],
 ['1118'],
 ['1118'],
 ['1118', '1'],
 ['1118'],
 ['1117', '9'],
 ['1117', '7'],
 ['1117', '8'],
 ['1117', '7'],
 ['1117', '6'],
 ['1117', '5'],
 ['1117', '6'],
 ['1117', '7'],
 ['1117', '6'],
 ['1117', '6'],
 ['1117', '6'],
 ['1117', '6'],
 ['1117', '7'],
 ['1117', '6'],
 ['1117', '6'],
 ['1117', '4'],
 ['1117', '3'],
 ['1117', '4'],
 ['1117', '3'],
 ['1117', '3'],
 ['1117', '2'],
 ['1117', '3'],
 ['1117', '2'],
 ['1117', '1'],
 ['1117', '2'],
 ['1117', '2'],
 ['1117', '3'],
 ['1117', '2'],
 ['1117', '2'],
 ['1117'],
 ['1116', '8'],
 ['1116', '9'],
 ['1117', '1'],
 ['1116', '9'],
 ['1116', '7'],
 ['1116', '4'],
 ['1116', '4'],
 ['1116', '5'],
 ['1116', '6'],
 ['1116', '6'],
 ['1116', '5'],
 ['1116', '3'],
 ['1116', '4'],
 ['1116', '3'],
 ['1116', '2'],
 ['1116', '3'],
 ['1116', '3'],
 ['1116', '2'],
 ['1116', '2'],
 ['1116', '4'],
 ['1116', '5'],
 ['1116', '7'],
 ['1116', '6'],
 ['1116', '6'],
 ['1116', '9'],
 ['1116', '8'],
 ['1116', '6'],
 ['1117'],
 ['1116', '9'],
 ['1116', '8'],
 ['1116', '8'],
 ['1117'],
 ['1116', '9'],
 ['1117', '1'],
 ['1117', '1'],
 ['1116', '4'],
 ['1116', '5'],
 ['1116', '3'],
 ['1116', '4'],
 ['1116', '3'],
 ['1116', '4'],
 ['1116', '4'],
 ['1116', '5'],
 ['1116', '7'],
 ['1116', '6'],
 ['1116', '8'],
 ['1117', '3'],
 ['1117', '4'],
 ['1117', '3'],
 ['1117', '4'],
 ['1117', '3'],
 ['1117', '3'],
 ['1117', '4'],
 ['1117', '3'],
 ['1117', '2'],
 ['1117', '1'],
 ['1117', '1'],
 ['1117'],
 ['1116', '7'],
 ['1116', '5'],
 ['1116', '5'],
 ['1116', '4'],
 ['1116', '5'],
 ['1116', '6'],
 ['1116', '8'],
 ['1116', '9'],
 ['1116', '8'],
 ['1117', '1'],
 ['1117', '2'],
 ['1117', '1'],
 ['1117', '3'],
 ['1117', '2'],
 ['1117', '3'],
 ['1117', '3'],
 ['1117', '1'],
 ['1117', '3'],
 ['1117', '4'],
 ['1117', '3'],
 ['1117', '1'],
 ['1116', '7'],
 ['1116', '6'],
 ['1116', '7'],
 ['1116', '9'],
 ['1116', '8'],
 ['1116', '5'],
 ['1116', '6'],
 ['1116', '6'],
 ['1116', '6'],
 ['1116', '5'],
 ['1116', '7'],
 ['1116', '6'],
 ['1116', '4'],
 ['1111', '4'],
 ['1111', '6'],
 ['1111', '5'],
 ['1111', '5'],
 ['1111', '5'],
 ['1111', '7'],
 ['1111', '8'],
 ['1111', '7'],
 ['1111', '8'],
 ['1111', '7'],
 ['1111', '6'],
 ['1111', '6'],
 ['1111', '7'],
 ['1111', '8'],
 ['1111', '6'],
 ['1111', '6'],
 ['1111', '4'],
 ['1110', '9'],
 ['1110', '8'],
 ['1109', '7'],
 ['1109', '6'],
 ['1109', '4'],
 ['1109', '5'],
 ['1110', '1'],
 ['1110', '2'],
 ['1110', '2'],
 ['1110', '3'],
 ['1110', '2'],
 ['1110', '2'],
 ['1110', '4'],
 ['1110', '3'],
 ['1110', '4'],
 ['1110', '3'],
 ['1110', '4'],
 ['1110', '3'],
 ['1110', '4'],
 ['1110', '4'],
 ['1110', '4'],
 ['1110', '5'],
 ['1110', '6'],
 ['1110', '5'],
 ['1110', '9'],
 ['1110', '8'],
 ['1110', '7'],
 ['1110', '9'],
 ['1110', '8'],
 ['1110', '9'],
 ['1111', '2'],
 ['1111', '1'],
 ['1111', '2'],
 ['1111', '2'],
 ['1111', '2'],
 ['1111', '1'],
 ['1111', '1'],
 ['1111', '4'],
 ['1111', '5'],
 ['1111', '4'],
 ['1111', '7'],
 ['1111', '6'],
 ['1111', '6'],
 ['1111', '5'],
 ['1111', '2'],
 ['1111', '1'],
 ['1111', '1'],
 ['1111'],
 ['1111'],
 ['1111'],
 ['1111'],
 ['1110', '9'],
 ['1110', '7'],
 ['1110', '4'],
 ['1110', '5'],
 ['1110', '5'],
 ['1110', '1'],
 ['1110', '3'],
 ['1110', '2'],
 ['1110', '1'],
 ['1110', '3'],
 ['1110', '4'],
 ['1110', '4'],
 ['1110', '3'],
 ['1110', '5'],
 ['1110', '7'],
 ['1110', '9'],
 ['1111'],
 ['1111', '1'],
 ['1111'],
 ['1111', '1'],
 ['1111', '2'],
 ['1111', '2'],
 ['1111', '3'],
 ['1111', '2'],
 ['1111', '1'],
 ['1111', '1'],
 ['1111'],
 ['1111', '2'],
 ['1111', '1'],
 ['1110', '5'],
 ['1110', '4'],
 ['1110', '3'],
 ['1110', '5'],
 ['1110', '6'],
 ['1110', '8'],
 ['1111', '1'],
 ['1110', '9'],
 ['1111'],
 ['1110', '9'],
 ['1111', '2'],
 ['1111', '2'],
 ['1111', '3'],
 ['1111', '5'],
 ['1111', '5'],
 ['1111', '7'],
 ['1111'],
 ['1110', '9'],
 ['1111'],
 ['1111', '2'],
 ['1111', '1'],
 ['1111'],
 ['1110', '9'],
 ['1110', '8'],
 ['1110', '6'],
 ['1110', '7'],
 ['1110', '9'],
 ['1110', '8'],
 ['1110', '9'],
 ['1111', '1'],
 ['1111', '1'],
 ['1110', '8'],
 ['1110', '9'],
 ['1110', '8'],
 ['1110', '9'],
 ['1110', '8'],
 ['1110', '9'],
 ['1111'],
 ['1110', '9'],
 ['1111'],
 ['1111', '2'],
 ['1111'],
 ['1111', '1'],
 ['1111'],
 ['1110', '8'],
 ['1110', '9'],
 ['1111'],
 ['1110', '9'],
 ['1111'],
 ['1111', '1'],
 ['1111'],
 ['1111', '1'],
 ['1111', '1'],
 ['1111', '3'],
 ['1112', '4'],
 ['1112', '3'],
 ['1112', '3'],
 ['1112', '2'],
 ['1111', '9'],
 ['1111', '8'],
 ['1111', '7'],
 ['1111', '6'],
 ['1111', '7'],
 ['1111', '8'],
 ['1111', '8'],
 ['1111', '7'],
 ['1111', '7'],
 ['1111', '5'],
 ['1111', '6'],
 ['1111', '9'],
 ['1111', '9'],
 ['1111', '7'],
 ['1111', '8'],
 ['1112'],
 ['1111', '8'],
 ['1111', '6'],
 ['1111', '6'],
 ['1111', '4'],
 ['1111', '5'],
 ['1111', '6'],
 ['1111', '5'],
 ['1111', '4'],
 ['1111', '3'],
 ['1111', '2'],
 ['1111', '2'],
 ['1111', '4'],
 ['1111', '3'],
 ['1111', '2'],
 ['1111', '2'],
 ['1111', '2'],
 ['1111', '3'],
 ['1111', '2'],
 ['1111', '3'],
 ['1111', '2'],
 ['1111', '3'],
 ['1111', '4'],
 ['1111', '4'],
 ['1111', '3'],
 ['1111', '3'],
 ['1111', '2'],
 ['1111', '4'],
 ['1111', '6'],
 ['1111', '8'],
 ['1111', '7'],
 ['1111', '5'],
 ['1111', '6'],
 ['1111', '5'],
 ['1111', '5'],
 ['1111', '6'],
 ['1111', '6'],
 ['1111', '7'],
 ['1111', '7'],
 ['1111', '6'],
 ['1111', '7'],
 ['1111', '9'],
 ['1111', '8'],
 ['1111', '5'],
 ['1111', '5'],
 ['1111', '6'],
 ['1111', '8'],
 ['1112', '2'],
 ['1112', '1'],
 ['1111', '9'],
 ['1111', '9'],
 ['1111', '9'],
 ['1112'],
 ['1112', '4'],
 ['1112', '2'],
 ['1112'],
 ['1111', '8'],
 ['1111', '8'],
 ['1111', '8'],
 ['1111', '9'],
 ['1112'],
 ['1112', '7'],
 ['1113'],
 ['1113'],
 ['1112', '8'],
 ['1112', '9'],
 ['1110', '9'],
 ['1111', '3'],
 ['1111', '8'],
 ['1111', '7'],
 ['1111', '8'],
 ['1111', '6'],
 ['1111', '7'],
 ['1111', '6'],
 ['1111', '7'],
 ['1111', '7'],
 ['1111', '3'],
 ['1111', '5'],
 ['1111', '4'],
 ['1111', '1'],
 ['1111', '3'],
 ['1111', '4'],
 ['1111', '3'],
 ['1111', '2'],
 ['1111', '1'],
 ['1111', '2'],
 ['1111', '3'],
 ['1111', '3'],
 ['1111', '2'],
 ['1111', '1'],
 ['1111', '2'],
 ['1111', '3'],
 ['1111', '4'],
 ['1111', '7'],
 ['1111', '5'],
 ['1111', '6'],
 ['1111', '7'],
 ['1112', '2'],
 ['1112', '1'],
 ['1111', '9'],
 ['1112'],
 ['1112', '2'],
 ['1112', '2'],
 ['1112', '2'],
 ['1112', '1'],
 ['1112', '2'],
 ['1112', '1'],
 ['1112', '2'],
 ['1112', '1'],
 ['1112'],
 ['1111', '9'],
 ['1112'],
 ['1111', '9'],
 ['1112'],
 ['1111', '9'],
 ['1111', '8'],
 ['1111', '8'],
 ['1111', '9'],
 ['1112', '1'],
 ['1112', '2'],
 ['1112'],
 ['1112', '1'],
 ['1112', '1'],
 ['1112', '4'],
 ['1112', '5'],
 ['1113'],
 ['1113', '2'],
 ['1113', '1'],
 ['1112', '9'],
 ['1113'],
 ['1112', '9'],
 ['1112', '6'],
 ['1112', '5'],
 ['1112', '5'],
 ['1112', '6'],
 ['1112', '8'],
 ['1112', '6'],
 ['1112', '7'],
 ['1112', '8'],
 ['1112', '7'],
 ['1112', '8'],
 ['1112', '8'],
 ['1112', '7'],
 ['1112', '8'],
 ['1112', '9'],
 ['1113'],
 ['1112', '9'],
 ['1112', '9'],
 ['1113', '2'],
 ['1113', '4'],
 ['1113', '6'],
 ['1113', '7'],
 ['1113', '7'],
 ['1113', '8'],
 ['1113', '7'],
 ['1113', '7'],
 ['1113', '8'],
 ['1113', '8'],
 ['1113', '9'],
 ['1114'],
 ['1114'],
 ['1113', '9'],
 ['1114', '3'],
 ['1114', '6'],
 ['1114', '6'],
 ['1114', '7'],
 ['1114', '6'],
 ['1114', '2'],
 ['1114', '1'],
 ['1114', '2'],
 ['1114', '3'],
 ['1114', '4'],
 ['1114', '3'],
 ['1114', '6'],
 ['1114', '7'],
 ['1114', '4'],
 ['1114', '4'],
 ['1114', '5'],
 ['1114', '4'],
 ['1114', '5'],
 ['1114', '5'],
 ['1114', '6'],
 ['1114', '8'],
 ['1114', '7'],
 ['1114', '6'],
 ['1115', '2'],
 ['1115', '2'],
 ['1115', '2'],
 ['1114', '9'],
 ['1114', '8'],
 ['1114', '9'],
 ['1115'],
 ['1114', '9'],
 ['1114', '9'],
 ['1114', '8'],
 ['1114', '9'],
 ['1115', '2'],
 ['1115', '1'],
 ['1115', '2'],
 ['1115', '1'],
 ['1115', '3'],
 ['1115', '4'],
 ['1115', '4'],
 ['1114', '9'],
 ['1114', '8'],
 ['1114', '8'],
 ['1114', '7'],
 ['1114', '8'],
 ['1114', '6'],
 ['1114', '8'],
 ['1114', '9'],
 ['1114', '8'],
 ['1114', '6'],
 ['1114', '8'],
 ['1114', '7'],
 ['1114', '4'],
 ['1114', '4'],
 ['1114', '3'],
 ['1114', '3'],
 ['1114', '4'],
 ['1114', '8'],
 ['1114', '7'],
 ['1114', '6'],
 ['1114', '4'],
 ['1117'],
 ['1117', '1'],
 ['1117', '2'],
 ['1117'],
 ['1116', '8'],
 ['1117'],
 ['1117', '1'],
 ['1117', '3'],
 ['1117', '4'],
 ['1117', '1'],
 ['1117', '2'],
 ['1117', '2'],
 ['1117', '2'],
 ['1117', '3'],
 ['1117', '2'],
 ['1117', '2'],
 ['1117', '1'],
 ['1116', '7'],
 ['1116', '9'],
 ['1117', '4'],
 ['1117', '4'],
 ['1117', '4'],
 ['1117', '5'],
 ['1118'],
 ['1118'],
 ['1117', '6'],
 ['1117', '2'],
 ['1117', '1'],
 ['1117'],
 ['1117'],
 ['1117'],
 ['1116', '9'],
 ['1116', '8'],
 ['1116', '8'],
 ['1116', '5'],
 ['1116', '6'],
 ['1116', '5'],
 ['1116', '5'],
 ['1116', '6'],
 ['1116', '7'],
 ['1116', '8'],
 ['1116', '6'],
 ['1116', '7'],
 ['1116', '6'],
 ['1116', '3'],
 ['1116', '4'],
 ['1116', '1'],
 ['1116', '3'],
 ['1116', '5'],
 ['1116', '5'],
 ['1116', '5'],
 ['1116', '6'],
 ['1116', '5'],
 ['1116', '2'],
 ['1116', '2'],
 ['1116', '3'],
 ['1116', '2'],
 ['1116', '3'],
 ['1116', '3'],
 ['1116', '5'],
 ['1116', '5'],
 ['1116', '5'],
 ['1116', '4'],
 ['1116', '3'],
 ['1116', '4'],
 ['1116', '3'],
 ['1116', '4'],
 ['1116', '4'],
 ['1116', '2'],
 ['1116', '4'],
 ['1116', '3'],
 ['1116', '4'],
 ['1116', '2'],
 ['1116', '3'],
 ['1116', '3'],
 ['1116', '5'],
 ['1116', '6'],
 ['1116', '5'],
 ['1116', '4'],
 ['1116', '4'],
 ['1116', '3'],
 ['1115', '9'],
 ['1115', '8'],
 ['1115', '8'],
 ['1115', '9'],
 ['1115', '8'],
 ['1115', '6'],
 ['1115', '5'],
 ['1115', '4'],
 ['1115', '6'],
 ['1115', '5'],
 ['1115', '6'],
 ['1115', '9'],
 ['1115', '8'],
 ['1115', '6'],
 ['1115', '7'],
 ['1115', '5'],
 ['1115', '3'],
 ['1115', '4'],
 ['1115', '3'],
 ['1115', '2'],
 ['1115', '4'],
 ['1115', '5'],
 ['1115', '4'],
 ['1115', '5'],
 ['1115', '5'],
 ['1115', '7'],
 ['1115', '6'],
 ['1115', '5'],
 ['1115', '6'],
 ['1115', '7'],
 ['1115', '6'],
 ['1115', '4'],
 ['1115', '5'],
 ['1115', '4'],
 ['1115'],
 ['1115', '2'],
 ['1115', '1'],
 ['1114', '9'],
 ['1114', '8'],
 ['1114', '8'],
 ['1114', '7'],
 ['1114', '6'],
 ['1114', '8'],
 ['1114', '8'],
 ['1114', '8'],
 ...]

In [700]:
exec_prices_1 = pd.DataFrame(exec_prices_1)
exec_prices_1

         0  1
0     1108  6
1     1108  4
2     1108  3
3     1108  4
4     1108  3
...    ... ..
8677  1149  9
8678  1150  2
8679  1150  1
8680  1150  4
8681  1150  6

[8682 rows x 2 columns]

In [701]:
exec_prices_1.iloc[:, 0] = pd.to_numeric(exec_prices_1.iloc[:, 0])
exec_prices_1

         0  1
0     1108  6
1     1108  4
2     1108  3
3     1108  4
4     1108  3
...    ... ..
8677  1149  9
8678  1150  2
8679  1150  1
8680  1150  4
8681  1150  6

[8682 rows x 2 columns]

In [702]:
exec_prices_1.iloc[:, 1] = pd.to_numeric(exec_prices_1.iloc[:, 1])
exec_prices_1

         0    1
0     1108  6.0
1     1108  4.0
2     1108  3.0
3     1108  4.0
4     1108  3.0
...    ...  ...
8677  1149  9.0
8678  1150  2.0
8679  1150  1.0
8680  1150  4.0
8681  1150  6.0

[8682 rows x 2 columns]

In [703]:
exec_prices_1.iloc[:, 1] = (exec_prices_1.iloc[:, 1])/10
exec_prices_1

         0    1
0     1108  0.6
1     1108  0.4
2     1108  0.3
3     1108  0.4
4     1108  0.3
...    ...  ...
8677  1149  0.9
8678  1150  0.2
8679  1150  0.1
8680  1150  0.4
8681  1150  0.6

[8682 rows x 2 columns]

In [704]:
exec_prices_1.iloc[:, 0] = exec_prices_1.iloc[:, 0] + exec_prices_1.iloc[:, 1]
exec_prices_1

           0    1
0     1108.6  0.6
1     1108.4  0.4
2     1108.3  0.3
3     1108.4  0.4
4     1108.3  0.3
...      ...  ...
8677  1149.9  0.9
8678  1150.2  0.2
8679  1150.1  0.1
8680  1150.4  0.4
8681  1150.6  0.6

[8682 rows x 2 columns]

In [705]:
exec_prices_1.columns = exec_prices_1.columns.astype(str)
exec_prices_1 = exec_prices_1.drop(['1'], axis=1)
exec_prices_1

           0
0     1108.6
1     1108.4
2     1108.3
3     1108.4
4     1108.3
...      ...
8677  1149.9
8678  1150.2
8679  1150.1
8680  1150.4
8681  1150.6

[8682 rows x 1 columns]

In [706]:
market_prices_1.describe()

                 2            4  mid_price_5sec
count  5486.000000  5486.000000     5486.000000
mean   1149.370634  1015.851294     1082.610964
std      38.705850   351.476721      158.080510
min    1105.300000     1.100000      611.350000
25%    1131.400000  1117.800000     1117.750000
50%    1142.800000  1137.400000     1136.750000
75%    1150.100000  1148.500000     1147.850000
max    1271.600000  1289.600000     1212.250000

In [707]:
market_prices_1.mode()

        2       4  mid_price_5sec
0  1147.6  1131.7         1149.45
1     NaN  1145.9             NaN

In [708]:
right_exec_date_time

                       0
0    2021-06-01 00:00:01
1    2021-06-01 00:00:01
2    2021-06-01 00:00:01
3    2021-06-01 00:00:02
4    2021-06-01 00:00:03
...                  ...
8677 2021-07-30 06:25:26
8678 2021-07-30 06:26:37
8679 2021-07-30 06:26:52
8680 2021-07-30 06:27:53
8681 2021-07-30 06:28:32

[8682 rows x 1 columns]

In [709]:
plus_five_sec_exec_df

                       0
0    2021-06-01 00:00:06
1    2021-06-01 00:00:06
2    2021-06-01 00:00:06
3    2021-06-01 00:00:07
4    2021-06-01 00:00:08
...                  ...
8677 2021-07-30 06:25:31
8678 2021-07-30 06:26:42
8679 2021-07-30 06:26:57
8680 2021-07-30 06:27:58
8681 2021-07-30 06:28:37

[8682 rows x 1 columns]

In [710]:
exec_df

,Date,Side,Price,traded volume,volume_left,delta_execsend
0,eLog: order exec at 1622505601222248272 with i...,side 1,price 1108.6,traded volume 1,volume left on level 10,delta_execsend 30451968
1,eLog: order exec at 1622505601424113404 with i...,side -1,price 1108.4,traded volume 1,volume left on level 22,delta_execsend 17118720
2,eLog: order exec at 1622505601604667896 with i...,side 1,price 1108.3,traded volume 1,volume left on level 2,delta_execsend 153866496
3,eLog: order exec at 1622505602982200992 with i...,side -1,price 1108.4,traded volume 1,volume left on level 1,delta_execsend 153371136
4,eLog: order exec at 1622505603600579508 with i...,side 1,price 1108.3,traded volume 1,volume left on level 6,delta_execsend 618378496
...,...,...,...,...,...,...
8677,eLog: order exec at 1627626326117581668 with i...,side 1,price 1149.9,traded volume 1,volume left on level 564,delta_execsend 2381312
8678,eLog: order exec at 1627626397873668620 with i...,side -1,price 1150.2,traded volume 1,volume left on level 331,delta_execsend 1296281088
8679,eLog: order exec at 1627626412584847188 with i...,side 1,price 1150.1,traded volume 1,volume left on level 97,delta_execsend 14703859968
8680,eLog: order exec at 1627626473991536064 with i...,side -1,price 1150.4,traded volume 1,volume left on level 10,delta_execsend 12134184704
8681,eLog: order exec at 1627626512859773452 with i...,side 1,price 1150.6,traded volume 1,volume left on level 15,delta_execsend 14734981632

In [711]:
delta_execsend_1 = exec_df.iloc[:,5].tolist()
delta_execsend_1

[' delta_execsend 30451968',
 ' delta_execsend 17118720',
 ' delta_execsend 153866496',
 ' delta_execsend 153371136',
 ' delta_execsend 618378496',
 ' delta_execsend 1326080',
 ' delta_execsend 198843392',
 ' delta_execsend 29793536',
 ' delta_execsend 251503872',
 ' delta_execsend 1636601600',
 ' delta_execsend 25732096',
 ' delta_execsend 55348480',
 ' delta_execsend 480879872',
 ' delta_execsend 3799808',
 ' delta_execsend 2654414080',
 ' delta_execsend 237538816',
 ' delta_execsend 90663424',
 ' delta_execsend 92763136',
 ' delta_execsend 767717888',
 ' delta_execsend 7021729024',
 ' delta_execsend 3282323456',
 ' delta_execsend 3331369472',
 ' delta_execsend 661760',
 ' delta_execsend 4071394560',
 ' delta_execsend 13234689280',
 ' delta_execsend 2479980288',
 ' delta_execsend 4751118080',
 ' delta_execsend 5986892800',
 ' delta_execsend 7846529536',
 ' delta_execsend 12329664512',
 ' delta_execsend 32953089792',
 ' delta_execsend 8256145408',
 ' delta_execsend 7556911104',
 ' delta_execsend 2985025280',
 ' delta_execsend 3332224256',
 ' delta_execsend 5540383744',
 ' delta_execsend 12082349824',
 ' delta_execsend 10653765632',
 ' delta_execsend 4405888512',
 ' delta_execsend 3791817216',
 ' delta_execsend 561920',
 ' delta_execsend 930304',
 ' delta_execsend 1532741888',
 ' delta_execsend 1603840',
 ' delta_execsend 2287616',
 ' delta_execsend 1674367744',
 ' delta_execsend 8406265600',
 ' delta_execsend 4546267648',
 ' delta_execsend 2843517184',
 ' delta_execsend 4488135936',
 ' delta_execsend 92160',
 ' delta_execsend 2178260480',
 ' delta_execsend 12491086848',
 ' delta_execsend 12023593728',
 ' delta_execsend 658432',
 ' delta_execsend 795904',
 ' delta_execsend 8589827840',
 ' delta_execsend 1582848',
 ' delta_execsend 1495552',
 ' delta_execsend 15153143040',
 ' delta_execsend 12531419904',
 ' delta_execsend 6242475008',
 ' delta_execsend 2838272',
 ' delta_execsend 3362074880',
 ' delta_execsend 31095005440',
 ' delta_execsend 28115373568',
 ' delta_execsend 97536',
 ' delta_execsend 17497441792',
 ' delta_execsend 14614425344',
 ' delta_execsend 2044928',
 ' delta_execsend 1908224',
 ' delta_execsend 1313024',
 ' delta_execsend 2173952',
 ' delta_execsend 33364054528',
 ' delta_execsend 15253638400',
 ' delta_execsend 1458944',
 ' delta_execsend 32846089728',
 ' delta_execsend 63011907840',
 ' delta_execsend 77446535680',
 ' delta_execsend 76408229120',
 ' delta_execsend 526592',
 ' delta_execsend 1737216',
 ' delta_execsend 346624',
 ' delta_execsend 81272788992',
 ' delta_execsend 569600',
 ' delta_execsend 3583232',
 ' delta_execsend 2492672',
 ' delta_execsend 2241792',
 ' delta_execsend 22340283392',
 ' delta_execsend 30836945408',
 ' delta_execsend 1920256',
 ' delta_execsend 1871872',
 ' delta_execsend 2322944',
 ' delta_execsend 14912936192',
 ' delta_execsend 2555392',
 ' delta_execsend 1103872',
 ' delta_execsend 2568192',
 ' delta_execsend 34974956800',
 ' delta_execsend 31122028800',
 ' delta_execsend 45387543040',
 ' delta_execsend 6539160576',
 ' delta_execsend 10561982976',
 ' delta_execsend 12187703808',
 ' delta_execsend 1131008',
 ' delta_execsend 1408512',
 ' delta_execsend 10454294528',
 ' delta_execsend 44081193984',
 ' delta_execsend 2147584',
 ' delta_execsend 82485773824',
 ' delta_execsend 29654942464',
 ' delta_execsend 658688',
 ' delta_execsend 368384',
 ' delta_execsend 2733536000',
 ' delta_execsend 7391576576',
 ' delta_execsend 2637567744',
 ' delta_execsend 1971712',
 ' delta_execsend 3632896',
 ' delta_execsend 30547313152',
 ' delta_execsend 22117304832',
 ' delta_execsend 42142599168',
 ' delta_execsend 2953216',
 ' delta_execsend 390188288',
 ' delta_execsend 10365592832',
 ' delta_execsend 15701817088',
 ' delta_execsend 526080',
 ' delta_execsend 1257984',
 ' delta_execsend 546816',
 ' delta_execsend 7264411648',
 ' delta_execsend 5542590720',
 ' delta_execsend 11098536960',
 ' delta_execsend 10853055488',
 ' delta_execsend 10021755904',
 ' delta_execsend 8013059584',
 ' delta_execsend 15766433536',
 ' delta_execsend 1134848',
 ' delta_execsend 625408',
 ' delta_execsend 42099851264',
 ' delta_execsend 3203584',
 ' delta_execsend 1227520',
 ' delta_execsend 2431488',
 ' delta_execsend 3130624',
 ' delta_execsend 644608',
 ' delta_execsend 7435374592',
 ' delta_execsend 29856935680',
 ' delta_execsend 2406144',
 ' delta_execsend 13687450112',
 ' delta_execsend 2022912',
 ' delta_execsend 2492672',
 ' delta_execsend 454656',
 ' delta_execsend 1614080',
 ' delta_execsend 81829126912',
 ' delta_execsend 52438440448',
 ' delta_execsend 19889821184',
 ' delta_execsend 3506688',
 ' delta_execsend 61612844544',
 ' delta_execsend 23203587840',
 ' delta_execsend 19134400512',
 ' delta_execsend 1570560',
 ' delta_execsend 472320',
 ' delta_execsend 45702352128',
 ' delta_execsend 80725550592',
 ' delta_execsend 1855488',
 ' delta_execsend 14491332096',
 ' delta_execsend 99977140224',
 ' delta_execsend 29334638848',
 ' delta_execsend 294508255232',
 ' delta_execsend 43264031488',
 ' delta_execsend 1185024',
 ' delta_execsend 245661074176',
 ' delta_execsend 30894388480',
 ' delta_execsend 1930240',
 ' delta_execsend 53271491584',
 ' delta_execsend 94946382848',
 ' delta_execsend 137274222848',
 ' delta_execsend 3013376',
 ' delta_execsend 112720726272',
 ' delta_execsend 1340928',
 ' delta_execsend 83484984064',
 ' delta_execsend 83712',
 ' delta_execsend 12114158592',
 ' delta_execsend 10404180992',
 ' delta_execsend 1437952',
 ' delta_execsend 15953348608',
 ' delta_execsend 750336',
 ' delta_execsend 826112',
 ' delta_execsend 3426560',
 ' delta_execsend 11938794496',
 ' delta_execsend 3738717440',
 ' delta_execsend 55290247680',
 ' delta_execsend 1455360',
 ' delta_execsend 1781248',
 ' delta_execsend 863744',
 ' delta_execsend 30775917568',
 ' delta_execsend 74468684800',
 ' delta_execsend 706560',
 ' delta_execsend 420608',
 ' delta_execsend 2241280',
 ' delta_execsend 34483053312',
 ' delta_execsend 17857819904',
 ' delta_execsend 24279848448',
 ' delta_execsend 1069312',
 ' delta_execsend 47189839104',
 ' delta_execsend 18730597376',
 ' delta_execsend 669952',
 ' delta_execsend 3022080',
 ' delta_execsend 1822720',
 ' delta_execsend 5546946048',
 ' delta_execsend 1866240',
 ' delta_execsend 28066479104',
 ' delta_execsend 22241509120',
 ' delta_execsend 15541724160',
 ' delta_execsend 46506036480',
 ' delta_execsend 40879349248',
 ' delta_execsend 47568501504',
 ' delta_execsend 8871477504',
 ' delta_execsend 2084864',
 ' delta_execsend 110336',
 ' delta_execsend 46060582656',
 ' delta_execsend 57777378048',
 ' delta_execsend 1938432',
 ' delta_execsend 2065664',
 ' delta_execsend 40859938304',
 ' delta_execsend 2687744',
 ' delta_execsend 3147520',
 ' delta_execsend 4967659264',
 ' delta_execsend 50685412864',
 ' delta_execsend 731904',
 ' delta_execsend 1501585920',
 ' delta_execsend 1049088',
 ' delta_execsend 62051755520',
 ' delta_execsend 58432916224',
 ' delta_execsend 30815114496',
 ' delta_execsend 1056768',
 ' delta_execsend 3405568',
 ' delta_execsend 4193666560',
 ' delta_execsend 3116288',
 ' delta_execsend 1752320',
 ' delta_execsend 3799808',
 ' delta_execsend 632972544',
 ' delta_execsend 945460480',
 ' delta_execsend 888697600',
 ' delta_execsend 1579621376',
 ' delta_execsend 5154601984',
 ' delta_execsend 2364230912',
 ' delta_execsend 3191040',
 ' delta_execsend 313922048',
 ' delta_execsend 1859881216',
 ' delta_execsend 648416512',
 ' delta_execsend 9499585024',
 ' delta_execsend 12341910016',
 ' delta_execsend 53601722112',
 ' delta_execsend 6733042432',
 ' delta_execsend 30260970752',
 ' delta_execsend 1488896',
 ' delta_execsend 3064832',
 ' delta_execsend 129245957120',
 ' delta_execsend 3538038016',
 ' delta_execsend 2467328',
 ' delta_execsend 3351296',
 ' delta_execsend 3198896640',
 ' delta_execsend 18675742720',
 ' delta_execsend 2125312',
 ' delta_execsend 95764312064',
 ' delta_execsend 4395150336',
 ' delta_execsend 1133056',
 ' delta_execsend 2493184',
 ' delta_execsend 2172416',
 ' delta_execsend 1155584',
 ' delta_execsend 485376',
 ' delta_execsend 8698700032',
 ' delta_execsend 2807808',
 ' delta_execsend 464307456',
 ' delta_execsend 3452734976',
 ' delta_execsend 3057920',
 ' delta_execsend 1821952',
 ' delta_execsend 32458473728',
 ' delta_execsend 3055872',
 ' delta_execsend 2251264',
 ' delta_execsend 6766688512',
 ' delta_execsend 738816',
 ' delta_execsend 52804315392',
 ' delta_execsend 12028223744',
 ' delta_execsend 523264',
 ' delta_execsend 598528',
 ' delta_execsend 439040',
 ' delta_execsend 31687428352',
 ' delta_execsend 1574400',
 ' delta_execsend 63153682432',
 ' delta_execsend 2826496',
 ' delta_execsend 39936426752',
 ' delta_execsend 6621304576',
 ' delta_execsend 15486599680',
 ' delta_execsend 2787840',
 ' delta_execsend 29263612416',
 ' delta_execsend 3222272',
 ' delta_execsend 1026560',
 ' delta_execsend 44544876288',
 ' delta_execsend 89235675648',
 ' delta_execsend 622336',
 ' delta_execsend 25731394304',
 ' delta_execsend 3332096',
 ' delta_execsend 2920960',
 ' delta_execsend 1581568',
 ' delta_execsend 204544',
 ' delta_execsend 1335808',
 ' delta_execsend 13917874944',
 ' delta_execsend 1995776',
 ' delta_execsend 42115193856',
 ' delta_execsend 2100224',
 ' delta_execsend 5079960320',
 ' delta_execsend 5721040128',
 ' delta_execsend 18457049856',
 ' delta_execsend 896784640',
 ' delta_execsend 5566833664',
 ' delta_execsend 7596526336',
 ' delta_execsend 16570090752',
 ' delta_execsend 23151261184',
 ' delta_execsend 2294272',
 ' delta_execsend 266240',
 ' delta_execsend 1928960',
 ' delta_execsend 42107934464',
 ' delta_execsend 683776',
 ' delta_execsend 2341632',
 ' delta_execsend 5102459392',
 ' delta_execsend 34508686336',
 ' delta_execsend 3625010432',
 ' delta_execsend 498025216',
 ' delta_execsend 35282318592',
 ' delta_execsend 314880',
 ' delta_execsend 949248',
 ' delta_execsend 93836769792',
 ' delta_execsend 1314816',
 ' delta_execsend 1649920',
 ' delta_execsend 1306880',
 ' delta_execsend 712960',
 ' delta_execsend 34521758720',
 ' delta_execsend 3436288',
 ' delta_execsend 273920',
 ' delta_execsend 1715200',
 ' delta_execsend 40276137728',
 ' delta_execsend 20056104704',
 ' delta_execsend 36876080640',
 ' delta_execsend 20386974976',
 ' delta_execsend 9164345856',
 ' delta_execsend 11642259968',
 ' delta_execsend 80301915392',
 ' delta_execsend 17941730560',
 ' delta_execsend 17246045696',
 ' delta_execsend 38725617664',
 ' delta_execsend 108903035904',
 ' delta_execsend 1576704',
 ' delta_execsend 29674157568',
 ' delta_execsend 11131727104',
 ' delta_execsend 1796608',
 ' delta_execsend 518656',
 ' delta_execsend 1954048',
 ' delta_execsend 15877700864',
 ' delta_execsend 71176187392',
 ' delta_execsend 22024113152',
 ' delta_execsend 3086848',
 ' delta_execsend 1198848',
 ' delta_execsend 184440431616',
 ' delta_execsend 524288',
 ' delta_execsend 67840',
 ' delta_execsend 85705281792',
 ' delta_execsend 105282103808',
 ' delta_execsend 19889307392',
 ' delta_execsend 532992',
 ' delta_execsend 40363241472',
 ' delta_execsend 3153920',
 ' delta_execsend 79107749120',
 ' delta_execsend 21520160512',
 ' delta_execsend 171200754176',
 ' delta_execsend 31531124480',
 ' delta_execsend 646144',
 ' delta_execsend 622592',
 ' delta_execsend 486912',
 ' delta_execsend 25766411008',
 ' delta_execsend 112640',
 ' delta_execsend 51110928128',
 ' delta_execsend 29107015680',
 ' delta_execsend 124709974272',
 ' delta_execsend 75629531648',
 ' delta_execsend 67413500160',
 ' delta_execsend 1163008',
 ' delta_execsend 168095105536',
 ' delta_execsend 54300325120',
 ' delta_execsend 21621500416',
 ' delta_execsend 2405632',
 ' delta_execsend 76544',
 ' delta_execsend 48964950272',
 ' delta_execsend 66549870080',
 ' delta_execsend 869120',
 ' delta_execsend 1063680',
 ' delta_execsend 6195253760',
 ' delta_execsend 447232',
 ' delta_execsend 12965530112',
 ' delta_execsend 138700268288',
 ' delta_execsend 46328749312',
 ' delta_execsend 2033408',
 ' delta_execsend 2010880',
 ' delta_execsend 16507797760',
 ' delta_execsend 57441620736',
 ' delta_execsend 45258469376',
 ' delta_execsend 653824',
 ' delta_execsend 32066256896',
 ' delta_execsend 157418017280',
 ' delta_execsend 358400',
 ' delta_execsend 40634592000',
 ' delta_execsend 75950408960',
 ' delta_execsend 82432',
 ' delta_execsend 22881134592',
 ' delta_execsend 33987831296',
 ' delta_execsend 12105730048',
 ' delta_execsend 73221323776',
 ' delta_execsend 1474304',
 ' delta_execsend 118350067712',
 ' delta_execsend 52409344256',
 ' delta_execsend 1488384',
 ' delta_execsend 2663424',
 ' delta_execsend 55798743296',
 ' delta_execsend 48822134784',
 ' delta_execsend 32087006976',
 ' delta_execsend 54976845056',
 ' delta_execsend 55442817536',
 ' delta_execsend 68608',
 ' delta_execsend 418816',
 ' delta_execsend 1657600',
 ' delta_execsend 93960219136',
 ' delta_execsend 200766059520',
 ' delta_execsend 3205888',
 ' delta_execsend 1648384',
 ' delta_execsend 63081475072',
 ' delta_execsend 1896960',
 ' delta_execsend 16470976768',
 ' delta_execsend 55108691456',
 ' delta_execsend 2479104',
 ' delta_execsend 1958656',
 ' delta_execsend 2375680',
 ' delta_execsend 78553807872',
 ' delta_execsend 2973440',
 ' delta_execsend 30398781184',
 ' delta_execsend 2012160',
 ' delta_execsend 67361071104',
 ' delta_execsend 7570287360',
 ' delta_execsend 3513162496',
 ' delta_execsend 1000448',
 ' delta_execsend 19406349312',
 ' delta_execsend 143456352512',
 ' delta_execsend 37885374720',
 ' delta_execsend 33474656256',
 ' delta_execsend 39276838400',
 ' delta_execsend 56081285888',
 ' delta_execsend 51304325888',
 ' delta_execsend 60317545728',
 ' delta_execsend 1977088',
 ' delta_execsend 1148416',
 ' delta_execsend 26817294336',
 ' delta_execsend 7332597248',
 ' delta_execsend 33290434816',
 ' delta_execsend 19346437376',
 ' delta_execsend 48618721536',
 ' delta_execsend 83472189184',
 ' delta_execsend 790272',
 ' delta_execsend 3046656',
 ' delta_execsend 1169408',
 ' delta_execsend 15549979648',
 ' delta_execsend 1922816',
 ' delta_execsend 826112',
 ' delta_execsend 5551561472',
 ' delta_execsend 31803000576',
 ' delta_execsend 37937744128',
 ' delta_execsend 764160',
 ' delta_execsend 16609084672',
 ' delta_execsend 540672',
 ' delta_execsend 27296851968',
 ' delta_execsend 29237087744',
 ' delta_execsend 63925540096',
 ' delta_execsend 25551174144',
 ' delta_execsend 50373269248',
 ' delta_execsend 206889984',
 ' delta_execsend 440545280',
 ' delta_execsend 238759424',
 ' delta_execsend 7079535360',
 ' delta_execsend 7866292224',
 ' delta_execsend 30891522304',
 ' delta_execsend 1602816',
 ' delta_execsend 15581446400',
 ' delta_execsend 2238976',
 ' delta_execsend 2852352',
 ' delta_execsend 2032440832',
 ' delta_execsend 2853295104',
 ' delta_execsend 6078219520',
 ' delta_execsend 25547652352',
 ' delta_execsend 2437120',
 ' delta_execsend 7159121920',
 ' delta_execsend 22401805056',
 ' delta_execsend 744192',
 ' delta_execsend 3947485952',
 ' delta_execsend 7005961728',
 ' delta_execsend 6459182848',
 ' delta_execsend 8473325312',
 ' delta_execsend 84000828928',
 ' delta_execsend 1698048',
 ' delta_execsend 8656676608',
 ' delta_execsend 2443264',
 ' delta_execsend 2680064',
 ' delta_execsend 1212416',
 ' delta_execsend 45703759360',
 ' delta_execsend 59927353856',
 ' delta_execsend 59110989056',
 ' delta_execsend 64448173568',
 ' delta_execsend 2501888',
 ' delta_execsend 60837532672',
 ' delta_execsend 52324194816',
 ' delta_execsend 3485696',
 ' delta_execsend 95308957440',
 ' delta_execsend 49239993344',
 ' delta_execsend 19638510592',
 ' delta_execsend 3386112',
 ' delta_execsend 527872',
 ' delta_execsend 4695755008',
 ' delta_execsend 11357018368',
 ' delta_execsend 2694144',
 ' delta_execsend 3159808',
 ' delta_execsend 2707200',
 ' delta_execsend 13344277760',
 ' delta_execsend 23529089024',
 ' delta_execsend 11462788352',
 ' delta_execsend 313088',
 ' delta_execsend 1909829632',
 ' delta_execsend 22264558080',
 ' delta_execsend 9219631872',
 ' delta_execsend 553984',
 ' delta_execsend 43398103296',
 ' delta_execsend 2047310592',
 ' delta_execsend 6910899456',
 ' delta_execsend 6774797056',
 ' delta_execsend 6038907136',
 ' delta_execsend 3723008',
 ' delta_execsend 1178112',
 ' delta_execsend 38382252032',
 ' delta_execsend 11946699520',
 ' delta_execsend 12995691520',
 ' delta_execsend 30193248256',
 ' delta_execsend 3819899904',
 ' delta_execsend 9161424640',
 ' delta_execsend 51540021760',
 ' delta_execsend 12350394112',
 ' delta_execsend 3031552',
 ' delta_execsend 7953059328',
 ' delta_execsend 62442244352',
 ' delta_execsend 66701610752',
 ' delta_execsend 18509940224',
 ' delta_execsend 28988516352',
 ' delta_execsend 52851091456',
 ' delta_execsend 1331200',
 ' delta_execsend 32966896384',
 ' delta_execsend 9879289088',
 ' delta_execsend 18277326080',
 ' delta_execsend 37231457280',
 ' delta_execsend 61635853056',
 ' delta_execsend 1423872',
 ' delta_execsend 19573538304',
 ' delta_execsend 9864619008',
 ' delta_execsend 2795776',
 ' delta_execsend 1785600',
 ' delta_execsend 11932300800',
 ' delta_execsend 2036480',
 ' delta_execsend 19145622784',
 ' delta_execsend 18129523712',
 ' delta_execsend 5497513984',
 ' delta_execsend 1356544',
 ' delta_execsend 4612567808',
 ' delta_execsend 1076992',
 ' delta_execsend 1148672',
 ' delta_execsend 88064',
 ' delta_execsend 4450854912',
 ' delta_execsend 3019008',
 ' delta_execsend 7107365888',
 ' delta_execsend 17269993472',
 ' delta_execsend 21133520128',
 ' delta_execsend 1467904',
 ' delta_execsend 2134784',
 ' delta_execsend 34662569728',
 ' delta_execsend 4524212224',
 ' delta_execsend 705596416',
 ' delta_execsend 870400',
 ' delta_execsend 5063385088',
 ' delta_execsend 3230208',
 ' delta_execsend 6048817664',
 ' delta_execsend 6467765248',
 ' delta_execsend 62613672960',
 ' delta_execsend 590592',
 ' delta_execsend 7574324992',
 ' delta_execsend 51010490624',
 ' delta_execsend 43926306560',
 ' delta_execsend 2005248',
 ' delta_execsend 3281664',
 ' delta_execsend 120473223168',
 ' delta_execsend 40247223552',
 ' delta_execsend 51730932480',
 ' delta_execsend 87881329408',
 ' delta_execsend 79083534592',
 ' delta_execsend 430336',
 ' delta_execsend 168420754432',
 ' delta_execsend 25515198976',
 ' delta_execsend 1909504',
 ' delta_execsend 36920392192',
 ' delta_execsend 25106599680',
 ' delta_execsend 537088',
 ' delta_execsend 1649408',
 ' delta_execsend 3015424',
 ' delta_execsend 9756787712',
 ' delta_execsend 30863267328',
 ' delta_execsend 10376439808',
 ' delta_execsend 3531264',
 ' delta_execsend 2151936',
 ' delta_execsend 20759251456',
 ' delta_execsend 1161984',
 ' delta_execsend 743424',
 ' delta_execsend 69313645312',
 ' delta_execsend 30972092160',
 ' delta_execsend 132636055296',
 ' delta_execsend 11832838400',
 ' delta_execsend 151155535616',
 ' delta_execsend 98443965952',
 ' delta_execsend 85524425728',
 ' delta_execsend 1547776',
 ' delta_execsend 651008',
 ' delta_execsend 86330360832',
 ' delta_execsend 7749476608',
 ' delta_execsend 114432',
 ' delta_execsend 948224',
 ' delta_execsend 423605248',
 ' delta_execsend 889600',
 ' delta_execsend 3389952',
 ' delta_execsend 11409701632',
 ' delta_execsend 884224',
 ' delta_execsend 47439141888',
 ' delta_execsend 101632',
 ' delta_execsend 271090230016',
 ' delta_execsend 17398099200',
 ' delta_execsend 108687265024',
 ' delta_execsend 1936128',
 ' delta_execsend 1224960',
 ' delta_execsend 3108096',
 ' delta_execsend 44628727552',
 ' delta_execsend 905472',
 ' delta_execsend 109492491008',
 ' delta_execsend 40685990912',
 ' delta_execsend 225858372096',
 ' delta_execsend 2602752',
 ' delta_execsend 20114804224',
 ' delta_execsend 23672078592',
 ' delta_execsend 10507468800',
 ' delta_execsend 1811712',
 ' delta_execsend 1459456',
 ' delta_execsend 3251200',
 ' delta_execsend 90926448640',
 ' delta_execsend 63197768704',
 ' delta_execsend 43930277120',
 ' delta_execsend 1285888',

In [712]:
delta_df_exec = []
for i in delta_execsend_1:
    delta_df_exec.append(re.findall('\d+', i))
delta_df_exec

[['30451968'],
 ['17118720'],
 ['153866496'],
 ['153371136'],
 ['618378496'],
 ['1326080'],
 ['198843392'],
 ['29793536'],
 ['251503872'],
 ['1636601600'],
 ['25732096'],
 ['55348480'],
 ['480879872'],
 ['3799808'],
 ['2654414080'],
 ['237538816'],
 ['90663424'],
 ['92763136'],
 ['767717888'],
 ['7021729024'],
 ['3282323456'],
 ['3331369472'],
 ['661760'],
 ['4071394560'],
 ['13234689280'],
 ['2479980288'],
 ['4751118080'],
 ['5986892800'],
 ['7846529536'],
 ['12329664512'],
 ['32953089792'],
 ['8256145408'],
 ['7556911104'],
 ['2985025280'],
 ['3332224256'],
 ['5540383744'],
 ['12082349824'],
 ['10653765632'],
 ['4405888512'],
 ['3791817216'],
 ['561920'],
 ['930304'],
 ['1532741888'],
 ['1603840'],
 ['2287616'],
 ['1674367744'],
 ['8406265600'],
 ['4546267648'],
 ['2843517184'],
 ['4488135936'],
 ['92160'],
 ['2178260480'],
 ['12491086848'],
 ['12023593728'],
 ['658432'],
 ['795904'],
 ['8589827840'],
 ['1582848'],
 ['1495552'],
 ['15153143040'],
 ['12531419904'],
 ['6242475008'],
 ['2838272'],
 ['3362074880'],
 ['31095005440'],
 ['28115373568'],
 ['97536'],
 ['17497441792'],
 ['14614425344'],
 ['2044928'],
 ['1908224'],
 ['1313024'],
 ['2173952'],
 ['33364054528'],
 ['15253638400'],
 ['1458944'],
 ['32846089728'],
 ['63011907840'],
 ['77446535680'],
 ['76408229120'],
 ['526592'],
 ['1737216'],
 ['346624'],
 ['81272788992'],
 ['569600'],
 ['3583232'],
 ['2492672'],
 ['2241792'],
 ['22340283392'],
 ['30836945408'],
 ['1920256'],
 ['1871872'],
 ['2322944'],
 ['14912936192'],
 ['2555392'],
 ['1103872'],
 ['2568192'],
 ['34974956800'],
 ['31122028800'],
 ['45387543040'],
 ['6539160576'],
 ['10561982976'],
 ['12187703808'],
 ['1131008'],
 ['1408512'],
 ['10454294528'],
 ['44081193984'],
 ['2147584'],
 ['82485773824'],
 ['29654942464'],
 ['658688'],
 ['368384'],
 ['2733536000'],
 ['7391576576'],
 ['2637567744'],
 ['1971712'],
 ['3632896'],
 ['30547313152'],
 ['22117304832'],
 ['42142599168'],
 ['2953216'],
 ['390188288'],
 ['10365592832'],
 ['15701817088'],
 ['526080'],
 ['1257984'],
 ['546816'],
 ['7264411648'],
 ['5542590720'],
 ['11098536960'],
 ['10853055488'],
 ['10021755904'],
 ['8013059584'],
 ['15766433536'],
 ['1134848'],
 ['625408'],
 ['42099851264'],
 ['3203584'],
 ['1227520'],
 ['2431488'],
 ['3130624'],
 ['644608'],
 ['7435374592'],
 ['29856935680'],
 ['2406144'],
 ['13687450112'],
 ['2022912'],
 ['2492672'],
 ['454656'],
 ['1614080'],
 ['81829126912'],
 ['52438440448'],
 ['19889821184'],
 ['3506688'],
 ['61612844544'],
 ['23203587840'],
 ['19134400512'],
 ['1570560'],
 ['472320'],
 ['45702352128'],
 ['80725550592'],
 ['1855488'],
 ['14491332096'],
 ['99977140224'],
 ['29334638848'],
 ['294508255232'],
 ['43264031488'],
 ['1185024'],
 ['245661074176'],
 ['30894388480'],
 ['1930240'],
 ['53271491584'],
 ['94946382848'],
 ['137274222848'],
 ['3013376'],
 ['112720726272'],
 ['1340928'],
 ['83484984064'],
 ['83712'],
 ['12114158592'],
 ['10404180992'],
 ['1437952'],
 ['15953348608'],
 ['750336'],
 ['826112'],
 ['3426560'],
 ['11938794496'],
 ['3738717440'],
 ['55290247680'],
 ['1455360'],
 ['1781248'],
 ['863744'],
 ['30775917568'],
 ['74468684800'],
 ['706560'],
 ['420608'],
 ['2241280'],
 ['34483053312'],
 ['17857819904'],
 ['24279848448'],
 ['1069312'],
 ['47189839104'],
 ['18730597376'],
 ['669952'],
 ['3022080'],
 ['1822720'],
 ['5546946048'],
 ['1866240'],
 ['28066479104'],
 ['22241509120'],
 ['15541724160'],
 ['46506036480'],
 ['40879349248'],
 ['47568501504'],
 ['8871477504'],
 ['2084864'],
 ['110336'],
 ['46060582656'],
 ['57777378048'],
 ['1938432'],
 ['2065664'],
 ['40859938304'],
 ['2687744'],
 ['3147520'],
 ['4967659264'],
 ['50685412864'],
 ['731904'],
 ['1501585920'],
 ['1049088'],
 ['62051755520'],
 ['58432916224'],
 ['30815114496'],
 ['1056768'],
 ['3405568'],
 ['4193666560'],
 ['3116288'],
 ['1752320'],
 ['3799808'],
 ['632972544'],
 ['945460480'],
 ['888697600'],
 ['1579621376'],
 ['5154601984'],
 ['2364230912'],
 ['3191040'],
 ['313922048'],
 ['1859881216'],
 ['648416512'],
 ['9499585024'],
 ['12341910016'],
 ['53601722112'],
 ['6733042432'],
 ['30260970752'],
 ['1488896'],
 ['3064832'],
 ['129245957120'],
 ['3538038016'],
 ['2467328'],
 ['3351296'],
 ['3198896640'],
 ['18675742720'],
 ['2125312'],
 ['95764312064'],
 ['4395150336'],
 ['1133056'],
 ['2493184'],
 ['2172416'],
 ['1155584'],
 ['485376'],
 ['8698700032'],
 ['2807808'],
 ['464307456'],
 ['3452734976'],
 ['3057920'],
 ['1821952'],
 ['32458473728'],
 ['3055872'],
 ['2251264'],
 ['6766688512'],
 ['738816'],
 ['52804315392'],
 ['12028223744'],
 ['523264'],
 ['598528'],
 ['439040'],
 ['31687428352'],
 ['1574400'],
 ['63153682432'],
 ['2826496'],
 ['39936426752'],
 ['6621304576'],
 ['15486599680'],
 ['2787840'],
 ['29263612416'],
 ['3222272'],
 ['1026560'],
 ['44544876288'],
 ['89235675648'],
 ['622336'],
 ['25731394304'],
 ['3332096'],
 ['2920960'],
 ['1581568'],
 ['204544'],
 ['1335808'],
 ['13917874944'],
 ['1995776'],
 ['42115193856'],
 ['2100224'],
 ['5079960320'],
 ['5721040128'],
 ['18457049856'],
 ['896784640'],
 ['5566833664'],
 ['7596526336'],
 ['16570090752'],
 ['23151261184'],
 ['2294272'],
 ['266240'],
 ['1928960'],
 ['42107934464'],
 ['683776'],
 ['2341632'],
 ['5102459392'],
 ['34508686336'],
 ['3625010432'],
 ['498025216'],
 ['35282318592'],
 ['314880'],
 ['949248'],
 ['93836769792'],
 ['1314816'],
 ['1649920'],
 ['1306880'],
 ['712960'],
 ['34521758720'],
 ['3436288'],
 ['273920'],
 ['1715200'],
 ['40276137728'],
 ['20056104704'],
 ['36876080640'],
 ['20386974976'],
 ['9164345856'],
 ['11642259968'],
 ['80301915392'],
 ['17941730560'],
 ['17246045696'],
 ['38725617664'],
 ['108903035904'],
 ['1576704'],
 ['29674157568'],
 ['11131727104'],
 ['1796608'],
 ['518656'],
 ['1954048'],
 ['15877700864'],
 ['71176187392'],
 ['22024113152'],
 ['3086848'],
 ['1198848'],
 ['184440431616'],
 ['524288'],
 ['67840'],
 ['85705281792'],
 ['105282103808'],
 ['19889307392'],
 ['532992'],
 ['40363241472'],
 ['3153920'],
 ['79107749120'],
 ['21520160512'],
 ['171200754176'],
 ['31531124480'],
 ['646144'],
 ['622592'],
 ['486912'],
 ['25766411008'],
 ['112640'],
 ['51110928128'],
 ['29107015680'],
 ['124709974272'],
 ['75629531648'],
 ['67413500160'],
 ['1163008'],
 ['168095105536'],
 ['54300325120'],
 ['21621500416'],
 ['2405632'],
 ['76544'],
 ['48964950272'],
 ['66549870080'],
 ['869120'],
 ['1063680'],
 ['6195253760'],
 ['447232'],
 ['12965530112'],
 ['138700268288'],
 ['46328749312'],
 ['2033408'],
 ['2010880'],
 ['16507797760'],
 ['57441620736'],
 ['45258469376'],
 ['653824'],
 ['32066256896'],
 ['157418017280'],
 ['358400'],
 ['40634592000'],
 ['75950408960'],
 ['82432'],
 ['22881134592'],
 ['33987831296'],
 ['12105730048'],
 ['73221323776'],
 ['1474304'],
 ['118350067712'],
 ['52409344256'],
 ['1488384'],
 ['2663424'],
 ['55798743296'],
 ['48822134784'],
 ['32087006976'],
 ['54976845056'],
 ['55442817536'],
 ['68608'],
 ['418816'],
 ['1657600'],
 ['93960219136'],
 ['200766059520'],
 ['3205888'],
 ['1648384'],
 ['63081475072'],
 ['1896960'],
 ['16470976768'],
 ['55108691456'],
 ['2479104'],
 ['1958656'],
 ['2375680'],
 ['78553807872'],
 ['2973440'],
 ['30398781184'],
 ['2012160'],
 ['67361071104'],
 ['7570287360'],
 ['3513162496'],
 ['1000448'],
 ['19406349312'],
 ['143456352512'],
 ['37885374720'],
 ['33474656256'],
 ['39276838400'],
 ['56081285888'],
 ['51304325888'],
 ['60317545728'],
 ['1977088'],
 ['1148416'],
 ['26817294336'],
 ['7332597248'],
 ['33290434816'],
 ['19346437376'],
 ['48618721536'],
 ['83472189184'],
 ['790272'],
 ['3046656'],
 ['1169408'],
 ['15549979648'],
 ['1922816'],
 ['826112'],
 ['5551561472'],
 ['31803000576'],
 ['37937744128'],
 ['764160'],
 ['16609084672'],
 ['540672'],
 ['27296851968'],
 ['29237087744'],
 ['63925540096'],
 ['25551174144'],
 ['50373269248'],
 ['206889984'],
 ['440545280'],
 ['238759424'],
 ['7079535360'],
 ['7866292224'],
 ['30891522304'],
 ['1602816'],
 ['15581446400'],
 ['2238976'],
 ['2852352'],
 ['2032440832'],
 ['2853295104'],
 ['6078219520'],
 ['25547652352'],
 ['2437120'],
 ['7159121920'],
 ['22401805056'],
 ['744192'],
 ['3947485952'],
 ['7005961728'],
 ['6459182848'],
 ['8473325312'],
 ['84000828928'],
 ['1698048'],
 ['8656676608'],
 ['2443264'],
 ['2680064'],
 ['1212416'],
 ['45703759360'],
 ['59927353856'],
 ['59110989056'],
 ['64448173568'],
 ['2501888'],
 ['60837532672'],
 ['52324194816'],
 ['3485696'],
 ['95308957440'],
 ['49239993344'],
 ['19638510592'],
 ['3386112'],
 ['527872'],
 ['4695755008'],
 ['11357018368'],
 ['2694144'],
 ['3159808'],
 ['2707200'],
 ['13344277760'],
 ['23529089024'],
 ['11462788352'],
 ['313088'],
 ['1909829632'],
 ['22264558080'],
 ['9219631872'],
 ['553984'],
 ['43398103296'],
 ['2047310592'],
 ['6910899456'],
 ['6774797056'],
 ['6038907136'],
 ['3723008'],
 ['1178112'],
 ['38382252032'],
 ['11946699520'],
 ['12995691520'],
 ['30193248256'],
 ['3819899904'],
 ['9161424640'],
 ['51540021760'],
 ['12350394112'],
 ['3031552'],
 ['7953059328'],
 ['62442244352'],
 ['66701610752'],
 ['18509940224'],
 ['28988516352'],
 ['52851091456'],
 ['1331200'],
 ['32966896384'],
 ['9879289088'],
 ['18277326080'],
 ['37231457280'],
 ['61635853056'],
 ['1423872'],
 ['19573538304'],
 ['9864619008'],
 ['2795776'],
 ['1785600'],
 ['11932300800'],
 ['2036480'],
 ['19145622784'],
 ['18129523712'],
 ['5497513984'],
 ['1356544'],
 ['4612567808'],
 ['1076992'],
 ['1148672'],
 ['88064'],
 ['4450854912'],
 ['3019008'],
 ['7107365888'],
 ['17269993472'],
 ['21133520128'],
 ['1467904'],
 ['2134784'],
 ['34662569728'],
 ['4524212224'],
 ['705596416'],
 ['870400'],
 ['5063385088'],
 ['3230208'],
 ['6048817664'],
 ['6467765248'],
 ['62613672960'],
 ['590592'],
 ['7574324992'],
 ['51010490624'],
 ['43926306560'],
 ['2005248'],
 ['3281664'],
 ['120473223168'],
 ['40247223552'],
 ['51730932480'],
 ['87881329408'],
 ['79083534592'],
 ['430336'],
 ['168420754432'],
 ['25515198976'],
 ['1909504'],
 ['36920392192'],
 ['25106599680'],
 ['537088'],
 ['1649408'],
 ['3015424'],
 ['9756787712'],
 ['30863267328'],
 ['10376439808'],
 ['3531264'],
 ['2151936'],
 ['20759251456'],
 ['1161984'],
 ['743424'],
 ['69313645312'],
 ['30972092160'],
 ['132636055296'],
 ['11832838400'],
 ['151155535616'],
 ['98443965952'],
 ['85524425728'],
 ['1547776'],
 ['651008'],
 ['86330360832'],
 ['7749476608'],
 ['114432'],
 ['948224'],
 ['423605248'],
 ['889600'],
 ['3389952'],
 ['11409701632'],
 ['884224'],
 ['47439141888'],
 ['101632'],
 ['271090230016'],
 ['17398099200'],
 ['108687265024'],
 ['1936128'],
 ['1224960'],
 ['3108096'],
 ['44628727552'],
 ['905472'],
 ['109492491008'],
 ['40685990912'],
 ['225858372096'],
 ['2602752'],
 ['20114804224'],
 ['23672078592'],
 ['10507468800'],
 ['1811712'],
 ['1459456'],
 ['3251200'],
 ['90926448640'],
 ['63197768704'],
 ['43930277120'],
 ['1285888'],
 ['2315735296'],
 ['41109664000'],
 ['107683462144'],
 ['80166860800'],
 ['18583635968'],
 ['1359104'],
 ['52898053632'],
 ['112622028800'],
 ['1499648'],
 ['1703680'],
 ['2565376'],
 ['550400'],
 ['542464'],
 ['254517432064'],
 ['133897727744'],
 ['29868306176'],
 ['61303096832'],
 ['79869126400'],
 ['39087490304'],
 ['4979524608'],
 ['1394432'],
 ['433152'],
 ['89046404096'],
 ['531968'],
 ['1582336'],
 ['39221923328'],
 ['922624'],
 ['52404326656'],
 ['147571548672'],
 ['353024'],
 ['19137664512'],
 ['1464320'],
 ['47994214656'],
 ['38714737920'],
 ['28259253760'],
 ['2827992064'],
 ['558592'],
 ['1267712'],
 ['60813789952'],
 ['2253312'],
 ['594688'],
 ['24986486016'],
 ['14410718976'],
 ['2212608'],
 ['63663423232'],
 ['1256192'],
 ['2114560'],
 ['1969408'],
 ['636928'],
 ['35496096512'],
 ['31644941824'],
 ['6358822912'],
 ['123349158912'],
 ['617509376'],
 ['4723932928'],
 ['6307688448'],
 ['27867333632'],
 ['6887949568'],
 ['17998008320'],
 ['1499334144'],
 ['2180908288'],
 ['454631680'],
 ['2032896'],
 ['2780416'],
 ['2825216'],
 ['613376'],
 ['30820274944'],
 ['22992743424'],
 ['1251236608'],
 ['1245184'],
 ['7162625024'],
 ['2299392'],
 ['32358113280'],
 ['1998848'],
 ['60814839808'],
 ['34776525056'],
 ['719616'],
 ['13308372224'],
 ['17125645824'],
 ['107259949312'],
 ['16615801600'],
 ['2087424'],
 ['408064'],
 ['2996992'],
 ['3003904'],
 ['2279168'],
 ['38218807552'],
 ['52684817408'],
 ['2517760'],
 ['37306292480'],
 ['1850368'],
 ['18359836160'],
 ['3525376'],
 ['33417417472'],
 ['1687296'],
 ['19368341760'],
 ['904704'],
 ['2937856'],
 ['71191334656'],
 ['33201310720'],
 ['39789061888'],
 ['3369216'],
 ['2243840'],
 ['1087744'],
 ['45464772864'],
 ['69544601856'],
 ['45546042112'],
 ['3381760'],
 ['1625856'],
 ['15581454592'],
 ['47778013696'],
 ['1623296'],
 ['58510544640'],
 ['1971200'],
 ['24006236160'],
 ['1612032'],
 ['5047176192'],
 ['3111936'],
 ['1883392'],
 ['65551895808'],
 ['78830006016'],
 ['1859840'],
 ['19230026496'],
 ['3369472'],
 ['109681265152'],
 ['36948524544'],
 ['9928310272'],
 ['15008218368'],
 ['679168'],
 ['185856'],
 ['2587648'],
 ['94720'],
 ['30745539328'],
 ['7640962048'],
 ['540928'],
 ['65799567616'],
 ['34624401664'],
 ['87931150848'],
 ['858112'],
 ['3186944'],
 ['9092269056'],
 ['37163154944'],
 ['58068029184'],
 ['1893376'],
 ['119354049536'],
 ['8261920768'],
 ['1488384'],
 ['24385765888'],
 ['35219663360'],
 ['19935720192'],
 ['20399589888'],
 ['36082492160'],
 ['5068919552'],
 ['8862702080'],
 ['20926992384'],
 ['31836867072'],
 ['1014016'],
 ['190789409792'],
 ['438272'],
 ['3721984'],
 ['157345901568'],
 ['67994650368'],
 ['103192837632'],
 ['2787072'],
 ['45382427648'],
 ['52506394112'],
 ['55981290496'],
 ['1283072'],
 ['1517568'],
 ['2188544'],
 ['882688'],
 ['71528463872'],
 ['2128896'],
 ['14583341056'],
 ['9700873728'],
 ['18593238016'],
 ['34392356096'],
 ['1669632'],
 ['89245141760'],
 ['875008'],
 ['800768'],
 ['58778727424'],
 ['2277376'],
 ['3576832'],
 ['40180256768'],
 ['17588208896'],
 ['40454499072'],
 ['2825216'],
 ['3049472'],
 ['1726976'],
 ['14944802816'],
 ['1578752'],
 ['8028768256'],
 ['1472512'],
 ['1780736'],
 ['2593280'],
 ['148272949760'],
 ['3103488'],
 ['2142208'],
 ['123582215936'],
 ['205702758912'],
 ['45204769280'],
 ['47318198272'],
 ['187793996288'],
 ['1207040'],
 ['5405396992'],
 ['2428672'],
 ['902912'],
 ['31050264320'],
 ['2622208'],
 ['50684430336'],
 ['452843520'],
 ['770223360'],
 ['4954624'],
 ['1343215104'],
 ['464870144'],
 ['1948791808'],
 ['113145088'],
 ['5236736'],
 ['1716434176'],
 ['3625984'],
 ['946958336'],
 ['89231872'],
 ['5552122880'],
 ['36839424'],
 ['1499452928'],
 ['5128107008'],
 ['1210384128'],
 ['5082325248'],
 ['1801984'],
 ['2424832'],
 ['1226496'],
 ['88109455104'],
 ['2891520'],
 ['15126973696'],
 ['2061824'],
 ['64570760960'],
 ['784384'],
 ['1300303360'],
 ['2872576'],
 ['1491045120'],
 ['20650064384'],
 ['1325824'],
 ['987904'],
 ['1301248'],
 ['653312'],
 ['2350592'],
 ['1105664'],
 ['1099953408'],
 ['37958628864'],
 ['52848788736'],
 ['28338811904'],
 ['515840'],
 ['82238674944'],
 ['178500647680'],
 ['8360576256'],
 ['1729024'],
 ['16015215104'],
 ['950272'],
 ['40949194240'],
 ['339712'],
 ['40435224576'],
 ['1341952'],
 ['2104832'],
 ['1331712'],
 ['11627526400'],
 ['14597910784'],
 ['67544107520'],
 ['35789167104'],
 ['53450632704'],
 ['57125368320'],
 ['99507526400'],
 ['2296576'],
 ['1258240'],
 ['11463692800'],
 ['1197423616'],
 ['4577951488'],
 ['58316137728'],
 ['64390238208'],
 ['571136'],
 ['2055424'],
 ['9328818944'],
 ['11399455744'],
 ['859648'],
 ['29697389056'],
 ['72699812608'],
 ['10885053184'],
 ['1575936'],
 ['38278718720'],
 ['2065920'],
 ['33177522944'],
 ['87040'],
 ['15624394240'],
 ['2733911296'],
 ['362752'],
 ['630784'],
 ['44221611776'],
 ['61402880'],
 ['13016843520'],
 ['231541619968'],
 ['697856'],
 ['574720'],
 ['38978072576'],
 ['4812527616'],
 ['37319149312'],
 ['41234302464'],
 ['1106432'],
 ['1347072'],
 ['2764800'],
 ['12487569920'],
 ['1097216'],
 ['4284625920'],
 ['57582244096'],
 ['734720'],
 ['468480'],
 ['325120'],
 ['87040'],
 ['148220694784'],
 ['1152000'],
 ['661248'],
 ['24645877248'],
 ['2366976'],
 ['2745856'],
 ['113408'],
 ['1002496'],
 ['81664'],
 ['5805620224'],
 ['32474425856'],
 ['28236626944'],
 ['2326272'],
 ['28687653376'],
 ['127539868928'],
 ['89856'],
 ['112349945088'],
 ['1073664'],
 ['920576'],
 ['9046483200'],
 ...]

In [713]:
delta_df_exec = pd.DataFrame(delta_df_exec)
delta_df_exec

                0
0        30451968
1        17118720
2       153866496
3       153371136
4       618378496
...           ...
8677      2381312
8678   1296281088
8679  14703859968
8680  12134184704
8681  14734981632

[8682 rows x 1 columns]

In [714]:
delta_df_exec.iloc[:, 0] = pd.to_numeric(delta_df_exec.iloc[:, 0])
delta_df_exec

                0
0        30451968
1        17118720
2       153866496
3       153371136
4       618378496
...           ...
8677      2381312
8678   1296281088
8679  14703859968
8680  12134184704
8681  14734981632

[8682 rows x 1 columns]

In [715]:
side_1 = exec_df.iloc[:,1].tolist()
side_1

[' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side -1',
 ' side 1',
 ' side 1',
 ' side -1',
 ' side 1',
 ' side -1',
 ...]

In [716]:
side_1 = pd.DataFrame(side_1)
side_1

             0
0       side 1
1      side -1
2       side 1
3      side -1
4       side 1
...        ...
8677    side 1
8678   side -1
8679    side 1
8680   side -1
8681    side 1

[8682 rows x 1 columns]

In [717]:
side_1.iloc[:,0] = side_1.iloc[:,0].map(lambda x: x.lstrip('side ').rstrip(''))

In [718]:
side_1

       0
0      1
1     -1
2      1
3     -1
4      1
...   ..
8677   1
8678  -1
8679   1
8680  -1
8681   1

[8682 rows x 1 columns]

In [719]:
side_1.iloc[:, 0] = pd.to_numeric(side_1.iloc[:, 0])
side_1

      0
0     1
1    -1
2     1
3    -1
4     1
...  ..
8677  1
8678 -1
8679  1
8680 -1
8681  1

[8682 rows x 1 columns]

In [720]:
calc_1 = pd.concat([right_exec_date_time, plus_five_sec_exec_df,side_1, exec_prices_1, delta_df_exec], axis=1)
calc_1

                       0                   0  0       0            0
0    2021-06-01 00:00:01 2021-06-01 00:00:06  1  1108.6     30451968
1    2021-06-01 00:00:01 2021-06-01 00:00:06 -1  1108.4     17118720
2    2021-06-01 00:00:01 2021-06-01 00:00:06  1  1108.3    153866496
3    2021-06-01 00:00:02 2021-06-01 00:00:07 -1  1108.4    153371136
4    2021-06-01 00:00:03 2021-06-01 00:00:08  1  1108.3    618378496
...                  ...                 ... ..     ...          ...
8677 2021-07-30 06:25:26 2021-07-30 06:25:31  1  1149.9      2381312
8678 2021-07-30 06:26:37 2021-07-30 06:26:42 -1  1150.2   1296281088
8679 2021-07-30 06:26:52 2021-07-30 06:26:57  1  1150.1  14703859968
8680 2021-07-30 06:27:53 2021-07-30 06:27:58 -1  1150.4  12134184704
8681 2021-07-30 06:28:32 2021-07-30 06:28:37  1  1150.6  14734981632

[8682 rows x 5 columns]

In [721]:
right_date_time

                      Date
0      2021-06-01 00:00:01
1      2021-06-01 00:00:01
2      2021-06-01 00:00:01
3      2021-06-01 00:00:01
4      2021-06-01 00:00:01
...                    ...
397797 2021-07-30 06:29:02
397798 2021-07-30 06:29:03
397799 2021-07-30 06:29:09
397800 2021-07-30 06:29:09
397801 2021-07-30 06:29:09

[397802 rows x 1 columns]

In [722]:
out_1 = pd.concat([right_date_time, out], axis=1)
out_1

                      Date  cross_time_in_exec
0      2021-06-01 00:00:01               False
1      2021-06-01 00:00:01               False
2      2021-06-01 00:00:01               False
3      2021-06-01 00:00:01               False
4      2021-06-01 00:00:01               False
...                    ...                 ...
397797 2021-07-30 06:29:02               False
397798 2021-07-30 06:29:03               False
397799 2021-07-30 06:29:09               False
397800 2021-07-30 06:29:09               False
397801 2021-07-30 06:29:09               False

[397802 rows x 2 columns]

In [723]:
out_1

                      Date  cross_time_in_exec
0      2021-06-01 00:00:01               False
1      2021-06-01 00:00:01               False
2      2021-06-01 00:00:01               False
3      2021-06-01 00:00:01               False
4      2021-06-01 00:00:01               False
...                    ...                 ...
397797 2021-07-30 06:29:02               False
397798 2021-07-30 06:29:03               False
397799 2021-07-30 06:29:09               False
397800 2021-07-30 06:29:09               False
397801 2021-07-30 06:29:09               False

[397802 rows x 2 columns]

In [724]:
out_1 = out_1.loc[result1['cross_time_in_exec'] == True, :]
out_1

                      Date  cross_time_in_exec
64     2021-06-01 00:00:06                True
65     2021-06-01 00:00:06                True
66     2021-06-01 00:00:06                True
67     2021-06-01 00:00:06                True
68     2021-06-01 00:00:06                True
...                    ...                 ...
397335 2021-07-30 06:16:19                True
397508 2021-07-30 06:20:48                True
397699 2021-07-30 06:27:58                True
397700 2021-07-30 06:27:58                True
397701 2021-07-30 06:27:58                True

[5486 rows x 2 columns]

In [725]:
calc_1.columns = calc_1.columns.astype(str)
calc_1 = calc_1.rename({'0': 'date',}, axis=1)
calc_1

                    date                date  date    date         date
0    2021-06-01 00:00:01 2021-06-01 00:00:06     1  1108.6     30451968
1    2021-06-01 00:00:01 2021-06-01 00:00:06    -1  1108.4     17118720
2    2021-06-01 00:00:01 2021-06-01 00:00:06     1  1108.3    153866496
3    2021-06-01 00:00:02 2021-06-01 00:00:07    -1  1108.4    153371136
4    2021-06-01 00:00:03 2021-06-01 00:00:08     1  1108.3    618378496
...                  ...                 ...   ...     ...          ...
8677 2021-07-30 06:25:26 2021-07-30 06:25:31     1  1149.9      2381312
8678 2021-07-30 06:26:37 2021-07-30 06:26:42    -1  1150.2   1296281088
8679 2021-07-30 06:26:52 2021-07-30 06:26:57     1  1150.1  14703859968
8680 2021-07-30 06:27:53 2021-07-30 06:27:58    -1  1150.4  12134184704
8681 2021-07-30 06:28:32 2021-07-30 06:28:37     1  1150.6  14734981632

[8682 rows x 5 columns]

In [726]:
calc_1.columns.values[0] = "date"
calc_1

                    date                date  date    date         date
0    2021-06-01 00:00:01 2021-06-01 00:00:06     1  1108.6     30451968
1    2021-06-01 00:00:01 2021-06-01 00:00:06    -1  1108.4     17118720
2    2021-06-01 00:00:01 2021-06-01 00:00:06     1  1108.3    153866496
3    2021-06-01 00:00:02 2021-06-01 00:00:07    -1  1108.4    153371136
4    2021-06-01 00:00:03 2021-06-01 00:00:08     1  1108.3    618378496
...                  ...                 ...   ...     ...          ...
8677 2021-07-30 06:25:26 2021-07-30 06:25:31     1  1149.9      2381312
8678 2021-07-30 06:26:37 2021-07-30 06:26:42    -1  1150.2   1296281088
8679 2021-07-30 06:26:52 2021-07-30 06:26:57     1  1150.1  14703859968
8680 2021-07-30 06:27:53 2021-07-30 06:27:58    -1  1150.4  12134184704
8681 2021-07-30 06:28:32 2021-07-30 06:28:37     1  1150.6  14734981632

[8682 rows x 5 columns]

In [727]:
calc_1.columns.values[1] = "date_5sec"
calc_1

                    date           date_5sec  date    date         date
0    2021-06-01 00:00:01 2021-06-01 00:00:06     1  1108.6     30451968
1    2021-06-01 00:00:01 2021-06-01 00:00:06    -1  1108.4     17118720
2    2021-06-01 00:00:01 2021-06-01 00:00:06     1  1108.3    153866496
3    2021-06-01 00:00:02 2021-06-01 00:00:07    -1  1108.4    153371136
4    2021-06-01 00:00:03 2021-06-01 00:00:08     1  1108.3    618378496
...                  ...                 ...   ...     ...          ...
8677 2021-07-30 06:25:26 2021-07-30 06:25:31     1  1149.9      2381312
8678 2021-07-30 06:26:37 2021-07-30 06:26:42    -1  1150.2   1296281088
8679 2021-07-30 06:26:52 2021-07-30 06:26:57     1  1150.1  14703859968
8680 2021-07-30 06:27:53 2021-07-30 06:27:58    -1  1150.4  12134184704
8681 2021-07-30 06:28:32 2021-07-30 06:28:37     1  1150.6  14734981632

[8682 rows x 5 columns]

In [728]:
calc_1.columns.values[2] = "side"
calc_1

                    date           date_5sec  side    date         date
0    2021-06-01 00:00:01 2021-06-01 00:00:06     1  1108.6     30451968
1    2021-06-01 00:00:01 2021-06-01 00:00:06    -1  1108.4     17118720
2    2021-06-01 00:00:01 2021-06-01 00:00:06     1  1108.3    153866496
3    2021-06-01 00:00:02 2021-06-01 00:00:07    -1  1108.4    153371136
4    2021-06-01 00:00:03 2021-06-01 00:00:08     1  1108.3    618378496
...                  ...                 ...   ...     ...          ...
8677 2021-07-30 06:25:26 2021-07-30 06:25:31     1  1149.9      2381312
8678 2021-07-30 06:26:37 2021-07-30 06:26:42    -1  1150.2   1296281088
8679 2021-07-30 06:26:52 2021-07-30 06:26:57     1  1150.1  14703859968
8680 2021-07-30 06:27:53 2021-07-30 06:27:58    -1  1150.4  12134184704
8681 2021-07-30 06:28:32 2021-07-30 06:28:37     1  1150.6  14734981632

[8682 rows x 5 columns]

In [729]:
calc_1.columns.values[3] = "price"
calc_1

                    date           date_5sec  side   price         date
0    2021-06-01 00:00:01 2021-06-01 00:00:06     1  1108.6     30451968
1    2021-06-01 00:00:01 2021-06-01 00:00:06    -1  1108.4     17118720
2    2021-06-01 00:00:01 2021-06-01 00:00:06     1  1108.3    153866496
3    2021-06-01 00:00:02 2021-06-01 00:00:07    -1  1108.4    153371136
4    2021-06-01 00:00:03 2021-06-01 00:00:08     1  1108.3    618378496
...                  ...                 ...   ...     ...          ...
8677 2021-07-30 06:25:26 2021-07-30 06:25:31     1  1149.9      2381312
8678 2021-07-30 06:26:37 2021-07-30 06:26:42    -1  1150.2   1296281088
8679 2021-07-30 06:26:52 2021-07-30 06:26:57     1  1150.1  14703859968
8680 2021-07-30 06:27:53 2021-07-30 06:27:58    -1  1150.4  12134184704
8681 2021-07-30 06:28:32 2021-07-30 06:28:37     1  1150.6  14734981632

[8682 rows x 5 columns]

In [730]:
calc_1.columns.values[4] = "delta"
calc_1

                    date           date_5sec  side   price        delta
0    2021-06-01 00:00:01 2021-06-01 00:00:06     1  1108.6     30451968
1    2021-06-01 00:00:01 2021-06-01 00:00:06    -1  1108.4     17118720
2    2021-06-01 00:00:01 2021-06-01 00:00:06     1  1108.3    153866496
3    2021-06-01 00:00:02 2021-06-01 00:00:07    -1  1108.4    153371136
4    2021-06-01 00:00:03 2021-06-01 00:00:08     1  1108.3    618378496
...                  ...                 ...   ...     ...          ...
8677 2021-07-30 06:25:26 2021-07-30 06:25:31     1  1149.9      2381312
8678 2021-07-30 06:26:37 2021-07-30 06:26:42    -1  1150.2   1296281088
8679 2021-07-30 06:26:52 2021-07-30 06:26:57     1  1150.1  14703859968
8680 2021-07-30 06:27:53 2021-07-30 06:27:58    -1  1150.4  12134184704
8681 2021-07-30 06:28:32 2021-07-30 06:28:37     1  1150.6  14734981632

[8682 rows x 5 columns]

In [731]:
out_1.columns.values[0] = "date_5sec"
out_1

                 date_5sec  cross_time_in_exec
64     2021-06-01 00:00:06                True
65     2021-06-01 00:00:06                True
66     2021-06-01 00:00:06                True
67     2021-06-01 00:00:06                True
68     2021-06-01 00:00:06                True
...                    ...                 ...
397335 2021-07-30 06:16:19                True
397508 2021-07-30 06:20:48                True
397699 2021-07-30 06:27:58                True
397700 2021-07-30 06:27:58                True
397701 2021-07-30 06:27:58                True

[5486 rows x 2 columns]

In [732]:
calc_1

                    date           date_5sec  side   price        delta
0    2021-06-01 00:00:01 2021-06-01 00:00:06     1  1108.6     30451968
1    2021-06-01 00:00:01 2021-06-01 00:00:06    -1  1108.4     17118720
2    2021-06-01 00:00:01 2021-06-01 00:00:06     1  1108.3    153866496
3    2021-06-01 00:00:02 2021-06-01 00:00:07    -1  1108.4    153371136
4    2021-06-01 00:00:03 2021-06-01 00:00:08     1  1108.3    618378496
...                  ...                 ...   ...     ...          ...
8677 2021-07-30 06:25:26 2021-07-30 06:25:31     1  1149.9      2381312
8678 2021-07-30 06:26:37 2021-07-30 06:26:42    -1  1150.2   1296281088
8679 2021-07-30 06:26:52 2021-07-30 06:26:57     1  1150.1  14703859968
8680 2021-07-30 06:27:53 2021-07-30 06:27:58    -1  1150.4  12134184704
8681 2021-07-30 06:28:32 2021-07-30 06:28:37     1  1150.6  14734981632

[8682 rows x 5 columns]

In [733]:
market_prices_1.describe()

                 2            4  mid_price_5sec
count  5486.000000  5486.000000     5486.000000
mean   1149.370634  1015.851294     1082.610964
std      38.705850   351.476721      158.080510
min    1105.300000     1.100000      611.350000
25%    1131.400000  1117.800000     1117.750000
50%    1142.800000  1137.400000     1136.750000
75%    1150.100000  1148.500000     1147.850000
max    1271.600000  1289.600000     1212.250000

In [734]:
market_prices_1.iloc[:, 2].mean()

1082.6109642726958

Не знал как связать два датасета, поэтому для заполнения взял среднюю по по всем средним ценам через 5 секунд после конкретной сделки.

In [735]:
calc_1.insert(5, 'mid_price_5sec', 1082.61)
calc_1

,date,date_5sec,side,price,delta,mid_price_5sec
0,2021-06-01 00:00:01,2021-06-01 00:00:06,1,1108.6,30451968,1082.61
1,2021-06-01 00:00:01,2021-06-01 00:00:06,-1,1108.4,17118720,1082.61
2,2021-06-01 00:00:01,2021-06-01 00:00:06,1,1108.3,153866496,1082.61
3,2021-06-01 00:00:02,2021-06-01 00:00:07,-1,1108.4,153371136,1082.61
4,2021-06-01 00:00:03,2021-06-01 00:00:08,1,1108.3,618378496,1082.61
...,...,...,...,...,...,...
8677,2021-07-30 06:25:26,2021-07-30 06:25:31,1,1149.9,2381312,1082.61
8678,2021-07-30 06:26:37,2021-07-30 06:26:42,-1,1150.2,1296281088,1082.61
8679,2021-07-30 06:26:52,2021-07-30 06:26:57,1,1150.1,14703859968,1082.61
8680,2021-07-30 06:27:53,2021-07-30 06:27:58,-1,1150.4,12134184704,1082.61
8681,2021-07-30 06:28:32,2021-07-30 06:28:37,1,1150.6,14734981632,1082.61

In [736]:
calc_1["dmid5"] = ""
calc_1["dmid5"] = (calc_1.iloc[:, 5] - calc_1.iloc[:, 3])*calc_1.iloc[:, 2]
calc_1

,date,date_5sec,side,price,delta,mid_price_5sec,dmid5
0,2021-06-01 00:00:01,2021-06-01 00:00:06,1,1108.6,30451968,1082.61,-25.99
1,2021-06-01 00:00:01,2021-06-01 00:00:06,-1,1108.4,17118720,1082.61,25.79
2,2021-06-01 00:00:01,2021-06-01 00:00:06,1,1108.3,153866496,1082.61,-25.69
3,2021-06-01 00:00:02,2021-06-01 00:00:07,-1,1108.4,153371136,1082.61,25.79
4,2021-06-01 00:00:03,2021-06-01 00:00:08,1,1108.3,618378496,1082.61,-25.69
...,...,...,...,...,...,...,...
8677,2021-07-30 06:25:26,2021-07-30 06:25:31,1,1149.9,2381312,1082.61,-67.29
8678,2021-07-30 06:26:37,2021-07-30 06:26:42,-1,1150.2,1296281088,1082.61,67.59
8679,2021-07-30 06:26:52,2021-07-30 06:26:57,1,1150.1,14703859968,1082.61,-67.49
8680,2021-07-30 06:27:53,2021-07-30 06:27:58,-1,1150.4,12134184704,1082.61,67.79
8681,2021-07-30 06:28:32,2021-07-30 06:28:37,1,1150.6,14734981632,1082.61,-67.99

In [737]:
print(calc_1.iloc[:, 6].corr(calc_1.iloc[:, 4]))

-0.038684121410154274